/*** Product View list & Grid ***/
.grid, .list {
	width: 20px; 
	height:20px; 
	margin-left: 10px; 
	float: right; 
	cursor:  pointer; 
	padding: 5px; 
}

.grid {
	background:#b0b0b0 url(../images/global_sprite.png) -237px -298px no-repeat;
}
.grid:hover {
	background: #f48000 url(../images/global_sprite.png) -237px -298px no-repeat;
}
.grid-active { 
	background: #f48000 url(../images/global_sprite.png) -237px -298px no-repeat; 
}

.list {
	background: #b0b0b0  url(../images/global_sprite.png) -292px -298px no-repeat;
}
.list:hover {
	background: #f48000 url(../images/global_sprite.png) -292px -298px no-repeat;
}
.list-active{
	background: #f48000 url(../images/global_sprite.png) -292px -298px no-repeat;
}


/* Grid Style */
.product {
	width: 220px; 
	padding: 3px;
	background-color: #fff;
	margin: 8px;
	float: left;
	text-align: center;
	border: 1px solid #ecebeb;
/*	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition:    all 0.5s ease-in-out;
	-o-transition:      all 0.5s ease-in-out;
	transition:         all 0.5s ease-in-out;*/
}

.product:hover {
	border: 1px solid #ff4400;
	-webkit-box-shadow: 0 14px 14px -10px #bab6b6;
	   -moz-box-shadow: 0 14px 14px -10px #bab6b6;
	        box-shadow: 0 14px 14px -10px #bab6b6;
}

/*.product-list img:first-child{
	float: left;
}*/
.product h3 a{
	text-decoration: none;
	margin: 10px 0;
	color:#888;
	font-size: 12px;
	font-weight: normal;
	display: inline-block;
}

.product h3 a:hover {
	color: #ff4400;
}
.product p{ display: none;}

.product .price{
/*	width: 60px;*/
	display: inline; 
	font-size: 18px;
	font-family: 'Roboto',sans-serif;
	color: #ff4400;
}

.price span {
	color: #494949;
}

.product .buy-ico{
	width: 100px;
	padding:5px;
	display: inline-block;
	margin: 5px auto;
	cursor: pointer;
	background: #b0b0b0 50%  no-repeat;
	-webkit-transition:background-color 0.3s ease-in;  
   	-moz-transition:background-color 0.3s ease-in;  
   	-o-transition:background-color 0.3s ease-in;  
   	transition:background-color 0.3s ease-in;
}
.product .buy-ico:hover{
	background-color: #ff4400;
}

.product_info_bottom {
	margin-top: 10px;
}

.product_info_bottom div:first-child {
	float: left;
}

.product_info_bottom div + div {
	float: right;
}

/* List View Style */
.product-list {
	height: 150px;
	width: 958px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ecebeb;
	margin-top: 10px;
/*	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition:    all 0.5s ease-in-out;
	-o-transition:      all 0.5s ease-in-out;
	transition:         all 0.5s ease-in-out;*/
}

.product-list > a {
	float: left;
}

.product-list:hover {
	border: 1px solid #ff4400;
}

.product-list img {
    max-width:150px;
    max-height:150px;
    width: auto;
    height: auto;
}

.product-list h3 a{
	text-decoration: none;
	width:320px;
	float: left;
	padding:0;
	margin: 0 10px;
	color:#3c2e25;
/*	font: italic normal 22px georgia;*/
	font: normal 12px;

}
.product-list p{
	color: #888;
	width:360px;
	float: left;

	margin: 0px 10px 10px 10px;
	font: normal 12px;
	line-height: 20px;
}
.product-list .buy-ico{
	border-radius: 5px;
	width: 85px; 
	height: 20px;
	color: #fff;
	padding: 5px 5px 5px 30px;
	font:italic 12px georgia;
	float: right;
	margin: 5px;
	cursor: pointer;

	background: #039fd3 url(../img/bag-ico.png) 5% 50%  no-repeat;
	-webkit-transition:background-color 0.3s ease-in;  
   	-moz-transition:background-color 0.3s ease-in;  
   	-o-transition:background-color 0.3s ease-in;  
   	transition:background-color 0.3s ease-in;
}
.product-list .buy-ico:before{content: "More Details";	line-height: 22px;  }
.product-list .buy-ico:hover{	background-color: #7eb800;}

.product-list .old{	
		color: #be0000 !important; 
	float: right;	
	font-style: 18px;
	text-decoration: line-through;
}
.product-list .price{
	margin-right: 10px;
	display: block; 
	font-size: 18px;
	font-family: 'Roboto',sans-serif;
	color: #ff4400;
	margin:7px;
}
.product-list .price-cnt{ 
	width: 220px;
	height: auto; 
	float: left; 
	text-align: center;
}

.product-list div.product_info_bottom {
	display: inline-block;
}

.product-list div.product_info_bottom div {
	width: 124px;
}

.product-list div.product_info_bottom div + div {
	text-align: right;
}
