/* =============================================
---------------------  Header -----------------
==============================================*/

#header .btn {
  padding: 7px 12px;
  border-radius:0;
}

#main-nav-container #main-nav #responsive-nav ul li:first-child {
	border-top:none;
}

#main-nav-container #main-nav #responsive-nav ul li:last-child {
	border-bottom:none;
}

#main-nav-container #main-nav #responsive-nav ul li a:hover {
	color:#ff893b;
}

#main-nav-container #main-nav #responsive-nav ul li ul {
	display:none;
	box-shadow:none;
	-webkit-box-shadow:none;
}

#main-nav-container #main-nav #responsive-nav ul li ul,
#main-nav-container #main-nav #responsive-nav ul li ul li ul {
	width:100%;
	position:relative;
	border-top:1px solid rgba(200, 200, 200, 0.2);
}

#main-nav-container #main-nav #responsive-nav ul li ul li {
	font:700 16px/22px "Conv_HelveticaLTStd-Light", Arial, sans-serif;
	background:#f6f6f6;
}

#main-nav-container #main-nav #responsive-nav ul li ul li ul li {
	font-size:15px;
	line-height:20px;
	background:#f0f0f0;
}

#main-nav-container #main-nav #responsive-nav ul li ul a {
	padding:10px 0 10px 30px !important;
}

#main-nav-container #main-nav #responsive-nav ul li ul li ul a{
	padding:10px 0 10px 45px !important;
}


#main-nav-container #main-nav  #responsive-nav  ul li .mega-menu {
	position: relative;
	width:100%;
	display:none;
	padding:0;
	border-top:1px solid rgba(200, 200, 200, 0.2);
}

#main-nav-container #main-nav  #responsive-nav  ul li .mega-menu .col-2,
#main-nav-container #main-nav  #responsive-nav  ul li .mega-menu .col-3,
#main-nav-container #main-nav  #responsive-nav  ul li .mega-menu .col-4,
#main-nav-container #main-nav  #responsive-nav  ul li .mega-menu .col-5 {
	float:none;
	width:100%;
	padding:0 !important;
	position:relative;
	text-overflow:ellipsis;
}

#main-nav-container #main-nav  #responsive-nav  ul li .mega-menu .col-2 > a,
#main-nav-container #main-nav  #responsive-nav  ul li .mega-menu .col-3 > a,
#main-nav-container #main-nav  #responsive-nav  ul li .mega-menu .col-4 > a,
#main-nav-container #main-nav  #responsive-nav  ul li .mega-menu .col-5 > a {
	padding:10px 0 10px 30px !important;
	border-top:1px solid rgba(200, 200, 200, 0.2);
	border-bottom:1px solid rgba(255, 255, 255, 0.5);
}

#main-nav-container #main-nav  #responsive-nav  ul li .mega-menu .col-2:first-child > a,
#main-nav-container #main-nav  #responsive-nav  ul li .mega-menu .col-3:first-child > a,
#main-nav-container #main-nav  #responsive-nav  ul li .mega-menu .col-4:first-child > a,
#main-nav-container #main-nav  #responsive-nav  ul li .mega-menu .col-5:first-child > a {
	border-top:none;
}

#main-nav-container #main-nav  #responsive-nav  ul li .mega-menu .col-2:last-child > a,
#main-nav-container #main-nav  #responsive-nav  ul li .mega-menu .col-3:last-child > a,
#main-nav-container #main-nav  #responsive-nav  ul li .mega-menu .col-4:last-child > a,
#main-nav-container #main-nav  #responsive-nav  ul li .mega-menu .col-5:last-child > a {
	border-bottom:none;
}

.menu-button {
	display:block;
	width:40px;
	text-align:right;
	padding-right:15px;
	position:absolute;
	right:0;
	cursor:pointer;
	font-weight:400;
	z-index:1000;
	top:0;
	background-image: url('../images/sprites/sprite.png');
	background-repeat: no-repeat;

}

.menu-button:hover {
	color:#ff893b;
}

#main-nav-container #main-nav #responsive-nav ul li .menu-button {
	height:49px;
	background-position: 0 -360px;
}

#main-nav-container #main-nav #responsive-nav ul li .menu-button.active {
	background-position: -40px -360px;
	
}

#main-nav-container #main-nav #responsive-nav ul li .mega-menu .menu-button {
	height:43px;
	background-position: 0 -363px;
}

#main-nav-container #main-nav #responsive-nav ul li .mega-menu .menu-button.active {
	background-position: -40px -363px;
	
}

#main-nav-container #main-nav #responsive-nav ul li ul li .menu-button {
	height:42px;
	background-position: 0 -364px;
}

#main-nav-container #main-nav #responsive-nav ul li ul li .menu-button.active {
	background-position: -40px -364px;
}

#main-nav-container.fixed  #responsive-nav  {
	padding-bottom:0;
}

#responsive-nav-button {
	font:700 20px/38px 'Conv_HelveticaLTStd-Light', Arial, sans-serif;
	color:#494940;
	text-transform:uppercase;
	margin-top:2px;
	cursor:pointer;
	-webkit-user-select:none;
	user-select:none;
}

#responsive-nav-button #responsive-nav-button-icon {
	display:inline-block;
	width:35px;
	height:35px;
	background-image:url(../images/sprites/responsive-menu-icon.png);
	background-repeat:no-repeat;
	background-position:center center;
	vertical-align:top;
	border-radius:3px;
/*	margin-left:15px;
	margin-top:1.5px;*/
	transition:background-color 0.4s;
	-webkit-transition:background-color 0.4s;
	-moz-transition:background-color 0.4s;
}

#responsive-nav-button:hover #responsive-nav-button-icon,
#responsive-nav-button.active  #responsive-nav-button-icon {
	background-color:#ff893b;
}

#main-nav-container.fixed #main-nav #responsive-nav {
	margin:3.5px 0;
	padding-bottom:0;
}


/* Search Navigation */
.nav-searchfield-width select {
	max-width: 128px;
	width: 100%
}

.nav-searchfield-width input[type="text"] {
	border-radius: 4px;
	max-width: 487px;
	padding-left: 12px !important;
	width: 100%;
}

.nav-submit-button input[type="submit"],
.sticky-search-wrapper input[type="submit"] {
    background-color: #ff893b;
    background-position: -948px -250px;
    border: none;
    height: 34px;
    width: 45px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#nav-searchbar .nav-submit-button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-radius: 4px;
    border-width: 1px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 35px;
    margin-left:10px;
    overflow: hidden;
    position: relative;
    width: auto;
    z-index: 1;
}

.dropdown-cart-menu-container {
	padding-bottom:8px;
	position: relative;
	margin-left:20px;
}

.suggested-result-container {
	display: none;
	top: 38px;
}

.suggested-result-container2 {
	display: none;
	left: 0 !important;
	text-align: left;
	top: 52px !important;
	width: 100%;
}

.suggested-result-container,
.suggested-result-container2 {
	background-color: rgb(255, 255, 255);
	padding: 10px 0;
	position: absolute;
	z-index: 9991;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.35);
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.35);
}

/*.suggested-result-container ul li,
.suggested-result-container2 ul li {
	padding-left: 10px;
}*/

.sr-title {
	background-color: #e2e2e2;
	padding: 0 10px;
}

.sr-bold {
	font-weight: 900;
}

.suggested-result-container2 li {
	line-height: 24px;
}

.suggested-result-container strong,
.suggested-result-container2 strong {
	font-weight: 900;
}

.suggested-result-container a,
.suggested-result-container2 a {
	color: #565656;
	display: block;
	font-size: 13px;
	padding: 4px 10px;
}

.suggested-result-container a:hover,
.suggested-result-container2 a:hover {
	background-color: #868686;
	color: #fff;
}

/* =============================================
----------------- Responsive  ------------------
==============================================*/
@media (min-width: 991px) {
	.suggested-result-container {
		width: 330px;
	}

	.suggested-result-container2 {
		left: 22%;
		top: 47px !important;
		width: 250px;
	}
}

/* Large desktop */
@media (min-width: 1200px) {

	.title {
		font-size:42px;
	}

	.suggested-result-container {
		width: 486px;
	}

	.suggested-result-container2 {
		width: 338px;
	}

	.suggested-result-container2 {
		left: 28% !important;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	
	.title {
		font-size:38px;
	}
 	
 	#header-top .header-text-container,
 	#header-top .header-link {
 		margin-right:0;
 	}
 	
 	.header-inner-right-wrapper {
 		margin-top: 0
 	}

 	#main-nav-container #main-nav .menu .drop-category a{
 		padding-right:110px;
 	}

 	#main-nav-container #main-nav .menu li > .mega-menu {
		width:720px;
	}
	
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
	.title {
		font-size:30px;
	}

 	/* helper classes */
 	.hide-for-xs {
		display:none;
	}
	
	.hide-for-lg {
		display:inline;
	}
	
 	.header-top-dropdowns .btn {
 		min-width:45px;
 	}

 	#top-links li  {
 		margin:0;
 	}

	#top-links li a {
		padding:0 15px;
 		border-right:1px solid #dcdcdc;
		height:22px;
		margin-left:15px;
	}

	#top-links li:first-child a .top-icon {
		left:15px;
	}

	#top-links li:first-child a {
		border-left:1px solid #dcdcdc;
		margin-left:0;
	}

	#header .dropdown-menu > li > a {
		text-align:center;
	}

	#inner-header {
		padding-top:75px;
	}
	
	#inner-header .logo-container {
		margin-bottom: 90px;
	}

	#inner-header .header-inner-right {
		margin-bottom:0;
		position: relative;
	}
	
	.header-inner-right-wrapper {
		position: absolute;
		right:15px;
		top:8px;
		z-index:1000;
	}

	
	#main-nav-container #main-nav {
		position:static;
		border:none;
	}
	
	.col-2 {
		padding-left:15px;
	}
	
 	.item {
 		text-align: center;
 	}
 	
 	.item-price-container {
 		float:none;
 		display:block;
 	}

 	.logo {
		text-align:center;

	}
	
	.logo > a {
		margin-left:0;
		display:inline-block;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	#top-links li a {
		padding: 0 8px;
	}
}



