.pagination {
	float: right;
/*	border: 1px solid #ff4400;*/
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	margin:20px 0;
}

.pagination a {
    background-color: #b3b2b2;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: bold;
    height: 35px;
    line-height: 33px;
    outline: medium none;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 35px;

}

.pagination a:hover, .pagination a:focus, .pagination a:active {
	color: #fff;
	background-color: #646464;
}

.pagination a.disabled,
.pagination a.disabled:hover, 
.pagination a.disabled:focus, 
.pagination a.disabled:active {
	background-color: #b3b2b2;
	color: #fff;
}

.pagination a:first-child {
	border-radius: 2px 0 0 2px;
	-moz-border-radius: 2px 0 0 2px;
	-webkit-border-radius: 2px 0 0 2px;
}

.pagination a:last-child {
	border-radius: 0 2px 2px 0;
	-moz-border-radius: 0 2px 2px 0;
	-webkit-border-radius: 0 2px 2px 0;
}

.pagination a {
	border-right: 1px solid #fff; 
	border-left: 1px solid #fff;   
}

.pagination a:first-child {
	border: none;
}

.pagination a:last-child {
	border: none;
}

.pagination input {
	border: none;
	float: left;
	font-size: 11px;
	height: 35px;
	margin: 0;
	outline: none;
	padding: 0;
	text-align: center;
	width: 120px;
	vertical-align: middle;
}

/* gigantic class for demo purposes */

.gigantic.pagination {
	margin: 30px 0;
}

.gigantic.pagination a {
	height: 60px;
	width: 60px;
	font-size: 50px;
	line-height: 50px;
}

.gigantic.pagination input {
	width: 300px;
	height: 60px;
	font-size: 30px;
}

/* log element for demo purposes */

.log {
	display: none;
	background-color: #EDEDED;
	border: 1px solid #B4B4B4;
	height: 300px;
	width: 524px;
	overflow: auto;
	margin-left: 0;
	list-style: none;
	padding: 10px;
	li {
		margin-top: 0;
		margin-bottom: 5px;
	}
}