@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700);

@font-face {
    font-family: Helvetica;
    src: url(/assets/fonts/HelveticaNeueLTCom-Th.ttf);
    font-weight: 100;
}

@font-face {
    font-family: Helvetica;
    src: url(/assets/fonts/HelveticaNeueLTCom-Md.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Helvetica;
    src: url(/assets/fonts/HelveticaNeueLTCom-Bd.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Helvetica;
    src: url(/assets/fonts/HelveticaNeueLTCom-It.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Helvetica;
    src: url(/assets/fonts/HelveticaNeueLTCom-Roman.ttf);
    font-weight: 600;
}

/*** global style ***/
html, body{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    background: #ebedf0;
    letter-spacing: 0.5px;
}

section {
    margin-top: 0;
}

ul,ol {
    list-style-type:none;
    padding:0;
    margin:0;
}

a:active,
a:hover,
a:focus {
    text-decoration:none;
    color:#ff530d;
}

a:active,
a:focus,
input,
select,
textarea {
    outline:none;
}

.form-control:focus{
    box-shadow: none !important;
    border-color: #565656!important;
}

.loader-upload{
    position: fixed;
    background: #fff;
    opacity: .9;
    width: 100%;
    height: 100%;
    z-index: 99999999999;
    top: 0;
    text-align: center;
}

.loader-upload img{
    display: inline-block;
    text-align: center;
    margin-top: 100px;
    opacity: 1;
}

.loader-upload span{
    display: block;
    text-align: center;
    display: block;
    font-weight: bold;
    color: #565656;
}

.a-filter, .a-category{
    cursor: pointer;
}

.container-non-responsive{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    width: 1170px;
}

.ui-form-control{
    border: solid #ccc 1px;
}

.wrapper {
    width: 1190px !important;
    max-width: 1190px !important;
}

.main-container {
    font-size: 1.125em;
    color: #565656;
    margin: 0 auto;
    /*width: 1200px;*/
    padding: 0 5px;
/*    max-width: 1190px;
    width: 100%;*/
}

.cl-1 {
    color: #426fcc;
}

.btn {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.btn.btn-default-1 {
    border: 2px solid #565656;
    background-color: #fff;
    color: #565656;
}

.btn.btn-default-1:hover {
    background-color: #585a59;
    color: #fff;
}


.btn.btn-default-2 {
    border-bottom: 2px solid #355ba9;
    background-color: #4370cd;
    color: #fff;
}

.btn.btn-default-2:hover {
    border-bottom: 2px solid #2d4d8e;
    background-color: #355ba9;
    color: #fff;
}

.btn.btn-default-3 {
    border-bottom: 2px solid #007c67;
    background-color: #00a388;
    color: #fff;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.btn.btn-default-3:hover {
    border-bottom: 2px solid #006655;
    background-color: #02846f;
    color: #fff;
}

.btn.btn-default-4 {
    border-bottom: 2px solid #e07934;
    background-color: #fe893a;
    color: #fff;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.btn.btn-default-4:hover {
    border-bottom: 2px solid #C93B21;
    background-color: #FF4E2D;
    color: #fff;
}

.cart-icon {
    background-position: -990px -250px;
}

/*** end global style ***/

/*** New Header style ***/
.new-header-con {
    background-color: #fff;
    border-top: 2px solid #4370cc;
    min-height: 50px;
    padding: 6px 0;
    position: relative;
    z-index: 5;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.35);
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.35);
}

.vendor-christmas-theme {
    background: #fff url(../images/img-snow.jpg) no-repeat bottom center;
    border-top: 2px solid #4370cc;
    min-height: 50px;
    padding: 6px 0;
    position: relative;
    z-index: 5;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.35);
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.35);
}

.vendor-christmas-theme-logo {
    height: auto;
    max-height: 70px;
    max-width: 135px;
    width: auto;
}

/*.new-header-con .main-container > div,
.vendor-christmas-theme .main-container > div {
    float: left;
}*/

.search-container {
    margin: 0 8px 0 0px;
}

.search-container > input {
    height: 33px;
}

.search-container > input[type="text"] {
    margin-right: 4px;
}

.new-header-con .cart-icon-con {
    margin-right: 18px;
}

.vendor-log-in-wrapper {
    width: 200px;
    text-align: right;
}

.vendor-login-con {
    background-color: #4370cc;
    border-radius: 4px;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    float: none !important;
    height: 33px;
    line-height: 33px;
    margin: 0 auto;
    padding: 0 35px 0px 10px;
    position: relative;
    text-align: left;
}

.vendor-login-con.vendor-out-con {
    max-width: 245px;
    margin-top: 1px;
    padding: 0 9px;
    width: 100%; 
}

.vendor-out-con img {
    margin-right: 5px;
}

.message-count-con {
    color: #fff;
    background-color: #ff613a;
    border-radius: 90px;
    height: 20px;
    left: -5px;
    line-height: 19px;
    position: absolute;
    text-align: center;
    top: -5px;
    width: 20px;
}

.vendor-login-con a {
    color: #fff;
    display: inline-block;
    font-weight: bold;
/*    float: left;*/
    vertical-align: middle;
}

.vendor-login-con a:hover {
    color: #fff;
    text-decoration: none;
}

.user-login img {
    border-radius: 90px;
    display: inline-block;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    width: 20px;
}

.vendor-login-name span {
    display: inline-block;
    font-weight: bold;
    height: 34px;
    margin-right: 10px;
    max-width: 109px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}

.new-user-nav-dropdown {
    position: absolute;
    right: 0;
    top: 0;
}

.new-user-nav-dropdown .user-nav-dropdown {
    margin-right: 18px;
}

.new-user-nav-dropdown .user-nav-dropdown:after {
    border-color:#fff transparent transparent transparent;
    top: 15px;
}

.vendor-login-con:hover .nav-dropdown {
    display: inline-block;
}

.vendor-login-con .nav-dropdown {
    position: absolute;
    right: 0px;
    width: 220px;
}

.vendor-login-con .nav-dropdown li a {
    color: #565656;
    float: none;
}

.vendor-login-con .nav-dropdown li a:hover {
    color: #fff;
}

.nav-dropdown-border .message-count-con {
    left: auto;
    top: 7px;
    right: 7px;
}

/*** Vendor style ***/
.vendor-main {
    left: 0;
    right: 0;
    top: 0;
}

.vendor-main-bg {
    background-color: #cecece;
    height: 365px;
    text-align: center;
    overflow: hidden;
    position: relative;
/*    min-width: 1190px;*/
    width: 100%;
}

.vendor-main-bg img {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#banner_edit img {
    bottom: 0;
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    transform: inherit;
    -webkit-transform: inherit;;
    -ms-transform: inherit;
}

.vendor-profile-content {
    background-color: rgba(255,255,255,0.9);
    height: 365px;
    max-width: 326px;
    padding: 44px 0px 32px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 4;
}

.vendor-profile-img {
    display: block;
    height: 110px;
    margin: auto;
    width: 110px;
}

.vendor-profile-img-con {
    position: relative;
    height: 108px;
}

.vendor-profile-photo-wrapper {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
    height: 108px;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 109px;
}

.vendor-profile-img-con img {
    bottom: 0;
    height: auto;
    left: 0;
    margin: auto;
    max-width: 105px;
    max-height: 110px;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.avatar-image-mobile{
    display: none;
}

.vendor-profile-content h4 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 31px;
    overflow: hidden;
    padding: 0 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.vendor-profile-content p {
    font-size: 0.85em;
    margin-bottom: 0;
}

.vendor-profile-btn {
    margin-top: 34px;
}

.vendor-profile-btn a,
.vendor-profile-btn .subscription_btn {
    font-weight: bold;
    max-width: 133px;
    width: 47%;
}

.vendor-profile-btn .subscription_btn {
    margin-right: 10px;
}

#banner-cancel-changes {
    margin-right: 4%;
}

.subscription_btn span {
    margin-right: 5px;
}

.icon-message-btn {
    background: url(../images/img-icon-mail.png) no-repeat top left;
    display: inline-block;
    height: 18px;
    margin-right: 5px;
    vertical-align: middle;
    width: 18px;
}

.vendor-profile-btn .btn-default-1:hover .icon-message-btn {
    background: url(../images/img-icon-mail-hover.png) no-repeat top left;
}

/*** vendor profile edit ***/

.edit-cover-photo {
    background-color: rgba(0,0,0,.75);
    height: 365px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    z-index: 2;
}

.edit-cover-photo a {
    color: #fff;
    display: block;
    height: 365px;
    left: 0;
    margin: auto;
    padding-top: 135px;
    position: absolute;
    right: 0;
}

.edit-cover-photo a:hover {
    color: #fff;
    text-decoration: none;
}

.edit-profile-photo {
    background-color: rgba(0,0,0,.75);
    cursor: pointer;
    height: 108px;
    position: absolute;
    top: 0px;
    width: 109px;
    z-index: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.edit-profile-photo div {
    color: #fff;
    left: 0;
    padding: 19px 0;
    position: absolute;
}

.edit-profile-photo img {
    position: relative;
    max-width: 38px;
    z-index: 1;
}

.edit-profile-photo span {
    display: block;
    font-size: 12px;
    font-weight: 900;
    margin-top: 5px;
}

.seller-name {
    margin-top: 12px;
}

.edit-vendor-location .chosen-container-single {
    width: 49% !important;
}

.edit-vendor-location .chosen-container-single .chosen-single {
    height: 32px;
    line-height: 32px;
}

.edit-profile-btn {
    margin-top: 14px;
}

.edit-profile-photo-menu {
    background-color: #fff;
    border-top: 4px solid #4370cd;
    border-radius: 4px;
    display: none;
    font-size: 12px;
    left: -15px;
    min-width: 138px;
    position: absolute;
    top: 110px;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.35);
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.35);
}

.edit-profile-photo-menu > div {
    border-bottom: 1px solid #dcdcdc;
    height: 30px;
    line-height: 30px;
}

.edit-profile-photo-menu > div a {
    color: #b9b9b9;
}

.edit-profile-photo-menu > div a:hover {
    color: #4370cd;
    text-decoration: none;
}

/** edit photo modal **/


.edit-banner-container {
    max-height: 511px !important;
}

.jcrop-holder {
    background-color: #fff !important;
    height: 325px !important;
    margin: 10px auto;
}

.jcrop-holder img {
    height: auto !important;
    margin: auto !important;
    max-height: 296px;   
    max-width: 500px;
    right: 0;
}

/*.jcrop-holder div + div + input + div > div {
    height: auto !important;
    max-height: 296px !important;
}*/

.jcrop-tracker {
    bottom: 0;
    height: 325px !important;
    left: 0 !important;
    margin: auto;
    right: 0;
    top: 0 !important;
}
    
#div_user_image_prev {
    text-align: center;
}

#div_user_image_prev h1 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}

.img-editor-container {
    height: 340px;
    border-bottom: 1px solid #cecece;
    margin-bottom: 20px;
}

.img-editor-container img {
    width: auto;
    height: auto;
    max-width: 500px !important;
    max-height: 320px !important;
}

#div_user_image_prev span {
    background-color: #fff;
    color: #565656;
    display: inline-block;
    margin-right: 14px;
    padding: 6px 12px;
    width: 136px;
}

#div_user_image_prev span:hover {
    background-color: #585a59;
    color: #fff;
}

#div_user_image_prev button {
    background-color: #00a388;
    border-bottom: 2px solid #007c67;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    height: auto;
    line-height: 23px;
    margin: 0;
    width: 136px;
}

#div_user_image_prev button:hover {
    border-bottom: 2px solid #006655;
    background-color: #02846f;
    color: #fff;
}

#div_user_image_prev button:focus {
    outline: none;
}

#simplemodal-container a.modalCloseImg {
    background: url(../images/img-close.png) no-repeat;
}

.edit-banner-container {
    max-height: 489px !important;
}

.jcrop-holder {
    margin: 10px auto;
}

.edit-vendor-location .chosen-container-single {
    width: 49% !important;
    text-align: left;
}

.edit-vendor-location .chosen-container-single .chosen-single {
    height: 32px;
    line-height: 32px;
}

.edit-vendor-location .chosen-container .chosen-results li.highlighted {
    background-image: none;
    background-color: #e0e0e0;
    color: #565656;
}

/*** vendor navigation ***/

.sticky-nav-bg {
    background-color: #ecedf1;
    min-height: 74px;
}
.no-padding {
    padding: 0px !important;

}

.vendor-menu-nav,
.persistent-nav-container {
    background-color: #fff;
    height: 55px;
    margin-bottom: 0px;
/*    min-width: 1190px;*/
    width: 100%;
    z-index: 99999;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.35);
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.35);
}

.persistent-nav-container .main-container {
    padding-top: 10px;
}

.vendor-nav {
    list-style: none;
    margin-left: 347px;
    margin-bottom: 0;
}

.vendor-nav li,
.persistent-nav-container .sticky-nav li {
    float: left;
}

.vendor-nav li:first-child a {
/*    display: table-cell;
    vertical-align: middle;*/
}

.vendor-nav li:first-child a img {
    vertical-align: middle;
}

.vendor-nav li:first-child a:before {
    content: " ";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.vendor-nav li a {
    border-bottom: 3px solid #fff;
    color: #565656;
    display: block;
    font-size: 12px;
    height: 55px;
    line-height: 55px;
    padding: 0 21px;
    position: relative;
    text-align: center;
    vertical-align: middle;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:    all 0.3s ease-in-out;
    -o-transition:      all 0.3s ease-in-out;
    transition:        all 0.3s ease-in-out;
}

.vendor-nav li a:hover {
    border-bottom: 3px solid #fe893a;
    text-decoration: none;
}

.vendor-nav li a.vendor-nav-active {
    color: #fe893a;
    border-bottom: 3px solid #fe893a;
}

.followers-circle{
    background: #fe893a;
    position: absolute;
    color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size:12px;
    text-align: center;
    padding-top: 5px;
    left: 0;
    margin: auto;
    right: 0;
    top: -16px;
}

.fixed-vendor-content {
    margin-top: 100px;
}

.sticky-nav-fixed.persistent-christmas-theme {
    background: #fff url(../images/img-snow.jpg) no-repeat bottom center;
}

.sticky-nav-fixed:hover {
    background-color: rgba(255,255,255,1);
}

.persistent-nav-container {
    display: none;
}

.persistent-nav-container.sticky-nav-fixed {
    list-style: none;height: 55px;
}

.sticky-nav li {
    text-align: center;
}

.sticky-nav li:first-child {
    width: 28%;
    text-align: left;
}

.sticky-nav li:nth-child(2) {
    width: 11%;
}

.sticky-nav li:nth-child(3) {
    text-align: right;
    margin-right: 1%;
    width: 40%;
}

.sticky-nav li:nth-child(4) {
    width: 20%;
    text-align: right;
}

.sticky-nav .vendor-profile-img-con {
    background-color: #e2e2e2;
    border-radius: 4px;
    display: inline-block;
    height: 30px;
    overflow: hidden;
    vertical-align: middle;
    width: 33px;
}

.sticky-nav .vendor-profile-img-con img {
    bottom: 0;
    left: 0;
    max-height: 30px;
    max-width: 33px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
}

.sticky-nav h4 {
    display: inline-block;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
    margin: 0;
    overflow: hidden;
    padding: 0 10px;
    text-overflow: ellipsis;
    vertical-align: middle;
    max-width: 240px;
    white-space: nowrap;
    width: 80%;
}

.sticky-nav li:nth-child(2) a {
    display: table-cell;
    height: 36px;
    margin-right: 7px;
    vertical-align: middle;
    width: 44px;
}

.sticky-nav li:nth-child(3) select,
.search-container select {
    border-radius: 4px 0 0 4px;
    font-size: 12px;
    line-height: 28px !important;
    margin-right: -5px;
    padding: 6px 7px 4px !important;
    vertical-align: middle;
    width: 26%;
}

.sticky-nav li:nth-child(3) input,
.search-container input {
    border-radius: 0 4px 4px 0;
    font-size: 14px;
    height: 34px;
    padding: 4px 12px;
    vertical-align: middle;
    width: 328px;
}

.sticky-nav li:nth-child(3) input[type="submit"],
.search-container input[type="submit"] {
    background-color: #ff893b;
    background-position: -949px -250px;
    border: none;
    padding: 5px 12px;
    width: 45px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.sticky-nav li:nth-child(4) div {
    line-height: 31px;
}

.header-cart-wrapper {
    cursor: pointer;
    display: inline-block;
    padding-bottom: 6px;
    text-align: center;
}

.header-cart-wrapper:hover {
    text-decoration: none;
}

.header-cart-items-con {
    border-radius: 4px 0 0 4px;
    display: inline-block;
    color: #868487;
    font-size: 12px;
    height: 34px;
    line-height: 34px;
    margin-right: -5px;
    padding: 0px 12px !important;
    vertical-align: middle;
    width: 148px;
}

.header-cart-item {
    color: #4271cb;
    font-weight: 900;
}

.header-cart-icon-con {
    background-color: #ff893b;
    color: #fff;
    height: 34px;
    line-height: 34px !important;
    text-align: center;
    top: 0px !important;
    vertical-align: middle;
    width: 40px;

    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.header-cart-item-list,
.sticky-header-cart-item-list {
    background-color: #fff;
    border-top: 5px solid #ff893b;
    display: none;
    padding:15px;
    position: absolute;
    text-align: left;
    right: 0;
    width: 241px;
    top: 38px;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.35);
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.35);
}

.sticky-header-cart-item-list {
    width: 248px;
}

.header-cart-item-list p,
.sticky-header-cart-item-list p {
    font-size: 12px;
}

.header-cart-item-img {
    float: left;
    margin-right: 10px;
}

.header-cart-item-img span {
    background-color: #f3f3f3;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.header-cart-item-img img {
    height: auto;
    max-height: 70px;
    max-width: 60px;
    width: auto;
}

.header-cart-item-con {
    display: inline-block;
    width: 115px;
}

.header-cart-item-con a {
    color: #565656;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    max-height: 30px;
    overflow: hidden;
    text-overflow:ellipsis;
}

.header-cart-item-con a:hover {
    text-decoration: none;
}

.header-cart-item-con a span {
    display: table-cell;
    max-height: 30px;
    vertical-align: middle;
}

.header-cart-item-con span {
    font-size: 12px;
}

.header-cart-item-price {
    color: #4370cc;
    font-weight: bold;
}

.header-cart-shipping-total {
    float: left;
}

.header-cart-shipping-total p {
    font-weight: bold;
    margin-bottom: 0px;
}

.header-cart-shipping-total p span {
    color: #4370cc;
}

.header-cart-buttons {
    float: right;
}

.header-cart-buttons a {
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    width: 68px;
    text-align: center;
}

.header-cart-buttons a:hover {
    color: #fff;
    text-decoration: none;
}

.header-cart-lnk-cart {
    background-color: #565656;
    margin-bottom: 5px;
}

.header-cart-lnk-checkout {
    background-color: #ff893b;
}

.clear {
    clear: both;
}

.border-0{
    border: 0px !important;
}

.row-products{
    min-height: 480px;
    margin-top: -20px;
}

.border-1
{
    border: solid red 1px;
}

.div-products{
    margin-left: 15px;
    border-left: solid #cccbc7 1px;
    padding-left: 10px;
    padding-top: 10px;
    min-height: 640px !important;
}

.div-product-view-option{
    height: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
}


.bg-product-section{
    background: #ebedf0;
    padding-bottom: 10px;
}

.p-view{
    font-size: 13px;
    font-weight: 700;
    margin-bottom: -10px;
}
.td-view{
    vertical-align: middle !important;
}

td.td-view.p-view2.color-default{
    padding-top: 0px !important;
    padding-right: 5px !important;
}
.icon-view{
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px !important;
    color: #b9b9b9;
}
.icon-view:hover{
    color: #fe883e;
    cursor: pointer;
}

.active-view{
    color: #ff893b;
}
.color-default{
    color: #575759;
}

.form-select-default{
    border: solid #dcdcdc 1px;
    padding: 7px 7px;
    border-radius: 4px;
    width: 200px;
    margin-top: -2px;
    margin-right: -10px;
}

.form-select-default > option{
    
}
/** For Left Column**/

.left-wing{
    margin-left: 15px;
    margin-top: 10px;
    /* width: 324px !important; */
    padding-right: 0px;
    margin-right: -15px;
}

.left-wing-contact{
    margin-left: 15px;
    margin-top: 10px;
    /* width: 324px !important; */
    padding-right: 0px;
    margin-right: -25px;
}

#the-sticky-div.sticky {
     position: fixed;
     top: 70px;
 }
 
 .product-paging{
    min-height: 580px;
 }
 
.panel-category{
    font-size: 12px;
}

 .panel-category-heading,  .panel-category-heading > .panel-title > a{
    background: #ff893b;
    color: #ffffff;
    text-decoration: none;
 }
 
.panel-category-heading, .panel-title{
    font-size: 12px !important;
    position:relative;
    z-index:2;
}


.active-category{
    font-size: 17px;
    color: #ff893b;
    padding-right: 5px;
}

.list-category{
    margin-top: -1px !important;
    margin-bottom: 0px !important;
    position:relative;
    z-index:1;
}

.list-category > li{
    position:relative;
    z-index:1;
    border-top: solid #e0e0e0 1px;
}

.list-category > li > a{
    padding: 12px 15px;
    display: block;
}

.tab_categories:active,
.tab_categories:link,
.tab_categories:visited{
    text-decoration: none !important;
}

.tab_categories.toggledCat{
    margin-bottom: 12px;
}

.list-category > li > a .fa{
    margin-top: 3px;
    margin-right: 5px;
}
.list-category > li > a .toggleIcon:before{
    content: "\f0d8" !important;
}

.list-category > a > li{
    padding:12px 15px;
    position:relative;
    z-index:1;
    border-top: solid #e0e0e0 1px;
}

.list-category > a > li:hover{
    color: #575759;
}

.list-category > a,  .list-category > a:hover{
    color: #575759;
    text-decoration: none !important;
}

.list-sub-category{
    display: none;
}

.list-sub-category > li{
    display: block;
    border-top: dotted #e2e2e2 1px;
}

.list-sub-category > li > a{
    display: block;
    padding: 10px 10px 10px 30px;
    font-weight: normal;
}

.list-category > li > a:hover,
.list-sub-category > li > a:hover{
    text-decoration: none;
}

.list-sub-category > li:first-child{
    border-top: solid #e2e2e2 1px;
    margin-top: 10px;
}

.list-sub-category > li:last-child{
    padding-bottom: 0px;
}

.list-filter{
    margin-top: -1px !important;
    margin-bottom: 0px !important;
    position:relative;
    z-index:1;
}
.list-filter > li{
    padding:20px 15px 24px 15px;
    position:relative;
    z-index:1;
    border-top: solid #e0e0e0 1px;
}
 
.p-filter-name{
    color: #565656;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 10px;
}

.select-filter{
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 0px;
    border:solid #ececec 1px;
    background: #ececec;
    outline: #565656;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.select-filter:focus{
    border: solid #565656 1px;
    background: #fff;
}

.input-filter-price{
    width: 90px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
    border: 0px;
    background: #ececec;
    border:solid #ececec 1px;
    outline: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.input-filter-price:focus{
    border: solid #565656 1px;
    background: #fff;
}

.active-category{
    font-size: 18px;
    padding-right: 5px;
    color: #ff893b;
}

.btn-filter{
    text-transform: uppercase;
    border-radius: 4px;
    background: #565656;
    border: solid #565656 1px;
    color: #ffffff;
    font-weight: bold;
    width: 120px;
    transition: all 0.3s fade;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.btn-filter:hover,
.btn-filter:active,
.btn-filter:focus{
    background: #272626;
    border: solid #272626 1px;
}

.a-filter, .a-category{
    cursor: pointer;
}

/** End of Left Column**/

/** For Item **/
.vendor-select-con {
    margin-top: -48px;
    margin-bottom: 20px;
}

.row-items{
    margin-left: 10px;
    margin-top: 16px;
    padding-left: 15px;
    min-height: 580px !important;
}

.product-paging{
    min-height: 600px;
}

.product-inner-container{
    min-height: 480px;
}

.grid > .product-paging > .product-inner-container > .panel-list-item{
    display: none;

}
.grid > .product-paging > .product-inner-container > .thumb{
    padding-right: 5px !important;
    padding-left: 5px !important;
    margin-bottom: 11px !important;

}

.grid > .product-paging > .product-inner-container > .thumb > .panel-item{
    width: 100%;
    height: 330px;
    border-radius: 4px;
    background: #ffffff;
    transition: all 0.5s fade;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.grid > .product-paging > .product-inner-container > .thumb > .panel-item:hover{
    -webkit-box-shadow: 0px 3px 9px 0px rgba(163,155,163,1);
    -moz-box-shadow: 0px 3px 9px 0px rgba(163,155,163,1);
    box-shadow: 0px 3px 9px 0px rgba(163,155,163,1);
}
.grid > .product-paging > .product-inner-container > .thumb > .panel-item > a > .div-item{
    width: 100%;
    height: 220px;
    border-radius: 4px 4px 0px 0px;
    position: relative;
    overflow: hidden;
}

.main-image{
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0;
    border-radius: 4px 4px 0px 0px;
}

.image-hover-none{
    transition: all 0.3s ease;
    background: #fff;
}

.image-hover-none:hover{
    opacity: 0;
}

.grid-image-primary{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    z-index: 2;
    transition: all 0.3s ease;
}

.div-item:hover .grid-image-has-secondary{
    opacity: 0;
}

.grid-image-secondary{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    z-index: 1;
    transition: all 0.3s ease;
    opacity: 0;
}

.image-container{
    position: relative; 
    height: 199px; 
    width: 100%;
    overflow: hidden;
    border-radius: 4px 0px 0px 4px;
}

.div-item:hover .grid-image-secondary{
    opacity: 1;
}

.grid > .product-paging > .product-inner-container > .thumb > .panel-item > a > .div-item > .span-img-wrapper{
    text-align: center !important;
    height: 165px !important;
    width: 100% !important;
    display: inline-block;
    text-align: center !important;
    margin: 0px auto;
    border: transparent red 1px;
    border-radius: 4px 4px 0px 0px;
}
.grid > .product-paging > .product-inner-container > .thumb > .panel-item > a > .div-item > .span-img-wrapper > .span-img-container{
    width: 100%;
    height: 165px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: transparent red 1px;
    border-radius: 4px 4px 0px 0px;
}

.grid > .product-paging > .product-inner-container > .thumb > .panel-item > a > .div-item > .span-img-wrapper > .span-img-container >.img-item{
    max-height: 165px !important;
    max-width: 100% !important;
    width: auto !important;
    height: auto !important;
    text-align: center !important;
    vertical-align: middle;
    border-radius: 4px 4px 0px 0px;
}

.grid > .product-paging > .product-inner-container > .thumb > .panel-item > .div-item-info > .p-item-name{
    text-align: center;
    font-weight: bold;
    margin: 0px;
    margin-top: 10px;
    font-size:12px;
}

.grid > .product-paging > .product-inner-container > .thumb > .panel-item > .div-item-info > .p-category{
    display: none;
}

.grid > .product-paging > .product-inner-container > .thumb > .panel-item > .div-item-info > .div-desc-container{
    display:none;
}
.grid > .product-paging > .product-inner-container > .thumb > .panel-item > .div-item-info > .p-item-name > a{
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.grid > .product-paging > .product-inner-container > .thumb > .panel-item > .div-item-info > .p-item-name > a:hover{
    text-decoration: none;
    color: #ff3d1f;
}

.grid > .product-paging > .product-inner-container > .thumb > .panel-item > .div-item-info > .div-amount > .p-price{
    margin: 0px;
    text-align: center;
    color: #ff3d1f;
    font-weight: bold;
    font-size:12px;
    line-height: 17px;
}

.grid > .product-paging > .product-inner-container > .thumb > .panel-item > .div-item-info > .div-amount > .p-price > span > s{
    color: #989898;
    font-weight: normal;
    margin-right: 5px;
    font-size: 12px;
}

.grid > .product-paging > .product-inner-container > .thumb > .panel-item > .div-item-info > .div-amount > .p-discount{
    display:none;
}

.discount-value{
    margin-bottom: -9px;
    font-size: 12px;
}

.grid > .product-paging > .product-inner-container > .thumb > .panel-item > .div-item-info > .div-amount > center > .btn.btn-default-cart {
    border: 2px solid #585a59;
    background-color: #fff;
    color: #565656;
    transition: all 0.3s ease;
    font-size: 10px;
    margin-top: 6px;
    font-weight: bold;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.grid > .product-paging > .product-inner-container > .thumb > .panel-item > .div-item-info > .div-amount > center > .btn.btn-default-cart:hover {
    background-color: #585a59;
    color: #fff;
}
/** End of Item **/

.list > .product-paging {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.list > .product-paging > .product-inner-container > .thumb > .panel-item{
    display: none;
}

.list > .product-paging > .product-inner-container > .panel-list-item{
    display: inline-block;
    width:825px;
    margin-bottom: 10px;
    margin-left: 7px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    position: relative;
}

.list > .product-paging > .product-inner-container > .panel-list-item:hover{
    -webkit-box-shadow: 0px 3px 9px 0px rgba(163,155,163,1);
    -moz-box-shadow: 0px 3px 9px 0px rgba(163,155,163,1);
    box-shadow: 0px 3px 9px 0px rgba(163,155,163,1);
}

.list > .thumb {
    display: none;
}
.td-list-image{
    border-radius: 4px 0px 0px 4px;
}

.span-space{
    height: 172px !important;
    width: 100%;
    
}
.p-list-item-name{
    margin-bottom: 0px !important;
}
.p-list-item-name > a{
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    margin: 0px;
    margin-left: 20px;
    display: inline-block;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.p-list-item-name > a:hover{
    color: #ff3d1f;
    text-decoration: none;
}
.p-list-item-category{
    margin: 0px;
    margin-left: 20px;
    font-size: 13px;
}

.div-list-desc-container{
    margin-top: 0px;
    margin-left: 20px;
    border-top: solid #cbccc7 1px !important;
    line-height: 17px;
    padding-top: 6px;
    font-size: 11px;
}

.td-list-item-info{
    padding-top: 20px;
    vertical-align:top;
}

.td-list-price{
    vertical-align:top;
    padding: 37px 15px 20px 20px;
}

.p-list-price{
    margin: 0px;
    text-align: right;
    color: #ff3d1f;
    font-weight: bold;
    font-size:20px;
    float:left;
    clear:both;
}
.p-list-discount{
    color: #989898;
    font-weight: normal;
    font-size: 16px;
    min-height: 10px;
}
.p-list-availability{
    font-size: 13px;
}
.color-in-stock{
    color: #25df5a;
}

.free-shipping-tag{
    display: inline-block;
    position: absolute;
    top: 3px;
    right: -8px;
    background: #02846f;
    font-size: 12px;
    padding: 6px 10px;
    color: #fff;
    text-align:center;
    font-weight: bold;
}

.free-shipping-tag-tail{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px 8px 0 0;
    border-color: #003E34 transparent transparent transparent;
    position: absolute;
    right: 0px;
    bottom:-7px;
}

.td-list-price > .btn.btn-default-1{
    font-size: 12px;
    font-weight: bold;
    width: 130px;
}

.td-list-price > .btn.btn-default-1 > span{
    padding-right: 4px;
}
.span-list-img{
    displaY:table-cell;
    width:185px;
    height: 185px;
    vertical-align: middle;
    border-radius: 4px 0px 0px 4px;
}
.img-item{
    max-height: 185px !important;
    max-width: 185px !important;
    width: auto !important;
    height: auto !important;
    text-align: center !important;
    vertical-align: middle;
    border-radius: 4px 0px 0px 4px;
}
.span-discount-pin-list{
    position:absolute;
    color: #FFFFFF;
    background: #ff3e1e;
    padding: 6px 0px;
    text-align: center !important;
    right: 0;
    margin-top:13px;
    font-size: 12px;
    width: 42px;
    font-weight:bold;
    top: 0;
    z-index: 3;
}
.span-new-pin-list{
    position:absolute;
    color: #FFFFFF;
    background: #00a388;
    padding: 6px 0px;
    text-align: center !important;
    margin-left:0px !important;
    margin-top:13px;
    font-size: 12px;
    width: 42px;
    font-weight:bold;
}
.grid-span-discount-pin{
    position:absolute;
    color: #FFFFFF;
    background: #ff3e1d;
    padding: 6px 0px;
    text-align: center !important;
    margin-left:30px;
    margin-top:10px;
    font-size: 12px;
    width: 42px;
    font-weight:bold;
    right: -5px !important;
    margin-right: 5px !important;
    top: 0;
    z-index: 3;
}

.main-image-list{
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    border-radius: 4px 0px 0px 4px;
}

.grid-span-new-pin{
    position:absolute;
    color: #ffffff;
    background: #00a388;
    padding: 6px 0px;
    text-align: center !important;
    margin-left: 5px;
    margin-top:10px;
    font-size: 12px;
    width: 42px;
    font-weight:bold;
    left: 0 !important;
    margin-right: 5px !important;
}

.span-new-tag{
    font-weight: bold;
    color: #02846f;
}


.btn-default-cart > span {
    padding-right: 4px;
}

.tooltip-inner {
    background-color: #003e91 !important;
     max-width: 320px !important;
     padding-top:7px !important;
     padding-bottom:7px !important;
}


.tooltip.top .tooltip-arrow {
  border-top-color: #003e91 !important;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #003e91 !important;
}

.tooltip.left .tooltip-arrow {
  
  border-left-color: #003e91 !important;
}

.pagination-container{
    width: 100%;
    position: relative;
    bottom: 0;
    margin-left: -10px;
    padding: 0px;
}

.pagination-items > li > a > span, 
.pagination-items > li > a {
    color: #565656 !important;
    
}
.pagination-items > .active > a{
    background: #ff893b !important;
    border: solid #ff893b 1px !important;
    color: #ffffff !important;
}

.pagination-items > .active > a > span{
    color: #ffffff !important;
}

#scrollUp{
    text-decoration: none !important;
    text-align: center !important;
    width: 38px;
    height: 38px;
    background: #ff893b url("../images/img-back-to-top.png") center no-repeat!important;
    transition: all 0.3s ease-in-out !important;
    font-size: 26px !important;
    padding: 5px 2px !important;
    text-align: center !important;
    color: #ffffff !important;
    z-index: 999;
    bottom: 47px !important;
}

#scrollUp:hover{
    background: #ff3e1d url("../images/img-back-to-top.png") center no-repeat!important;
}

.actions-list,
.mobile-left-wing,
.categories-modal,
.filter-modal,
.edit-profile-modal
{
    display: none;
}

.row-left-wing a:hover {
    text-decoration: none;
}

.filter-modal h1,
.categories-modal h1
{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    border-bottom: none;
    text-align: center;
}

/*** vendor footer ***/

.vendor-footer-con {
    background-color: #ecedf1;
    border-bottom: 4px solid #ff893b;
    padding-top: 35px;
}

.vendor-footer {
    text-align: center;
    height: 57px;
    line-height: 57px;
}

.vendor-footer ul {
    display: inline-block;
    list-style: none;
    margin: 0 auto;
}

.vendor-footer ul li {
    font-size: 12px;
    float: left;
    padding: 0 28px;
}

.vendor-footer ul li a {
    color: #565656;
}

.vendor-footer ul li a:hover {
    text-decoration: none;
}

.btn-change-photo-mobile,
.btn-change-cover-photo-mobile{
    display: none !important;
}

#modal-edit-trigger{
    display: none;
    font-weight: bold;
}

.close-hide{
    display: none;
}

/*--Alert overwrites--*/
.alert{
    font-size: 13px;
}

.alert .fa{
    margin-right: 10px;
}

.alert-es-danger {
  color: #ffffff;
  background-color: #a94442;
  border-color: #a94442;
}

.alert-es-danger hr {
  border-top-color: #e4b9c0;
}

.alert-es-danger .alert-link {
  color: #ffffff;
}

.alert-es-success {
  color: #ffffff;
  background-color: #3c763d;
  border-color: #3c763d;
}

.alert-es-success hr {
  border-top-color: #e4b9c0;
}

.alert-es-success .alert-link {
  color: #ffffff;
}

/*--End of Alert overwrites--*/

/*--Bootstrap overwrites--*/
.progress{
    height: 10px !important;
    border-radius: 2px !important;
}
/*--End of boostrap overwrites--*/
/*** end of Vendor style ***/



/* =============================================
----------------- Responsive  ------------------
==============================================*/
@media only screen and (max-width : 979px) { 
/*    header {
        width: 1200px !important;
    }*/
    /* .main-container {
            padding-left: 5px;
            padding-right: 5px;
           width: 97%;
    }

    .vendor-main {
        top: 44px;
    }*/

    .user-nav-dropdown:after,
    .nav-dropdown:after,
    .user-nav-dropdown,
    .user-nav-dropdown,
    .nav-dropdown:before {
      display: block;
    }

    ul.nav-dropdown {
        border-radius: 4px;
        display: none;
    }

    .msg_countr {
        margin-left: 0;
    }
    
}

/** Responsive vendor style **/
@media only screen and (max-width : 979px) { 
    
    .div-products{
        margin-left: 0px;
        border: 0px;
        padding-left: 0px;
        padding-top: 10px;
        min-height: 715px !important;
    }
    
    .row-items{
        padding-left: 0px;
        padding: 0px 15px;
    }
    
    .grid > .product-paging > .product-inner-container > .thumb > .panel-item{
        height: 253px;
    }
    
    .grid > .product-paging > .product-inner-container > .thumb > .panel-item > a > .div-item > .span-img-wrapper{
        height: 140px !important;
    }
    
    .grid > .product-paging > .product-inner-container > .thumb > .panel-item > a > .div-item{
        height: 140px !important;
    }
    
    .vendor-select-con{
        margin-top: -40px;
    }
    
    .form-select-default{
        width: 132px;
        margin-right: 0px;
        font-size: 10px;
    }
    
    .div-product-view-option{
        margin-left: 0px;
    }
    
    .icon-view{
        margin-left: 5px;
        margin-right: 0px;
        font-size: 18px !important;
    }
    
    .p-view2{
        font-size: 12px;
    }
    
    .grid > .product-paging > .product-inner-container > .thumb > .panel-item > .div-item-info > .p-item-name > a{
        font-size: 13px;
    }
}

@media only screen and (max-width : 769px) { 

    .grid > .product-paging > .product-inner-container > .thumb > .panel-item{
        height: 227px;
    }
    
    .grid > .product-paging > .product-inner-container > .thumb > .panel-item > a > .div-item > .span-img-wrapper{
        height: 125px !important;
    }
    
    .grid > .product-paging > .product-inner-container > .thumb > .panel-item > a > .div-item{
        height: 125px !important;
    }
    
    .vendor-select-con{
        margin-top: -40px;
    }
    
    .form-select-default{
        width: 132px;
        margin-right: 0px;
        font-size: 10px;
    }
    
    .div-product-view-option{
        margin-left: 0px;
    }
    
    .icon-view{
        margin-left: 5px;
        margin-right: 0px;
        font-size: 18px !important;
    }
    
    .p-view2{
        font-size: 12px;
    }
    
    .grid > .product-paging > .product-inner-container > .thumb > .panel-item > .div-item-info > .p-item-name > a{
        font-size: 13px;
    }
    
    .grid > .product-paging > .product-inner-container > .thumb > .panel-item > .div-item-info > .p-item-name{
        margin-top: 3px;
    }
    
    .list > .product-paging > .product-inner-container > .panel-list-item{
        margin-left: 0px;
        width: 100%;
    }
    
    .product-inner-container,
    .product-paging,
    .div-products,
    .row-products,
    .row-items
    {
        min-height: 100px !important;
    }
    
    .list > .product-paging > .product-inner-container > .panel-list-item{
        margin-left: 0px;
        width: 100%;
        min-height: 110px;
    }
    
    .td-list-price{
        display: none;
    }
    
    .td-list-image{
        width: 30%;
    }
    
    .span-space{
        height: 108px !important;
    }
    
    .td-list-item-info{
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 5px;
        width: 70% !important;
    }
    
    .p-list-item-name > a{
        font-size: 13px;
        margin-left: 5px;
    }
    
    .p-list-item-category {
        font-size: 10px;
        line-height: 20px;
        margin-top: -5px;
         margin-left: 5px;
    }
    
    .div-list-desc-container {
        margin-left: 5px;
        padding-top: 5px;
        font-size: 10px;
    }
    
    .actions-list{
        display: inline-block;
        width: 100%;
    }
    
    .p-list-price-mobile{
        display: inline-block;
        font-size: 13px;
        margin-left: 5px;
    }
    
    .p-list-discount-mobile{
        display: inline-block;
        font-size: 10px;
        margin-left: 5px;
        margin-top: -10px;
    }
    
    .btn-list-buy-now-mobile{
        float: right !important;
        margin-top: 4px !important;
        font-size: 10px !important;
        font-weight: 900 !important;
    }
    
    .span-discount-pin-list{
        padding: 4px 0px;
        margin-top: 5px;
        font-size: 10px;
        width: 30px
    }
    
    .mobile-left-wing{
        width: 100%;
        display: block;
        position: fixed;
        left: 0;
        bottom: 0;
        background: #4370cc;
        z-index: 999999;
        z-index:1000;
    }
    
    .row-left-wing{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    
    .col-filter{
        border-left: solid #fff 1px;
        color: #fff;
        text-align: center;
        padding: 8px 0px !important;
        font-weight: bold;
    }
    
    .col-categories{
        border-right: solid #fff 1px;
        color: #fff;
        text-align: center;
        padding: 8px 0px !important;
        font-weight: bold;
    }
    
    .col-categories:hover,
    .col-filter:hover{
        background: #355ba9;
    }
    
    .input-filter-price{
        width: 68px;
    }
    
    .col-left-wing{
        padding: 15px !important;
    }
    
    .category-list{
        padding: 10px;
    }
    
    .list-category{
        padding: 10px !important;
        overflow-y: scroll;
        height: 224px;
    }
    
    .list-category > a:first-child > li{
        border-top: none;
    }
    
    .vendor-footer ul li {
        font-size: 10px;
        padding: 0 21px;
    }
}

@media only screen and (max-width : 400px) {
    .contact-number-text,
    .location-text{
        display: none;
    }
    
    .vendor-main-bg{
        min-height: 230px;
        max-height: 240px;
    }
    
    .vendor-profile-content{
        min-height: 230px;
        max-height: 240px;
        max-width: 250px;
        padding: 12px 10px 32px 10px;
    }
    
    .vendor-profile-btn{
        margin-top: 17px;
    }
    
    .edit-profile-photo{
        height: 88px;
        width: 90px;
    }
    
    .edit-profile-container{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    
    .btn-edit-profile-info-banner{
        font-size: 10px !important;
    }
    
    .edit-banner-profile{
        margin-top: 0px !important;
    }
    
    .edit-profile-photo-menu{
        top: 88px;
    }
    
    .img-icon-edit-photo{
        width: 40px !important;
    }
    
    .subscription_btn,
    .btn-message-profile,
    .btn-profile-edit,
    .btn-change-photo-mobile,
    .btn-profile-edit-mobile,
    #modal-edit-trigger
    {
        width: 100% !important;
        max-width: 100% !important;
        margin-bottom: 5px !important;
    }
    
    .btn-change-photo-mobile,
    #modal-edit-trigger
    {
        display: block !important;
    }
    
    .btn-profile-edit,
    #edit-profile-btn
    {
        display: none !important;
    }
    
    .vendor-profile-content h4{
        margin-top: 8px;
        font-size: 1.3em;
    }
    
    .vendor-profile-img{
        height: 80px;
        width: 90px;
    }
    
    .vendor-profile-img-con{
        height: 88px;
    }
    
    .vendor-profile-photo-wrapper{
        height: 88px;
        width: 89px;
    }
    
    .vendor-profile-img-con img{
        max-width: 85px;
        max-height: 90px;
    }
    
    .edit-profile-photo div{
        padding: 10px 0;
    }
    
    .btn-change-cover-photo-mobile{
        display: block !important;
    }

    #banner-cancel-changes {
        margin: 0;
    }

    .vendor-profile-btn a, .vendor-profile-btn .subscription_btn {
        width: 48%;
    }
}

@media only screen and (max-width : 1024px) {
    .list > .product-paging > .product-inner-container > .panel-list-item{
        width: 95%;
    }
}

header {
    min-width: inherit;
}
.vendor-logo-wrapper,
.vendor-header-left {
    float: left;
}

.vendor-login-con.vendor-out-con {
    margin: 0 1%;
}

.vendor-mobile-wrapper .vendor-log-in-wrapper {
    padding-top: 1px;
}

.search-container select {
    width: 26%;
}

.header-cart-wrapper {
    display: block;
}

.header-cart-items-con {
    padding: 0 3% !important;
    width: 78%;
}

.mobile-search {
    display: none;
}

@media (min-width: 320px) {
    .vendor-logo-wrapper {
        width: 20%;
    }

    .vendor-header-left {
        width: 78%;
    }

    .persistent-nav-container.sticky-nav-fixed {
        display: none;
    }
}

@media (min-width: 480px) {
    .vendor-nav li a {
        font-size: 16px;
    }
}

@media (min-width: 640px) {
    .vendor-out-con2,
    .mobile-user-login {
        display: none !important;
    }
}

@media (min-width: 767px) {
    .vendor-logo-wrapper {
        width: 20%;
    }

    .vendor-header-left {
        width: 80%;
    }
}

@media (min-width: 991px) {
    .persistent-nav-container.sticky-nav-fixed {
        display: block;
        height: 55px;
        list-style: none;
    }

    .sticky-nav-fixed {
        position: fixed;
        top: 0;
        background-color: rgba(255,255,255,0.95);
    }
    .search-container,
    .mobile-vendor-cart-con,
    .vendor-log-in-wrapper,
    .vendor-login-con {
        float: left;
    }

    .vendor-logo-wrapper {
        width: 20%;
    }

    .vendor-header-left {
        width: 80%;
    }

    .search-container {
        width: 45%;
    }

    .search-form {
        display: block !important;
    }

    .sticky-nav li:nth-child(3) input, .search-container input {
        width: 59%;
    }

    .mobile-vendor-cart-con {
        margin-right: 2%;
        width: 25%;
    }

    .mobile-vendor-cart {
        display: none;
    }

    .header-cart-container {
        position: relative;
    }

    .header-cart-container:hover .header-cart-item-list,
    .header-cart-container:hover .sticky-header-cart-item-list {
        display: inline-block;
    }

    .vendor-mobile-wrapper .vendor-log-in-wrapper {
        width: 26%;
    }
}


@media (min-width: 1200px) {
    .vendor-logo-wrapper {
        width: 15%;
    }

    .vendor-header-left {
        width: 85%;
    }

    .search-container {
        margin-left: 3%;
        width: 51%;
    }

    .mobile-vendor-cart-con {
        width: 20%;
    }

    .vendor-mobile-wrapper .vendor-log-in-wrapper {
        width: 23%;
    }

    .vendor-login-name span {
        max-width: 136px;
    }

    .sticky-nav li:nth-child(3) input, .search-container input {
        width: 63%;
    }
}

@media (max-width: 991px) {
    .vendor-menu-nav .main-container {
        text-align: center;
    }
    
    .vendor-nav {
        display: inline-block;
        margin: 0 auto;
    }

    .vendor-header-left {
        text-align: right;
    }

    .search-container,
    .mobile-vendor-cart-con,
    .vendor-log-in-wrapper,
    .vendor-login-con {
        display: inline-block;
    }

    .search-form {
        box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.35) !important;
        padding: 15px 5px;
        text-align: center;
    }

    .search-bar-input {
        width: 70% !important;
    }

    .submitSearch {
        display: none;
    }

    .mobile-search,
    .mobile-vendor-cart {
        background-color: #ff893b;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
        display: block;
        height: 35px;
        text-align: center;
        width: 35px;
    }

    .mobile-vendor-cart {
        position: relative;
        top: -4px;
    }

    .vendor-cart-counter {
        background-color: red;
        border-radius: 90px;
        font-size: 11px;
        height: 20px;
        left: -5px;
        line-height: 20px;
        position: absolute;
        top: -5px;
        width: 20px;
    }

    .mobile-vendor-cart .cart-icon {
        background-position: -998px -249px;
        height: 27px;
        width: 25px;
    }

    .header-cart-wrapper {
        display: none;
    }

    .mobile-search .span_bg {
        background-position: -954px -249px;
        height: 35px;
        width: 35px;
    }

    .search-form,
    .mobile-user-login {
        background-color: #fff;
        border-top: 3px solid #ff893b;
        display: none;
        left: 0;
        margin: auto;
        padding: 15px;
        position: absolute;
        top: 48px;
        right: 0;
        width: 750px;
    }

    .header-cart-item-list {
        left: 0;
        margin: auto;
        right: 0;
        top: 48px;
        width: 750px;
    }

    .header-cart-item-con {
        width: auto;
    }

    .vendor-log-in-wrapper {
        margin-left: 8px;
        width: auto;
    }

    .vendor-profile-content {
        left: 0;
        margin:auto;
        right: 0;
    }

    ul.nav-dropdown {
        border: 1px solid #d5d5d5;
    }

    .followers-circle {
        z-index: 4;
    }

    .vendor-main-bg img {
        padding-right: 50px;
    }

    .edit-cover-photo a {
        padding-right: 20px;
        text-align: right;
    }
}

@media (max-width: 767px) {
    .vendor-mobile-wrapper .row {
        margin: 0;
    }

    .search-form,
    .header-cart-item-list,
    .mobile-user-login {
        margin: 0 2%;
        width: 96%;
    }
}

@media (max-width: 640px) {
    .search-bar-input {
        width: 62% !important;
    }

    .vendor-login-con.vendor-out-con {
        display: none;
    }

    .vendor-out-con2 {
        background-color: #4370cc;
        border-radius: 4px;
        display: block;
        cursor: pointer;
        height: 35px;
        min-width: 45px;
        padding-top: 6px;
        width: 45px;
    }

    .mobile-user-login .btn-default-3 {
        margin-right: 1%;
        text-transform: uppercase;
        width: 30%;
    }

    .mobile-user-login .btn-default-1 {
        margin-left: 1%;
        text-transform: uppercase;
    }
}

@media (max-width: 480px) {
    .search-bar-input {
        width: 55% !important;
    }
    .vendor-login-name,
    .new-user-nav-dropdown {
        display: none !important;
    }

    .vendor-login-con.user-login {
        height: 35px;
        min-width: 35px;
        padding: 6px 0px 0px 0px;
        position: relative;
        text-align: center;
        top: -1px;
        width: 35px;
    }

    .user-login img {
        margin-right: 0;
    }

    .vendor-nav li a {
        padding: 0 8px;
    }

    .nav-dropdown {
        top: 35px !important;
    }

    .nav-dropdown:before {
        right: 2px;
        top: -5px;
    }

    .mobile-user-login .btn-default-3,
    .mobile-user-login .btn-default-1 {
        font-size: 11px;
    }

    .edit-vendor-location .chosen-container-single {
        width: 48% !important;
    }


}

@media (max-width: 360px) {
    .search-bar-input {
        width: 55% !important;
    }
}

@media (max-width: 360px) {
    .search-container {
        margin: 0 5px 0 0;
    }

    .vendor-log-in-wrapper {
        margin-left: 5px;
    }

    .vendor-logo-wrapper img {
        padding-top: 4px;
        width: 130px;
    }
}

@media (max-width: 320px) {
    .vendor-logo-wrapper {
        margin-right: 5px;
    }

    .vendor-logo-wrapper img {
        width: 125px;
    }
}
