/** <!--Member page CSS Janz--> **/
#member_page_body {
    margin-top: -80px;
}

#tx_dialog_pass_cont input{
    width: 240px;
    line-height: 18px;
    margin-left: 5px;
}

#tx_dialog_pass_cont .lbl-tx-password{
    width: 140px;
}

#tx_dialog{
    font-size: 12px;
}
.print-ul{
    position: absolute;
    border: #494949;
    border-radius: 4px;
    background: #ffffff;
    border-top: solid #ededed 1px;
    border-left: solid #ededed 1px;
    border-right: solid #ededed 1px;
    display: none;
    margin-left: 181px;
    margin-top: -10px;
}

.print-ul > a > li{
    width: 80px;
    border-bottom: solid 2px #F08E1C;
    padding: 9px 30px;
    list-style: none;
    cursor: pointer;
}

.print-ul-s{
    position: absolute;
    border: #494949;
    border-radius: 4px;
    background: #ffffff;
    border-top: solid #ededed 1px;
    border-left: solid #ededed 1px;
    border-right: solid #ededed 1px;
    display: none;
    margin-left: 145px;
    margin-top: -10px;
}

.print-ul-s > a > li{
    width: 80px;
    border-bottom: solid 2px #F08E1C;
    padding: 9px 30px;
    list-style: none;
    cursor: pointer;
}

.btn2 {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}

.btn-follow {
    color: #fff;
    background-color: #6dabe1;
    border: 1px solid #428bca;
}

.btn-unfollow {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-follow:hover {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
}

.btn-unfollow:hover {
    color: #fff;
    background-color: #cb3e3e;
    border-color: #972222; 
}

.sprite-bg {
    background-image: url('../images/landingpage/glyphicons-halflings-white.png');
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.sprite-bg2 {
    background-image: url('../images/landingpage/glyphicons-halflings.png');
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.follow-icon {
    width: 20px;
    height: 20px;
    background-position: 3px -94px;
}

.unfollow-icon {
    width: 20px;
    height: 20px;
    background-position: -21px -94px;
}

/* Overlay */
#simplemodal-overlay {
	background-color:#bcbcbc;
}

/* Container */
#simplemodal-container {
    font-size: 12px;
    height: auto !important;
    max-height: 415px !important;
    max-width: 1005px;
    min-width: 506px !important;
    background-color:#fff;
    padding: 5px;
    overflow: auto;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
}

#simplemodal-container .simplemodal-wrap {
    overflow: inherit !important;
}

.feedback-modal-container {
    width: 506px !important;
}

.jcrop-holder{
	margin: auto !important;
}


#user_image_prev{
	display: block;
	margin: auto !important;
}

.ui-dialog-titlebar-close{
	display:none;
}

.bi_input{
	background-color:transparent; 
	border-color:transparent;
	color:#494949;
}

.set_default_lnk{
    text-decoration: underline;
    cursor:pointer; 
    padding:5px;
}

.set_default_lnk:hover{
    color:#ffae00;
}

.acct_container{
    height: 40px; 
}

.acct_container label{
    font-weight: bold;
}

.maploc_stat{
    font-weight: bold;
}

.uptd{
    float:left;
    display:none;
    color:white;
    background: #838383;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    padding: 3px 7px 3px 7px;
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 11px;
    font-weight: bold;
}

.shipping_comment{
    color: #0191C8;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    padding-top: 10px;
	/*width: auto !important;*/
}

.transac-feedback-container {
    width: auto;
}

.transac-feedback-container form {
    margin-top: 20px;
}

.transac_orange_btn{
	background-color: #F48000 !important;
	display: inline-block;
	font-size: 14px;
}

.transac_orange_btn:hover{
	background-color: #FF4400 !important;
	box-shadow: inset 0px -10px 12px -8px rgba(255, 255, 255, 0.75);
	transition: all linear 0.2s;
}

.shipping_comment_cont h2{
	padding: 5px;
	background-color: #F48000;
	color: white;
    font-weight: bold;
    font-size: 16px;
}

.shipping_comment_cont input{
    width: 300px;
    border-radius: 3px;
}

.shipping_comment_cont textarea{
    border-radius: 3px;
}


.shipping_comment_cont input, .shipping_comment_cont label,
.payment_details_cont input, .payment_details_cont label{
	display:inline-block;
	margin-top: 5px;
}

.shipping_comment_cont input[type="submit"],
.payment_details_cont input[type="submit"]{
	border: none;
	cursor: pointer;
	margin-left: 5px;
	width: 90px;
}

.ui-dialog-content.ui-widget-content {
    text-align: left;
}

.shipping_comment_cont label, .payment_details_cont label{
	width: 30%;
	margin-left: 5px;
}

.shipping_comment_cont label{
	font-weight: bold;
    margin-left: 15px;
}


.shipping_comment_cont textarea{
	display:block;
	margin: 3px;
	margin-left: 15px;
}

.shipping_comment_submit{
    margin-left: 15px !important;
}

.css_modal_edit, .css_modal_cancel{
	cursor:pointer;
	margin-left: 5px;
}

.css_modal_edit{
	color: #0191C8;
}

.css_modal_cancel{
	color: red;
}

/** Payment Details div modal **/
.payment_details_cont{
	width: 500px;
}

.payment_details_cont input, .payment_details_cont label{
	display:inline-block;
	margin-top: 5px;
}

.payment_details_cont label{
	width: 30%;
}

.payment_details_cont h2{
	padding: 5px;
	background-color: #F48000;
	color: white;
}

.peyment_details_cont label{
	width: 30%;
	margin-left: 5px;
}

.payment_details_cont textarea{
	display:block;
	margin: 3px;
	margin-left: 5px;
}

div.footer{
	display: inline-block;
}

div.css_modal_edit, div.css_modal_cancel{
	width: 50px;
}

div.css_modal_date{
	width: 65%;
	text-align: right;
}

/** AVATAR CSS FIX **/
#avatar_cont{
	text-align: center;
	height: 150px;
	width: 150px;
    border: #DDDCDC 1px solid;
    background-color: white;
}

#avatar_cont span{
	vertical-align: middle;
	display: table-cell;
	height: 150px;
	width: 150px;
}

#avatar_cont img{
	height: auto;
	width: auto;
	max-height: 150px;
	max-width: 150px;
}

/**	SALES CSS**/

.sales_details{
	width:1000px;
	padding: 3px;
	height: 350px;
    margin-top: 35px;
	overflow-y: scroll;
}

.sales_details h2{
	background-color: black;
	color: white;
	padding: 3px 0px 3px 5px;
	margin-bottom: 2px;
}

.sales_details table{
	width: 100%;
}

.sales_details_content td, .sales_details_content th, .sales_details_content{
	border: 1px solid rgb(173, 173, 173);
	border-collapse: collapse;
}

.sales_details_content td, .sales_details_content th{
	padding: 3px 5px 3px 5px;
}

.sales_details_content td{
	text-align: center;
}

tr.header{
	background-color: #f18200;
	color : #FFFFFF;
}

tr.tx_header{
	background-color: #FFBD49;
}

tr.tx_details, tr.tx_total{
	background-color: #FAFAFA;
}

#payout_date{
	width:25%;
	display:inline-block;
	margin-left: 5px;
}

table.sales_summary{
	width: 100%;
}

table.sales_summary td{
	padding: 5px;
}

table.sales_summary td.label{
	font-size: 16px;
	width: 40%;
}

table.sales_summary td.amount{
	text-align: center;
	font-size: 16px;
	width: 40%;
}

table.sales_summary tr.sales_info{
	cursor: pointer;
}

table.sales_summary tr.sales_info:hover td.label{
	color: #f18200;
}

table.sales_summary tr.sales_info:hover td.amount{
	color: #f18200;
}

.sales_info td {
	border-bottom: 1px dotted #cecece;
}

/* MINI TOP HEADER */

.quickheader_css{
    padding: 15px 8px 15px 8px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    font-size: 14px;
    color:#c09853;
}

.quickheader_css > *{
    margin-left: 5px;
}

.quickheader_css > div{
    display:inline-block;
    width: 83%;
}

.quickheader_css a{
    font-size: 14px;
    color:#c09853;
}

.edit_userslug_css .edit-lnk {
    background-position: -257px -57px !important;
    background-color: #fcf8e3;
    font-size: 13px;
    color: #c09853;
    padding-left: 20px;
    text-decoration: underline;
    cursor: pointer;
}

#security_settings .edit-lnk{
    background-position: -257px -48px !important;
    background-color: white;
    font-size: 13px;
    color: #0191C8;
    padding-left: 20px;
    text-decoration: underline;
    cursor: pointer;
}


#security_settings{
    font-size: 13px;
}

/**	Security Settings VENDOR URL CSS **/

#security_settings .settings_vendordiv_css{
	height: 60px;
	line-height: 40px;
}

#security_settings .settings_vendordiv_css > a{
	font-size: 14px ;
	color: #494949 ;
	margin: 0px 0px 0px 0px ; 
	padding: 0px 0px 0px 0px ;
}

#security_settings .settings_vendordiv_css > a:hover{
	color:#F18200;
}

#security_settings .editslug_btn_css{
    width: 60px;
    border: none;
    border-radius: 3px;
    height: 30px;
    padding: 5px 10px;
    margin-left: 5px;
    margin-right: 0px;
}

#user_store_name{
    height: 2em;
}

#user_store_name h2{
    display: inline-block;
}

#store_name_edit{
    position: relative;
    left: 0.3em;
    bottom: 0.2em;
    display: inline-block;
    border-radius: 3px;
    background-color: #FFFFFF;
    line-height: 1.5em;
    height: 1.5em;
    width: 4em;
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    cursor:pointer;
    text-align: center;
}

#user_store_edit input[type="button"]{
    border: none;
    background-color: transparent;
    width: 4em;
    padding:0;
}

#user_store_edit input[type="button"]:hover{
    color: #f48000;
}

#username_echo{
    font-size:1em;
    padding: 0px 5px;
}

#store_name_submit{
    position: relative;
    display: inline-block;
    padding: 7px 3px 7px 3px !important;
    font-size: 13px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    background-repeat: repeat-x;
    border: 1px solid #d5d5d5 !important;
    border-radius: 3px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    line-height: 12px;
}

#store_name_cancel{
    color: #4183c4;
    text-decoration: none;
}

.store-name-field{
    border-radius: 3px;
}

.sales-details-modal {
    width: 1024px !important;
    overflow: hidden !important;
}


