
/* =============================================
-----------------  General -------------
==============================================*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700);



html, body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #7c807e;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #dcdcdc;
}

#wrapper {
    width:100%;
    background-color: #fff;
}

#wrapper.boxed {
    width:970px;
    margin:30px auto;
    box-shadow: 0 0 15px rgba(0,0,0, 0.4);
    -webkit-box-shadow: 0 0 15px rgba(0,0,0, 0.4);
}

::selection {
    background-color: #ff893b;
    color: #fff;
}
::-moz-selection {
    background-color: #ff893b;
    color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height:1;
    color:#444645;
    margin-top:0;
}

h1 {
    font-size:40px;
}

ul,ol {
    list-style-type:none;
    padding:0;
    margin:0;
}

ul.list-disc {
    list-style-type:disc;
    padding-left:20px;
    margin-left:20px;
}

a {
    -webkit-transition:color .24s ease-in-out;
    -moz-transition:color .24s ease-in-out;
    -o-transition:color .24s ease-in-out;
    -ms-transition:color .24s ease-in-out;
    transition:color .24s ease-in-out;
    color:#ff893b;
}

a:active,
a:hover,
a:focus {
    text-decoration:none;
    color:#ff530d;
}

a:active,
a:focus,
input,
select,
textarea {
    outline:none;
}

iframe {
    border:none;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #ebebeb;
}

blockquote {
    padding:35px 20px 10px 65px;
    margin: 0 0 20px;
    border-left: none;
    position: relative;
    color:#8f9290;
}

blockquote p {
    font-size: 15px;
    font-weight: 400;
    line-height:21px;
    font-style:italic;
}


blockquote:before{
    content:'';
    display:block;
    position: absolute;
    left:25px;
    top:11px;
    width:32px;
    height:26px;
    background-image:url('../images/sprites/sprite.png');
    background-repeat: no-repeat;
    background-position: 0 -150px;
}

/* =============================================
-----------------  404 page css -------------
==============================================*/
.btn.btn-no-br {
    border-left: 0;
    border-top: 0;
    border-right: 0;
}

.content-404-bg {
    background-color: #fff;
}

.content-404 {
    padding-bottom: 80px;
    padding-top: 50px;
}

.img-404 {
    margin: 40px 0;
    text-align: center;
}

.img-404 img {
    max-width: 800px;
    width: 100%;
}

.content-404 .col-md-6 h1 {
    font-size: 3.8em;
    font-weight: 900;
    margin-top: 40px;
    text-transform: uppercase;
}

.content-404 .col-md-6 h2 {
    margin-top: 20px;
}

.input-404,
.submit-404 {
    width: 100%;
}

.input-404 {
    height: 40px;
}

.submit-404 {
    font-size: 18px;
}

.form-container-404 {
    margin: 40px 0;
}

.link-404 a {
    color: #444645;
    font-size: 20px;
}

.link-404 a:hover {
    color: #FF4E2D;
}

.link-404 a strong {
    font-weight: 900;
}

.link-404 a img {
    margin-right: 6px;
    margin-top: -4px;
}

/* =============================================
---------------------  Slider ---------------
==============================================*/
.main-slider-container {
    height: 470px;
    overflow: hidden;
}
.bxslider li {
    float: left;
    list-style: none;
    position: relative;
/*    width: auto !important;*/
}

.bxslider li img {
    margin: auto;
}

.slider-temp1-img2 {
    display: none !important;
}

.slider-template-3 .img-holder,
.slider-template-4 .slider-item .img-holder {
    float: left;
}

.img-holder-mrgn-right-10 {
    margin-right: 2%;
}

.img-holder-mrgn-btn-10 {
    margin-bottom: 5%;
}

/*.slider-template-1 {
    width: 100% !important;
}*/

.slider-template-1 img {
    width: 100%;
    max-width: 1140px !important;
}

.slider-template-2 img {
    width: 100%;
    max-width: 565px !important;
}

.slider-template-3 .temp3-img-1,
.slider-template-4 .temp4-img-1 {
    width: 59%;
}

.slider-template-3 .temp3-img-2,
.slider-template-4 .temp4-img-2 {
    width: 39%;
}

.slider-template-3 .temp3-img-1 img,
.slider-template-4 .temp4-img-1 img  {
    max-width: 333px !important;
    width: 100%;
}

.slider-template-3 .temp3-img-2 img  {
    max-width: 222px !important;
    width: 101%;
}

.slider-template-4 .temp4-img-2 div img {
    max-width: 222px !important;
    width: 101%;   
}

/*.slider-template-1 {
    display: table-cell;
    height: 470px;
    vertical-align: middle;
    text-align: center;
    width: 1140px;
}

.slider-template-1 img {
    max-height: 470px;
    max-width: 1140px;
    height: auto;
    width: auto;
}

.slider-template-2 {
    display: table-cell;
    height: 470px;
    text-align: center;
    vertical-align: middle;
    width: 565px;
}

.slider-template-2 img {
    max-height: 470px;
    max-width: 565px;
    height: auto;
    width: auto;
}

.slider-template-3 .temp3-img-1 {
    display: table-cell;
    height: 470px;
    text-align: center;
    vertical-align: middle;
    width: 333px;
}

.slider-template-3 .temp3-img-1 img {
    max-height: 470px;
    max-width: 333px;
    height: auto;
    width: auto;
}

.slider-template-3 .temp3-img-2 {
    display: table-cell;
    height: 470px;
    text-align: center;
    vertical-align: middle;
    width: 222px;
}

.slider-template-3 .temp3-img-2 img {
    max-height: 470px;
    max-width: 222px;
    height: auto;
    width: auto;
}*/


/* =============================================
---------------------  Content ---------------
==============================================*/

#content {
    background-color: #fff;
}

#content img {
/*    display:block;*/
    height:auto;
}    

.title {
    padding-left:8px;
    border-left:4px solid #ff893b;
    font-size:40px;
    margin-bottom:15px;
}

.title-bg {
    position: relative;
}

.title-bg .title {    
    margin:7.5px 0;
}

.title-bg + .title-desc {
    margin:5px 0;
}

.title-bg > h1,
.title-bg > h2,
.title-bg > h3,
.title-bg > h4,
.title-bg > h5 {
    position: relative;
    display:inline-block;
    left:0;
    padding-right:30px;
    z-index:1;
    background:#fff;
    font-weight: 600;
}
.title-bg:after {
    content:'';
    background:#4370CD;
    position: absolute;
    left:0;
    top:50%;
    margin-top:12px;
    display:block;
    width:100%;
    height:2px;
    z-index:0;
}

#content .content-title {
    margin-bottom:20px;
    width: 100% !important;
    font-weight: 600 !important;
}

.title-desc {
    font:17px/1.5 "PT Sans", Arial, sans-serif;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

.sub-title {
    font-size:25px;
    line-height:1;
    text-transform:uppercase;
    margin-bottom:30px;
    margin-top:0;
}


/* =============================================
------------------- index.html --------------
==============================================*/

.home-banners div:nth-child(1) {
    padding:0 5px 0 15px;
}
.home-banners div:nth-child(2) {
    padding:0 10px;
}
.home-banners div:nth-child(3) {
    padding:0 15px 0 5px;
}
.home-banners a {
    display:block;
    margin-bottom:20px;
}

.home-banners a:hover {
    opacity:0.8;
}

#products-tabs-list {
    margin-bottom:30px;
}

.tab-style-1 li {
    float:left;
    margin:0 3px 3px 0;

}

.tab-style-1 li a {
    background:#575a59;
    border:1px solid #575a59;
    color:#fff;
    text-transform:Uppercase;
    padding:4px 20px;
    display:inline-block;
    font:400 14px/20px 'PT Sans', sans-serif;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

.tab-style-1 li a:hover,
.tab-style-1 li.active a {
    background:#ff893b;
    border-color: #ff893b;
}

.tab-style-1 li.active a {
    cursor:default;
}

#products-tabs-content {
    margin-bottom:25px;
}
    
#brand-slider-container {
    //margin-bottom:30px;
} 

.brand-slider {
    text-align:center;
}

.brand-slider a {
    display:inline-block;

}

.brand-slider img {
    display:inline-block;
    max-width:100%;
    height:auto;
}


/* General product style */
.item {
    position: relative;
    margin-bottom:30px;
    padding:20px;
    border:1px solid transparent;
}

/* cut left/right padding for carousel items */
.owl-carousel .item {
    padding:20px 15px;
    margin:0 15px;
    border: 1px solid #e8e8e8;;
}

.item.item-list {
    margin-bottom:40px;
}

.item.item-list .item-image-container {
    width:230px;
    float:left;
    margin-right:40px;
    margin-bottom:0;
}

.item  .item-image-container {
    position: relative;
    margin:0 auto 20px;
    width:173px;
}

.item  .item-image-container > a {
    display:block;
}

.item  .item-image-container  img {
    width:100%;
    height:auto;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    -ms-transition:all 0.3s;
    transition:all 0.3s;
}

.item .item-image-container  .item-image {
    visibility:visible;
    opacity:1;
}

.item .item-image-container  .item-image-hover {
    opacity:0;
    visibility:hidden;
    position: absolute;
    left:0;
    top:0;
}

.item:hover > .item-image-container .item-image {
    visibility:hidden;
    opacity:0;
}

.item:hover > .item-image-container .item-image-hover {
    visibility:visible;
    opacity:1;
}

.item-price-container {
    display:inline-block;
    font:700 14px "Helvetica", Arial, sans-serif;
    color:#adadad;
    margin-bottom: 5px;
}

.item-price-special {
    font:700 16px/20px "Helvetica", Arial, sans-serif;
    color:#e82c0c;
}

.item-price-container .old-price {
    text-decoration:line-through;
    margin-right:10px;
}

.item-price-container .item-price{
    color:#e82c0c;
}

.item-meta-inner-container  {
    margin-bottom: 5px;
}
.sub-price {
    font-size:75%;
    position: relative;
    bottom:0;
}

.new-rect,
.discount-rect {
    display:block;
    font:700 16px/20px "PT Sans", sans-serif;
    color:#fff;
    padding:7.5px 0;
    position: absolute;
    left:0;
    top:10px;
    text-transform:uppercase;
    z-index:800;
    width:62px;
    text-align:center;
}

.new-rect {
    background:#ff893b;
}

.discount-rect {
    background:#555555;
}

.new-circle,
.discount-circle {
    display:block;
    font:700 14px "Gudea", sans-serif;
    color:#fff;
    padding:18.5px 0;
    position: absolute;
    top:10px;
    text-transform:uppercase;
    z-index:800;
    width:55px;
    height:55px;
    text-align:center;
    border-radius:500px;
}

.new-circle {
    background:#ff6138;
    left:12px;
}

.discount-circle {
    background:#00a388;
    right:12px;
}

.new-circle-2,
.discount-circle-2 {
    display:block;
    font:700 14px "Gudea", sans-serif;
    color:#fff;
    padding:18.5px 0;
    position: absolute;
    top:10px;
    text-transform:uppercase;
    z-index:800;
    width:55px;
    height:55px;
    text-align:center;
    border-radius:500px;
}

.new-circle-2 {
    background:#ff6138;
    left:12px;
}

.discount-circle-2 {
    background:#00a388;
    right:12px;
}

/* if two tags used together take discount to below */
.new-rect + .discount-rect {
    top:47px !important;
}

.item.item-list  .item-meta-container {
    text-align:left;
    padding-top:5px;
}

.item-meta-container{
    margin-top: 10px;
}

.item-meta-container > a,
.item-meta-container > a >.item-name
{
    transition: all 0.3s ease;
}

.category-list-container .ratings-container {
    margin-bottom:10px;
}

.ratings-container {
    display:inline-block;
    float:right;
    padding:0;
    height:20px;
}

.item  .ratings-container * {
    vertical-align:middle;
}
.ratings {
    width:94px;
    height:16px;
    display:inline-block;
    background: url(../images/sprites/ratings.png) no-repeat;
    background-position: 0 0;
}

.ratings .ratings-result {
    height:16px;
    background: url(../images/sprites/ratings.png) no-repeat;
    background-position: 0 -16px;
}

.ratings-amount {
    color:#ccc;
    font-size:14px;
    line-height:16px;
    white-space:nowrap;
}

/* title for all items */
.item-name {
    font:700 14px 'Helvetica', 'Open Sans', sans-serif;
    margin:0 0 5px;
    /*text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;*/
    margin-top: 5px;
}

.item-name:hover{
    color: #ff893a
}

/* title for list style items */
.item.item-list  .item-name {
    font-weight:700;
    font-size:20px;
    margin:5px 0 10px;
}

.item-name a {
    color:#565656;
}

.item-name a:hover {
    color:#ff893b;
}

.item.item-list .item-meta-container p {
    margin-bottom:20px;
}

.item-name, .item-price, .old-price{
    font-weight: 900 !important;
}

.item-action {
    line-height:15px;
}

.item-action * {
    vertical-align:middle;
    white-space:nowrap;
}

.item-add-btn {
    display:inline-block;
    height:35px;
    min-width:35px;
    color: #e8e8e8;
    background-color: #575a59;
    border:1px solid #5c5f5e;
    -webkit-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.4);
    box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.4);
    border-radius:3px;
    text-transform:uppercase;
    transition:background-color 0.4s;
    -webkit-transition:background-color 0.4s;
    -moz-transition:background-color 0.4s;
    vertical-align:top;
}

.item-add-btn:hover,
.item-add-btn:focus,
.item-add-btn:active,
.item-add-btn.active {
    color: #fff;
    background: #ff893b;
    border-color: #ff893b;
    -webkit-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.4);
    box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.4);

}
.item-add-btn.icon-cart {
    background-image: url(../images/sprites/cart.png);
    background-repeat:no-repeat;
    background-position:center center;
}

.icon-cart-text {
    display:inline-block;
    padding:10px 16px;
    font-weight:bold;
    font-size:13px;
}

.item  .item-action .item-action-inner {
    display:inline-block;
    padding-left:15px;
}

.item .ratings-amount{
    display:none;
}

#products-tabs-content .item {
    border: 1px solid #e8e8e8;
}


/* =============================================
----------------- Scroll Top Button --------------
==============================================*/
#scroll-top {
    position:fixed;
    bottom:15px;
    right:15px;
    display:inline-block;
    visibility:hidden;
    cursor:pointer;
    z-index:999;
    border-radius:4px;
    opacity:0;
    color: #fff;
    background: #ff893b;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    font-size:26px;
    padding:5px 9.5px;
    text-align:center;
}
#scroll-top:hover {
    background-color: #ff6138;
}
#scroll-top.fixed {
    visibility:visible;
    opacity:1;
}

/* =============================================
--------------------- Bootstrap Style's Overwrite 
& Adding custom bootstrap styles -----------------
==============================================*/

.btn {
    border:1px solid #ff530d;/*
    padding:10px 18px;*/
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    border-radius:3px;
}

.btn-lg {
  padding: 11px 22px;
  font-size: 15px;
  line-height: 22px;
  border-radius: 3px;
}

.btn:focus,
input.btn:focus {
  outline:none;
}

.btn:active,
.btn.active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

/* =============================================
------------ owl carousel   ----------
==============================================*/
#owl-demo .item{
  background: #3fbf79;
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation{
  text-align: center;
}
/* use styles below to disable ugly selection */
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*** global style ***/
html, body{
    background: #ebedf0;
}

.item-featured{
    padding: 10px;
    border: solid red 1px !important;
}

.mo{
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
}

.item > .item-image-container {
width: 100% !important;

}

.item-image-container-fetured{
    background: #000000;
}

.btn {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.btn.btn-default-1 {
    border: 3px solid #565656;
    background-color: #fff;
    color: #565656;
    padding: 8px 7px;
    font-weight: 900;
    border-radius: 4px;
    font-size: 13px;
}

.btn-add-cart{
    width: 92%;
    border-radius: 7px !important;
}

.btn-add-cart > .icon-cart{
    padding-right: 4px;
font-size: 15px;
}

.btn.btn-default-1:hover {
    background-color: #585a59;
    color: #fff;
}

.fa-shopping-cart{
    padding-right: 5px;
}

.fa-prev-slide{
    position: absolute;
    left: 0;
    margin-left: 7px;
    width: 44px;
    height: 44px;
    border: solid #fff 2px;
    border-radius: 50%;
    top: 47%;
    z-index: 998;
    color: #ffffff;
    -webkit-transition: all 0.3s ease;
    font-size: 40px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    display: table-cell;
    vertical-align: middle;
    padding-left: 11px;
   
}

.fa-next-slide{
    position: absolute;
    right: 0;
    margin-right: -54px;
    width: 44px;
    height: 44px;
    border: solid #fff 2px;
    border-radius: 50%;
    top:47%;
    z-index: 998;
    color: #ffffff;
    -webkit-transition: all 0.3s ease;
    font-size: 40px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    display: table-cell;
    vertical-align: middle;
    padding-left: 14px;
}

.fa-next-slide:hover, .fa-prev-slide:hover{
    color: #ffffff;
    background: #ff893b;
    border-color: #ff893b;
    cursor: pointer;
}

.col-featured-items{
    padding-left: 30px;
    padding-right: 30px;
}

.purchased-items-slider-cat-1,
.purchased-items-slider-cat-2,
.purchased-items-slider-cat-3{
    min-height: 415px;
}
#cat-items .item{
    background: #ffffff !important;
    display: block;
    padding: 20px 20px !important;
    margin: 5px 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}

#featured-seller{
    margin-left: 30px;
}

#featured-seller .item{
   background: #ffffff !important;
  display: block;
  padding: 20px 20px !important;
  margin: 5px 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

.a-item-image{
    width: 100%;
    height: 100%;
}

.owl-theme .owl-controls .owl-buttons div {
  padding: 5px 9px;
}
 
.owl-theme .owl-buttons i{
  margin-top: 2px;
}
 
/* To move navigation buttons outside use these settings: */
 
.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}
 
.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: -45px;
  top: 55px; 
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: -45px;
  top: 55px;
}
.p-category-name{
    font: "Helvetica", Arial, inherit;
    font-weight: 500px;
}

.tag-categories{
    margin-bottom: 10px;
}

.btn-tag{
    border: solid #868686 1px;
    background: #868686;
    color: #ffffff;
    border-radius: 4px;
    padding: 7px 20px;
    font-weight: 500;
    margin-right: 10px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 11px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.btn-tag-active, .btn-tag:hover{
    border: solid #4370cc 1px;
    background: #4370cc;
}

.category-title-container{
    border-bottom: solid #4370CD 2px !important;
    margin-bottom: 15px;
}

.category-title-container > p{
    margin: 0;
    font-size: 15px;
    margin-bottom: 5px;
    color: #444645;
    font-weight: 600;
}

.sn-container{
    margin-top: -4px;
}

.fa-category-item-prev{
    color: #868686;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    height: 25px !important;
    width: 25px !important;
    border: solid #868686 2px;
    font-size: 20px;
    border-radius: 50%;
    padding-left: 6px;
    margin-right: 4px;
    padding-top: 1px;
}

.fa-category-item-next{
    margin-left: -7px;
    color: #868686;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    height: 25px !important;
     width: 25px !important;
     border: solid #868686 2px;
     font-size: 20px;
     border-radius: 50%;
     padding-left: 7px;
}

.fa-category-item-prev:hover, .fa-category-item-next:hover{
    color: #ffffff;
    background: #ff893b;
    border: solid #ff893b 2px;
    cursor: pointer;
}

.div-slider-control{
    margin-top: 7px;
    background: none;
    width: 160px !important;
}

.span-see-all{
    border-right: solid #868686 1px !important;
    color: #868686;
    padding-right: 17px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-right: 17px;
    height: 70px !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    font-size: 15px;
    font-weight: normal;
}

.span-see-all:hover{
    color: #ff893b;
}

.span-store-logo{
    width: 40px;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
}

.img-store-logo{
    max-height: 40px;
    max-width: 40px;
}

.img-featured-seller{
    max-height: 150px;
    max-width: 150px;
}

.store-logo-container{
    display: table-cell;
    width: 40px;
    height:40px;
    text-align: center;
    vertical-align: middle !important;
}

.col-store-logo{
    width:300px;
    height:414px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-left: 75px;
}
.span-store-big-logo{
    width: 150px;
    height: 150px;
    vertical-align: middle;
    display: table-cell;
}

.store-big-logo-container{
    display: table-cell;
    width: 150px;
    height: 150px;
    text-align: center;
    vertical-align: middle !important;
    margin-left:
}

.img-promo-banner{
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.img-promo-banner:hover{
    -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
}

.row-category{
    margin-top: 15px;
}

.row-category-brand{
    margin-top: 30px;
}

.content-title, .title-bg, .carousel-controls{
    background: none !important;
    background-color: none !important;
}

.carousel-controls {
    padding-left: 0px !important;
}

.img-category{
    width: 29px;
    height: 29px;
    margin: -3px 5px 5px 0px;
}

.img-category-mobile{
    width: 25px;
    height: 25px;
    margin: -3px 3px 5px 0px;
    display: none !important;
}

.title-bg > h3{
    background: none !important;
    background-color: none !important;
    font-size: 15px;
}

.row-brand{
    background: #e2e2e2;
}

.title-brand:after{
    background: #bfbfbf !important;
}

#brand-items {
    margin-top: -16px;
}

#brand-items .item{
    background: transparent !important;
    display: block;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    padding: 0px !important;
    border: solid #e2e2e2 1px;
}

.brand-container{
    width: 100%;
    height: 120px;
    max-height: 120px;
    border: solid #e2e2e2 1px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.span-brand{
    width: 100%;
    max-height: 120px;
    display: table-cell;
    vertical-align: middle;
    max-height: 120px;
}

.brand-img{
    width: 80%;
    height: auto;
    max-height: 120px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); 
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    }

.brand-img:hover{
    filter: none;
    -webkit-filter: grayscale(0%);
}

.fa-brand-prev{
    width: 25px;
    height: 25px;
    border: solid #565656 1px !important;
    color: #ffffff;
    border-radius: 50%;
    padding-left: 7px;
    padding-top: 1px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    background: #6e6e6e;
}

.fa-brand-next{
    width: 25px;
    height: 25px;
    border: solid #565656 1px !important;
    color: #ffffff;
    border-radius: 50%;
    padding-left: 9px;
    padding-top: 1px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    background: #6e6e6e;
}

.fa-brand-prev:hover, .fa-brand-next:hover{
    border: solid #ff893b 1px !important;
    color: #ffffff;
    background:#ff893b;
    cursor: pointer;
}

.slider-brand{
    margin-right: 0px;
}

.span-store-logo > img, .span-store-big-logo > img {
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
}

.row-featured-category{
    margin-top: 40px;
}

.item-image-container{
    width: 100%;
    height: 228px;
}

.clear{
    clear: both;
}

.div-overlay{
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: #000000;
    opacity: 0.5;
    top:0;
}

.div-rec-product-image{
    width: 100% !important;
    height: 228px;
    text-align: center;
    background: #fff;
}

.span-me{
    width: 100% !important;
    max-width: 100% !important;
    height: 228px;
    max-height: 228px;
    display: table-cell;
    vertical-align: middle;
    background: #fff;
}

.image-handler{
    width: 100%; 
    padding: 0px 20px; 
    height: 228px;
}

.img-rec-product{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 228px !important;
}


.home-item-img-container{
    width: 100%;
    height: 245px;
    position: relative;
    overflow: hidden;
}

.home-item-image-primary{
    max-width: 100%;
    max-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    z-index: 2;
    transition: all 0.3s ease;
}

.home-item-img-container:hover .home-item-has-secondary{
    opacity: 0;
}

.home-item-image-secondary{
    max-width: 100%;
    max-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    z-index: 1;
    opacity: 0;
    transition: all 0.2s ease;
}

.home-item-img-container:hover .home-item-image-secondary{
    opacity: 1;
}

.home-item-img-container-hover{
    width: 100%;
    height: 245px;
    position:absolute;
    opacity:0;
    transition: all 0.3s ease;
}

.td-logo-store{
        padding-left: 4px;
}

h3 > b{
    font-size: 20px;
}

.main-prod-image{
    opacity: 1;
    margin-top: -21px;
    position: absolute;
    left: 0;
    padding: 20px;
    top: 22px;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.main-prod-image:hover{
    opacity: 0;
}

.tooltip-home 
{
    position: absolute;
    width: 100%;
    /* height: 120px; */
    padding: 0px;
    background: #003e91;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px;
    bottom: 24px;
    font-size: 12px;
    color: #fff;
    display: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    text-align:center;
    z-index: 999;

}

.tooltip-home:after 
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 20px 22px 0;
    border-color: #003e91 transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -9px;
    left: 39%;-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

@-moz-document url-prefix() {
    .tooltip-home{
        bottom: 30px;
    }
}

.item-name:hover .tooltip-home{
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.call-to-action-sell-container{
    display: inline-block;
    position: fixed;
    z-index: 99999999;
    bottom: 0;
    left: 0;
}

.call-to-action-sell-container .call-to-action-sell-wrapper{
    position: relative;
    display: inline-block;
}

.call-to-action-sell-container .base{
    background: #5b5159;
    width: 215px;
    height: 35px;
    border-bottom: solid #4d414b 2px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    margin-left: -25px;
    position: relative;
    -webkit-box-shadow: 2px -2px 11px 0px rgba(138,138,138,0.5);
    -moz-box-shadow: 2px -2px 11px 0px rgba(138,138,138,0.5);
    box-shadow: 2px -2px 11px 0px rgba(138,138,138,0.5);
    z-index:1;
}

.call-to-action-sell-container .icon-base{
    background: #ff893b;
    width: 52px;
    height: 35px;
    position: relative;
    border-bottom: solid #ff4c1d 2px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    margin-left: 3px;
    margin-top: -35px;
    z-index:3;
}

.call-to-action-sell-container .icon-base .icon-item{
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    margin-top: 7px;
    text-shadow: 2px 1px 0px rgba(255, 78, 8, 1);
}

.call-to-action-sell-container .top-filler{
    display: inline-block;
    position: relative;
    width: 134px;
    height: 6px;
    background: #ff893b;
    -webkit-transform: skew(47deg);
    -moz-transform: skew(47deg);
    -ms-transform: skew(47deg);
    -o-transform: skew(47deg);
    margin-left: -30px;
    -webkit-box-shadow: 2px -2px 11px 0px rgba(138,138,138,0.5);
    -moz-box-shadow: 2px -2px 11px 0px rgba(138,138,138,0.5);
    box-shadow: 2px -2px 11px 0px rgba(138,138,138,0.5);
    z-index:2;
}

.call-to-action-sell-container .call-to-action-sell-text{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 99999;
      width: 135px;
  height: 50px;
    text-align: center;
    margin: 0px;
    margin-left: 51px;
    margin-top: 10px;
    padding-top: 7px;
    font-size: 12px;
    font-family: Open Sans;
    font-weight: 600;
    text-transform: uppercase;
    color: #e8bc97;
    text-shadow: 2px 1px 0px rgba(52, 49, 56, 1);
}

.button-action{
      position: absolute;
  right: 9px;
  bottom: 7px;
  z-index: 999;
  display: inline-block;
  color: #fff;
  font-size: 17px;
  text-shadow: 2px 1px 0px rgba(52, 49, 56, 1);
}

@media (min-width: 1380px) {
    .sticky-nav-fixed .sticky-nav-logo-con {    
        background-color: #4370cc;
        display: inline-block;
        height: 0;
        left: -2280px;    
        position: relative;
        text-align: right;
        width: 200%;
    }

    .sticky-nav-logo {
        background-color: #4370cc;
        height: 46px;
        padding-top: 3px;
        position: absolute;
        top: 0px;
        right: 0;
        width: 100%;
    }    
}

@media only screen and (min-width: 324px) {
    .main-slider-container {
        height: 300px;
    }

    .slider-item {
        height: 300px;
    }

}

@media only screen and (min-width: 480px) {
    .main-slider-container {
        height: 440px;
    }

    .slider-item {
        height: 440px;
    }
}

@media only screen and (min-width: 565px) {
    .main-slider-container {
        height: 302px;
    }

    .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
        bottom: 25px;
    }

    .slider-item {
        height: 320px;
    }

    .slider-template-2,
    .slider-template-3,
    .slider-template-4 {
        width: 378.5px !important;
    }


}

@media (min-width: 565px) and (max-width: 767px) {
    .slider-template-1.slider-alt-template2 {
        width: 378px !important;
    }
}

@media only screen and (min-width: 767px) {
    .main-slider-container {
        height: 300px;
    }
    .slider-item {
        height: 300px;
    }

    .slider-template-2,
    .slider-template-3,
    .slider-template-4 {
        width: 355px !important;
    }
}

@media (min-width: 992px) {
    .sticky-nav-fixed .mobile-menu-nav-hide {
        display: none;
    }

    .sticky-nav-fixed #main-nav .menu {
        float: left;
        width: 28%;
    }

    .sticky-nav-fixed #main-nav-container #main-nav .menu li.drop-category {
        width: 90%;
    }

    .sticky-nav-fixed .sticky-search-cart-wrapper {
        display: inline-block;
        vertical-align: middle;
        float: right;
        line-height: 34px;
        padding-top: 5px;
        text-align: right;
        width: 72%;
    }

    .sticky-nav-fixed .header-cart-container {
        display: inline-block;
        float: left;
        position: relative;
    }

    .sticky-nav-fixed .header-cart-container:hover .sticky-header-cart-item-list {
        display: block;
        top: 42px;
        width: 252px;
    }
}

@media only screen and (min-width: 991px) {
    .main-slider-container {
        height: 388px;
    }

    .slider-item {
        height: 388px;
    }

    .slider-template-2,
    .slider-template-3,
    .slider-template-4 {
        width: 465px !important;
    }
}
@media screen and (min-width: 1200px) {
    .main-slider-container {
        height: 470px;
    }

    .slider-template-2,
    .slider-template-3,
    .slider-template-4 {
        width: 565px !important;
    }


/*    .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
        bottom: 10px;
    }

    .bx-wrapper .bx-controls-direction a {
        top: 50%;
    }*/

    .slider-item {
        height: 470px;
    }
}

@media screen and (min-width: 1200px) {
    #main-nav-container #main-nav .menu li > .mega-menu {
        width:1140px;
        border-radius: 0px 0px 4px 4px;
    }
}

@media only screen and (max-width: 767px) {
    .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
        bottom: 10%;
    }
    .bx-wrapper .bx-next {
        right: 10px;
    }


    .slider-temp1-img1 {
        display: none !important;
    }

    .slider-template-1 img.slider-temp1-img2 {
        display: block !important;
        max-width: 565px !important;
    }

    /*** ---- 404 responsive css --- ***/

    .form-container-404 .form-404-input {
        margin-bottom: 20px;
    }

    .form-container-404 .form-404-input .row {
        margin-left: 0;
        margin-right: 0;
    }

    /*** sell an item floating button responsive ***/
    .call-to-action-sell-container .call-to-action-sell-text{
        width: 117px;
        height: 33px;
        margin-left: 53px;
        margin-top: 10px;
        padding-top: 4px;
        font-size: 13px;
    }

    .call-to-action-sell-container .top-filler{
        width: 141px;
        height: 5px;
    }

    .call-to-action-sell-container .base{
        width: 200px;
        height: 33px;
    }

    .call-to-action-sell-container .icon-base{
        width: 43px;
        height: 34px;
        margin-left: 3px;
        margin-top: -34px;
    }

    .call-to-action-sell-container .icon-base .icon-item{
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 565px) {
    .slider-template-1 img {
        bottom: 0;
        position: absolute;
        top: 0;
    }
}

@media only screen and (max-width: 480px) {
    .vendor-login-name {
        display: block !important;
    }
}

@media only screen and (max-width: 323px) {
    .main-slider-container {
        height: 266px;
    }

    .slider-item {
        height: 266px;
    }

}

@media only screen and (max-width: 1200px) {
    .sticky-nav-fixed #main-nav .menu {
        width: 22%;
    } 

    .sticky-nav-fixed #main-nav-container #main-nav .menu li.drop-category {
        width: 90%;
    }

    .sticky-nav-fixed .sticky-search-cart-wrapper {
        width: 78%;
    }

    .sticky-search-wrapper {
        width: 42.5%;
    }

    .sticky-search-wrapper input[type="text"] {
        width: 80.5%;
    }


    .btn.btn-default-1 {
        width: 100%;
    }
    .purchased-items-slider-cat-1,
    .purchased-items-slider-cat-2,
    .purchased-items-slider-cat-3{
        min-height: 0px;
    }
    
    .fa-prev-slide{
        margin-left: 6px !important;
    }
    
    .fa-next-slide{
        margin-right: 10px;
    }
    
    #featured-seller{
        margin-left: 10px !important;
        padding-right: 20px;
    }
    
    .col-store-logo{
        display: none;
    }
    
    .div-slider-control{
        position: absolute;
        left: 0;
        margin-top: 30px;
        padding-left: 0px !important;
    }
    
    #cat-items{
        margin-top: 35px;
    }
    
    #brand-items {
        margin-top: 27px;
    }
    
    .brand-nav{
        float: left !important;
    }
    
    .owl-wrapper{
        overflow-x: hidden !important;
    }
}

@media only screen and (max-width: 979px) {

    .content-title > .title-bg > h3{
        font-size: 15px;
    }

    .mo{
        padding-left: 0px;
        padding-right: 0px;
        margin: 20px 0px;
    }

    .col-featured-items{
        padding-right: 10px;
        padding-left: 10px;
    }

    .row-brand, .a-see-all, #category-3{
        display: none;
    }
    
    .row-featured-category{
        margin-bottom: 20px;
    }

    .title-bg > h1, .title-bg > h2, .title-bg > h3, .title-bg > h4, .title-bg > h5{
        padding-right: 0px;
    }

    .sub-category{
        display: none;
    }
    
     #cat-items{
        margin-top: 10px;
    }
    
    .row-featured-category{
        margin-top: 15px;
    }
    
    .promo-3{
        display: none;
    }
    
    .fa-next-slide, .fa-prev-slide{
        background: #ff893b;
        border-color: #ff893b;
        color: #ffffff;
        opacity: 0.7;
        font-size: 25px;
        height: 30px;
        width: 30px;
    }
    
    .fa-prev-slide{
        padding-left: 8px;
    }
    
    .fa-next-slide{
        padding-left: 10px; 
    }
    .nav-searchfield-width .search-container > input[type="text"] {
        width: 40%;
    }
    
    #tag-1 a, #tag-2 a, #tag-3 a{
         display:none;
    }
    #tag-1 a:nth-child(1),#tag-1 a:nth-child(2),
    #tag-2 a:nth-child(1),#tag-2 a:nth-child(2),
    #tag-3 a:nth-child(1),#tag-3 a:nth-child(2){
        display:inline !important;
    }
   
   .img-category{
        display: none !important;
    }

    .img-category-mobile{
        display: inline !important;
    }

    .row-category{
        margin-top: 30px;
    }
}

@media only screen and (max-width: 479px) {
    #top-links li {
        margin-right: 0;
    }

    .sticky-search-cart-wrapper {
        width: 89%;
    }

    .item-image-container{
        width: 100%;
        height: 100px !important;
        border: solid #fff 1px;
        margin-bottom: 5px !important;
    }
    
    .item-name{
        font-size: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-top: 15px;
    }
    
    .old-price, .item-price{
        font-size: 12px;
    }

    .new-circle, .discount-circle{
        font-size:10px;
        width: 30px;
        height: 30px;
        padding: 0px !important; 
        padding-top: 10px !important;
    }

    .new-circle-2, .discount-circle-2{
        font-size:10px;
        width: 30px;
        height: 30px;
        padding: 0px !important; 
        padding-top: 10px !important;
    }

    .td-logo-store{
        padding-left: 4px;
    }
    
    a.btn-default-1{
        padding: 5px 2px !important;
        font-size: 10px; 
    }
    
    #cat-items .item, #featured-seller .item{
        padding: 10px 10px !important;
        min-height: 209px;
    }
    
    .span-see-all{
        font-size:13px;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    
    .row-promo-ads{
        margin-top: 10px;
    }
    
    .mo {
        margin: 10px 0px;
    }
    
    .brand-container{
        width: 100%;
        height: 70px;
        max-height: 70px;
        border: solid #e2e2e2 1px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    
    #brand-items {
        margin-top: 50px;
    }
    
    .brand-img{
        max-height: 70px;
        border: solid red 1px;
    }
    
    .category-title-container > p{
        font-size: 15px;
    }
    
    .category-title-container{
        border-bottom: solid #4370CD 1px !important;
        margin-bottom: 15px;
    }
    
    .btn-tag{
        padding: 4px 10px;
        padding-top: 9px;
        margin-right: 5px;
    }
    
    .div-rec-product-image{
        width: 100% !important;
        height: 100px;
        vertical-align: middle;
        text-align: center;
        background: #fff;
    }
    
    .main-prod-image{
        padding: 10px;
        height: 100px;
    }

    .home-item-img-container{
        height: 100px;
    }

    .image-handler{
        height: 100px;
    }

    .span-me{
        width: inherit !important;
        max-width: 100% !important;
        height: 100px;
        max-height: 100px;
        display: table-cell;
        vertical-align: middle;
        background: #fff;
    }

    .img-rec-product{
        max-width: 100%;
        height: auto;
        max-height: 100px !important;
    }
    
    html, body{
        letter-spacing: 0px;
    }
    
    .btn-add-cart{
        border-radius: 4px !important;
    }
    
    .btn-add-cart > .icon-cart{
        padding-right: 0px;
    }
    
    .btn.btn-default-1{
        font-size: 10px;
        border-width: 2px;
    }
    
    .item-price {
        display: block;
        margin-top: 4px;
    }
    
    .item-price-container{
        height: 30px;
    }
    
    .td-logo-store{
        display: none;
    }
}

@media only screen and (max-width: 320px) {
    .sticky-search-cart-wrapper {
        width: 87%;
    }
}

@media only screen and (max-width: 991px) {
    .item-name:hover .tooltip-home{
        display: none !important;
    }
    
    .tooltip-home {
        display: none;
    }

    .sticky-nav-fixed .mobile-menu-nav-hide {
        display: block;
    }

    .sticky-header-nav .header-text-container {
        display: none;
    }


    .mega-menu .col-md-20p,
    .mega-menu .col-md-80p {
        width: 100%;
    }

    .mega-menu .border-right {
        border-right: none;
        min-height: inherit;
    }

    .mega-menu h2 {
        font-weight: 900;
        padding: 19px 0;
        text-transform: uppercase;
    }

    .mrgn-left-neg-14 {
        margin-left: -30px;
        margin-right: -15px;
    }

    #main-nav-container #main-nav #responsive-nav ul li a.cat-sub-title {
        background: #f6f6f6;
        border-top: 1px solid rgba(200, 200, 200, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        max-width: 100% !important;
        padding: 12px 12px 12px 30px;
        position: relative;
        width: 100%;         
    }

    #main-nav-container #main-nav #responsive-nav .other-cat-con {
        display: block;
        margin-left: -15px;
        margin-right: -15px !important;
        width: auto;
    }

    #main-nav .drop-category .category-icon {
        display: none;
    }

    #main-nav .drop-category .icon-category {
        display: none;
    }

    #main-nav-container #main-nav #responsive-nav {
        display:block;
        float: left;
        padding:5px 0;
    }

    #responsive-nav-button {
        color:#fff;
    }
    
    #main-nav-container #main-nav > ul{
        display:none;   
    }

    #main-nav-container #main-nav #responsive-nav .responsive-nav {
        top: 52px;
    }

    .header-inner-right {
        display: none;
    }

    #inner-header .logo-container {
        width: 100%;
        text-align: center;
    }

    .logo {
        margin-bottom: 19px;
        width: 100%;
    }

    .sticky-nav-fixed #main-nav-container {     
        background-color: #4370cc;
    }

    .sticky-nav-fixed {
        position: relative;
        z-index: 4;
    }

    .sticky-search-cart-wrapper {
        display: block;
        float: right;
        line-height: 46px;
        text-align: right;
        width: 95%;
    }

    .sticky-search-cart-wrapper .header-link {
        display: none;
    }

    .sticky-search-wrapper {
        width: 62.5%;
    }
    .sticky-search-wrapper input[type="text"] {
        width: 80.5%;
    }

    .sticky-search-cart-wrapper .header-cart-items-con {
        background-color: #fff;
        width: 78%;
    }

    .sticky-search-cart-wrapper .header-cart-wrapper {
        width: 33%;
    }

    .header-cart-container:hover .sticky-header-cart-item-list {
        display: block;
        top: 47px;
        width: 252px;
    }
    
    /*** --- 404 responsive css small devices --- ***/
    .content-404 .col-md-6 h1  {
        font-size: 4em;
        text-align: center;
    }

    .content-404 .col-md-6 h2 {
        text-align: center;
    }

    .link-404 {
        text-align: center;
    }
}

@media only screen and (max-width: 979px) {
    header {
        width: auto !important;
    }
    
    .item-price {
        display: block;
        margin-top: 4px;
    }
    
    .item-price-container{
        height: 30px;
    }
    
    .item-action{
        margin-top: 10px;
    }
}

@media only screen and (max-width: 717px) {
    .sticky-search-wrapper {
        width: 60.5%;
    }

    .sticky-search-wrapper input[type="text"] {
        width: 77.5%;
    }
}

@media (max-width: 767px) {
    .sticky-search-cart-wrapper {
        width: 93%;
    }
}

@media only screen and (max-width: 681px) {
    .sticky-search-wrapper {
        width: 61.5%;
    }
    .sticky-search-wrapper input[type="text"] {
        width: 74.5%;
    }
    .sticky-search-cart-wrapper .header-cart-wrapper {
        width: 34%;
    }
    .sticky-search-cart-wrapper .header-cart-items-con {
        font-size: 0.75em;
        width: 75%;
    }
}

@media only screen and (max-width: 640px) {
    /*** --- 404 responsive css small devices --- ***/
    .content-404 .col-md-6 h1  {
        font-size: 3em;
    }

    .content-404 .col-md-6 h2 {
        font-size: 1.6em;
    }
}

@media only screen and (max-width: 589px) {
    .sticky-search-cart-wrapper {
        width: 91%;
    }

    .sticky-search-wrapper {
        margin-right: 0;
        width: 85.5%;
    }

    .sticky-search-wrapper input[type="text"] {
        width: 79.5%;
    }

    .sticky-search-cart-wrapper .header-cart-wrapper {
        padding-top: 8px;
        text-align: center;
        width: 14%;
    }

    .sticky-search-cart-wrapper .header-cart-items-con {
        display: none;
    }

    .header-cart-icon-con {
        border-radius: 4px;
        position: relative;
    }

    .cart-item-notif {
        background-color: #fff;
        border-radius: 90px;
        color: #565656;
        display: block;
        font-size: 0.75em;
        height: 18px;
        line-height: 18px;
        position: absolute;
        top: -4px;
        right: -10px;
        width: 18px;
    }
}

@media only screen and (max-width: 479px) {
    .sticky-search-wrapper {
        width: 83.5%;
    }

    /*** --- 404 responsive css small devices --- ***/
    .content-404 .col-md-6 h1  {
        font-size: 2.4em;
    }

    .content-404 .col-md-6 h2 {
        font-size: 1.4em;
    }

}

@media only screen and (max-width: 450px) {
    .sticky-search-cart-wrapper .header-cart-wrapper {
        width: 18%;
    }

    .sticky-search-cart-wrapper {
        width: 89%;
    }

    .sticky-search-wrapper {
        width: 82.5%;
    }

    .sticky-search-wrapper input[type="text"] {
        width: 68.5%; 
    }
}

@media only screen and (max-width: 398px) {
    .sticky-search-cart-wrapper {
        width: 82%;
    }

    .sticky-search-wrapper {
        width: 77.5%;
    }
    .sticky-search-wrapper input[type="text"] {
        width: 61.5%;
    }
    
}

@media only screen and (max-width: 360px) {
    /*** --- 404 responsive css small devices --- ***/
    .content-404 .col-md-6 h1  {
        font-size: 2em;
    }

    .content-404 .col-md-6 h2 {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 320px) {
    #top-links li {
        margin-right: 1px;
    }

    .sticky-search-wrapper {
        width: 74.5%;
    }

    .sticky-search-cart-wrapper .header-cart-wrapper {
        width: 17%;
    }
}

@media only screen and (min-width: 1119px) {
    .mo > .row{
        padding: 23px 0px 0px 0px !important;
    }
}

a.redirect-link:hover,
a.redirect-link:active,
a.redirect-link:focus {
    color:white !important;
}

.identify-email-top-group  .disclaimer-message {
    font-size: 18px;
    text-align: center;
}
