body{
    color: #565656;
    background: #fff;
    letter-spacing: 0.5px !important;
}

.section-dashboard{
    margin-top: 20px;
}

.col-sidebar{
    padding-right: 0px;
}

.sidebar-dashboard{
    margin-top: 10px;
}

.sidebar-dashboard > li{
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px 20px;
    background: #f4f4f4;
    border-top: solid #e2e2e2 2px;
    border-bottom: solid #e2e2e2 2px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.sidebar-dashboard > li:hover{
    background: #ff893a;
    color: #fff;
}

.sidebar-dashboard > li.active{
    background: #ff893a;
    color: #fff;
}

.sidebar-dashboard > li.active > a{
    color: #fff;
}

.sidebar-dashboard > li:first-child{
    border-radius: 7px 7px 0px 0px;
    border: none;
}

.sidebar-dashboard > li:last-child{
    border-radius: 0px 0px 7px 7px;
    border: none;
}

#my-store-menu{
    display: none;
}

.sidebar-submenu{
    text-transform: uppercase;
    font-size: 13px;
    background: #e2e2e2;
    font-weight: 600;
    transition: all 0.3s ease;
    left: 0;
}

.sidebar-submenu > a > li{
    text-transform: uppercase;
    font-size: 13px;
    padding: 15px 35px;
    background: #e2e2e2;
    border-top: solid #c8c8c8 2px;
    border-bottom: solid #c8c8c8 2px;
    font-weight: 600;
    transition: all 0.3s ease;
    width: 100%;
    color: #565656;
}

.sidebar-submenu > a > li:hover{
    background: #ff893a;
    color: #fff !important;
}

.sidebar-submenu > a > li.active{
    background: #ff893a;
    color: #fff;
}

.sidebar-submenu > a{
    color: #565656;
}

.sidebar-submenu > a, .sidebar-submenu > a:hover{
    color: #fff;
}

.f-li{
    border: none !important;
}

.l-li{
    border: none !important;
}

.toggle-down{
    font-size: 20px;
    margin-top: 1px;
}

.col-content{
    padding-left: 0px;
}

.div-dashboard-content{
    min-height:450px;
    border-left: solid #e2e2e2 1px;
    margin-left: 10px;
}

.div-tab{
    margin-top: 10px;
    margin-left: 10px;
}

.div-member-stats{
    width: 100%;
    min-height: 300px;
    background: #f4f4f4;
    border-radius: 7px;
    padding: 10px;
}

.div-img-cover{
    height: 208px;
    width: 100%;
    border-radius: 7px 7px 0px 0px;
    padding: 29px 30px;
    background-size: 100%;
}

.vendor-follower-img{
    width: 134px;
    height: 134px;
    border-radius: 4px;
    z-index: 3;
    position: absolute;
    background: #ffffff;
}

.img-follower-cover{
    width: 842px;
    height: 208px;
    position: absolute;
    left: 21px;
    border-radius: 7px 7px 0px 0px;
    top: 9px;
    z-index: 1;
}

.cover-overlay{
    width: 842px;
    height: 208px;
    position: absolute;
    left: 21px;
    border-radius: 7px 7px 0px 0px;
    top: 9px;
    background: #000;
    opacity: 0.4;
    z-index: 2;
    transition: all 0.3s ease; 
}

.clear{
    clear: both;
}

.div-stats{
    padding: 10px;
}
.div-top-name{
    border-bottom: solid #e2e2e2 1px;
}

.p-username{
    font-size: 22px;
    font-weight: 900;
}

.p-username > .icon-profile{
    font-size: 17px;
    margin-right: 3px;
}

.border-1{
    border: solid red 1px;
}

.div-progress-container-text{
    margin-top: 4px;
}

.div-progress-bar-container{
    margin-top: 3px;
}

.col-progress-text{
    padding-right: 10px;
    font-weight: bold;
}

.col-progress-bar{
    padding-left: 0px;
    font-weight: bold;
}

.progress{
    background: #bebebe !important
}

.progress-bar{
    background: #3aab99 !important;
}

.p-stat-title{
    font-size: 15px;
    font-weight: 900;
}

.div-stats-numbers{
    margin-top: 10px;
}
.form-shop-link{
    width: 100%;
}

.input-shop-link{
    width: 100%;
    height: 34px;
    padding: 6px 12px 6px 40px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    border: solid #fff 1px;
    outline: none;
    transition: all 0.3s ease;
}

.input-shop-link:focus{
    outline: none;
    border: solid #868686 1px;
}

.form-shop-link > .icon-web{
    font-size: 25px;
    color: #e2e2e2;
    position: absolute;
    top: 39px;
    left: 23px;
}

.div-stat-summary{
    margin-top: 20px;
}

.p-label-stat{
    margin: 0px;
    color: #565656;
    font-size: 14px;
    font-weight: 900;
}

.p-stat-total{
    margin: 0px;
    color: #ff6237;
    font-size: 24px;
    font-weight: 900;
}

.div-feedback-stat{
    padding-left: 15px;
    border-left: solid #e2e2e2 1px;
}

.table-stat-ratings > tbody > tr > td{
    padding: 2px 0px;
}

.td-criteria{
    font-size: 13px;
}

.td-total-review{
    font-size: 13px;
}

.star-stat{
    font-size: 20px;
    color: #d3d3d3    
}