.transaction-container{
	min-height: 300px;
	background: #fff;
	padding: 30px 0px;
	color: #565656;
}

.transaction-container{
	border: solid #e2e2e2 1px;
	min-height: 30px;
	width: 100%;
	border-radius: 4px;
	padding: 20px;
}

.cart-table{
	font-size: 12px;
}

.cart-table > thead > tr{
	border-collapse: collapse;
	border-bottom: solid #e2e2e2 2px;
}

.cart-table > thead > tr > th{
	padding-bottom: 5px;
	padding: 5px 10px;
}

.cart-table > thead > tr > th:nth-child(3){
	text-align: center;
}

.cart-table > thead > tr > th:last-child{
	text-align: right;
}

.cart-table > tbody > tr > td{
	padding: 20px 10px;
}

.cart-table > tbody > tr > td:nth-child(5){
	text-align: center;
}

.cart-table > tbody > tr > td:last-child{
	text-align: right;
}

.cart-item-remove:hover{
	color: #ff530d;
	cursor: pointer;
}

.cart-item-thumbnail{
	width: 80px;
	height: 80px;
	border: solid #e2e2e2 1px;
}

.cart-item-name{
	font-size: 14px;
	font-weight: bold;
}

.cart-item-attribute{
	margin-top: 3px;
}