@font-face {
    font-family: Helvetica;
    src: url(/assets/fonts/HelveticaNeueLTCom-Roman.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Helvetica;
    src: url(/assets/fonts/HelveticaNeueLTCom-Bd.ttf);
    font-weight: 900;
}

a{
    transition: all 0.3s ease;
}

strong{
    font-weight: 900;
}

strong > a{
    color: #ff893a;
}

#basic-modal-content,
#basic-modal-content-proceed,
#basic-modal-content-back{
    display:none;
}

#simplemodal-overlay {
    background-color:#000;
}

#simplemodal-container {
    height:250px !important;
    width:100%;
    color:#bbb;
    background-color:#fff;
    border-radius: 5px;
    padding:12px;
}

#simplemodal-container a.modalCloseImg {
    background:url(/assets/images/img-close.png) no-repeat;
    width:25px;
    height:29px;
    display:inline;
    z-index:3200;
    position:absolute;
    top:8px;
    right:10px;
    cursor:pointer;
}

.modal-text-content{
    margin-top: 30px;
    padding: 10px;
    font-size: 15px;
    color: #333;
    text-align: center;
    font-weight: 900;
    border-bottom: solid #c2c2c2 1px;
    height: 120px;
    margin-bottom: 20px;
    line-height: 30px;
}

.modal-text-content > a{
    font-weight: 900;
    color: #ff893a;
}

.modal-text-content > a:hover{
    text-decoration: none;
}

.div-title-page-container{
    font-size: 25px;
    color: #444645;
    padding-bottom: 2px;
    border-bottom: solid #4370cc 1px;
    text-transform: uppercase;
    font-weight: bold;
}

.div-merge-container{
    min-height: 400px;
    width: 100%;
    padding: 40px 70px;
}

.div-merge-container > p{
    margin: 0px;
    font-size: 17px;
    line-height: 40px;
    color: #333;
}

.div-merge-container > p > a{
    font-weight: 900;
    color: #333;
}

.div-merge-container > p > a:hover{
    font-weight: 900;
    color: #ff893a;
    text-decoration: none;
}

.div-btn-container{
    margin-top: 20px;
}

.btn-orange-lg{
    padding: 10px 60px;
    background: #ff893a;
    font-weight: 900;
    color: #fff;
    border-radius: 4px !important;
    border-bottom: 2px solid #ac6a40;
}

.glyphicon-exclamation-sign{
    color: #FF4D4D;
}

.btn-orange-lg:hover{
    background: #FF4E2D;
    color: #fff;
}

.div-link-login{
    margin-top: 10px;
    font-weight: 900;
}

.div-link-login > a{
    margin-top: 10px;
    font-weight: 900;
}

.div-link-login > a:hover{
    text-decoration: none;
}

.control-label{
    font-weight: 900;
    font-size: 15px;
}

.form-merge{
    margin-top: 56px;
}

.form-merge-2{
    margin-top: 77px;
}

.label-merge{
    font-weight: bold;
}

.btn{
    font-weight: 900;
}

.div-validation-container{
    height: 34px;
}

.input-merge{
    margin-top: 5px;
}

.span-validation-ok{
    color: #25df5a;
    font-weight: 900;
    margin-top:4px;
}

.span-validation-error{
    color: #e3604b;
    font-weight: 900;
    margin-top:4px;
}

.div-search-merge-account{
    display: none;
    border: solid #c9c9c9 1px;
    margin: 10px 0px;
    padding: 10px;
    position: absolute;
    top: 162px;
    background: #fff;
    width: 92%;
    left: 17px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.div-search-merge-account:hover{
    background: #e2e2e2;
}

.merge-message{
    margin-bottom: 30px;
    margin-top: 0px;
    font-weight: 900;
    font-size: 17px;
    line-height: 24px;
    border-bottom: solid #ddd 1px;
    padding-bottom: 20px;
}

.merge-message > a > strong{
    font-weight: 900;
    color: #ff893a;
}

.merge-message > a:hover{
    text-decoration: none;
}

.div-rec-product-image{
    width: 60px !important;
    height: 60px;
    position: static;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: #fff;
    border: solid #c9c9c9 1px;
}

.span-me{
    width: 60px !important;
    max-width: 60px !important;
    height: 60px;
    max-height: 60px;
    display: table-cell;
    vertical-align: middle;
    background: #fff;
}

.img-rec-product{
    width: auto;
    max-width: 60px;
    height: auto;
    max-height: 60px !important;
}

.tbl-merge{
    margin-left: -18px;
}

.td-merge-label{
    font-weight: 900;
    vertical-align: top;
}

.td-merge-detail{
    vertical-align: top;
    padding-left: 20px;
    word-break: break-all;
}

.border-hr{
    display: none;
}

.border-vr{
    width: 50%;
    height: 325px;
    border-right: solid #cecece 1px;
}

.border-or{
    position: absolute;
    width: 50px;
    height: 50px;
    border: solid #cecece 1px;
    background: #fff;
    color: #333;
    font-size: 16px;
    padding-top: 0px;
    padding-left: 12px;
    background: #f7f7f7;
}

.col-divider{
    min-height: 100px;
}

.panel-heading{
    font-weight: 900;
}

.panel{
    border-radius: 0px;
    margin-top: 10px;
}

@media only screen and (max-width: 992px) {
    .form-merge, .form-merge-2{
        margin-top: 10px;
    }

    .border-hr{
        display: block;
        width: 100%;
        height: 53px;
        border-bottom: solid #cecece 1px;
    }

    .border-vr{
        display: none;
    }

    .div-search-merge-account{
        top: 82px;
    }

    .merge-message{
        margin-top: 15px;
    }

    .tbl-merge{
        margin-top: 0px !important;
    }

}
@media only screen and (max-width: 768px) {
    .modal-text-content{
        margin-top: 20px;
        font-size: 12px;
        font-weight: normal;
        height: 150px;
        line-height: 18px;
    }

    #simplemodal-container {
        height: 150px !importants;
    }

    .div-merge-container{
        padding: 10px;
    }
}

@media only screen and (max-width: 510px) {
    .div-search-merge-account{
        top: 106px !important;
    }
}