body{
    color: #565656;
    background: #fff;
}

.sidebar-dashboard{
    margin-top: 10px;
}

.sidebar-dashboard > li{
    text-transform: uppercase;
    font-size: 15px;
    padding: 20px 20px;
    background: #f4f4f4;
    border-top: solid #e2e2e2 2px;
    border-bottom: solid #e2e2e2 2px;
    font-weight: bold;
}

.sidebar-dashboard > li:first-child{
    border-radius: 10px 10px 0px 0px;
    border: none;
}

.sidebar-dashboard > li:last-child{
    border-radius: 0px 0px 10px 10px;
    border: none;
}