html, body{
    font-size: 12px;
}
/* =============================================
-----------------  Breadcrumb -----------------
==============================================*/
.breadcrumbs-bg {
    background-color: #e2e2e2;
}

.default-breadcrumbs-container {
    font-size: 12px;
    padding: 12px 0;
}

.default-breadcrumbs-container a {
    color: #7c807e;
}

.default-breadcrumbs-container a:hover {
    text-decoration: underline;
}

.default-breadcrumbs-container ul li {
    float: left;
    padding-right: 6px;
}

.default-breadcrumbs-container ul li:last-child {
    font-weight: 900;
}

.bc-arrow {
    background: url(../images/sprites/breadcrumbs-arrow.png) no-repeat left center;
    padding-left: 11px;
}
/* =============================================
-----------------  Banners -----------------
==============================================*/

.banner-template-1{
    width: 100%;
    height: 300px;
}

.banner-template-1 .banner-content{
    display: table-cell;
    height: 300px;
    vertical-align: middle;
}

.banner-template-1 .banner-lg-text{
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
    color: #f7f7f7;
    display: block;
    text-shadow: 0px 2px 24px rgba(124,124,124 , 1);
}

.divider-small{
    width: 40px;
    height: 4px;
    border-top: solid #fff 4px;
    margin-top: 5px;
}

.social-media-container{
    margin-top: 20px;
}

.social-icon{
    border: solid #fff 2px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.social-fb:hover{
    border-color: #3162a2;
    background: #3162a2;
}

.social-twitter:hover{
    border-color: #2eb1eb;
    background: #2eb1eb;
}

.social-google-plus:hover{
    border-color: #f25c58;
    background: #f25c58;
}

.social-icon-separator{
    width: 10px;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}

/* =============================================
-----------------  Search results -----------------
==============================================*/

.bg-search-section{
    background: #fff;
    padding-bottom: 10px;
}

.search-header{
    display: block;
    border-bottom: solid #4370cc 2px;
}

.search-header h3{
    text-transform: uppercase;
}

.category-count-item{
    color: #6d6d6d;
    font-weight: 100;
}

.search-header strong{
    display: inline-block;
    font-size: 20px;
}

.icon-view{
    font-size: 18px !important;
}

.div-product-view-option{
    margin-left: 0px;
    margin-top: 15px;
}

.form-select-default{
    margin-top: -3px;
    margin-right: 0px;
}

.col-search-item{
    padding-right: 15px;
    padding-left: 0px;
}
.search-results-container{
    min-height: 400px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
}

.search-item-container{
    min-height: 100px;
    width: 100%;
    border: solid #e2e2e2 1px;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.search-item-container:hover{
    border: solid #565656 1px;
}

.search-results-container .col-md-3{
    padding-right: 8px !important;
    padding-left: 8px !important;
}

.search-item-img-container{
    width: 100%;
    height: 180px;
    border: solid #f1f1f1 1px;
    position: relative;
}

.search-item-img-container-hover{
    width: 100%;
    height: 180px;
    border: trasparent #f1f1f1 1px;
    position:absolute;
    opacity:0;
    transition: all 0.3s ease;
}

.search-item-img-container:hover .search-item-img-container-hover{
    opacity: 1;
}

.search-item-name{
    display: inline-block;
    max-width: 100%;
    color: #565656;
    font-weight: 900;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
}

.search-item-price{
    font-weight: 900;
    font-size: 15px;
}

.search-item-price.with-discount{
    font-size: 13px;
}

.search-item-price .original-price{
    display: inline-block;
    margin-right: 10px;
}

.search-item-price.with-discount .original-price{
    margin-right: 4px;
}

.search-item-price .new-price{
    display: inline-block;
    color: #e82c0c;
}

.search-item-actions{
    margin-top: 10px;
}

.btn-search-add-cart{
    border: 2px solid #565656;
    background-color: #fff;
    color: #565656;
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 6px;
    font-size: 10px;
}

.btn-search-add-cart:hover{
    background: #565656;
    color: #fff;
}

.btn-search-add-cart span{
    margin-right: 3px;
}

.search-item-seller-cont{
    width: 32px;
    height: 30px;
    display: table-cell;
    text-align: center;
    vertical-align: middle !important;
    border: solid #e2e2e2 1px;
}
.search-item-seller-img{
    max-width: 100%;
    height: auto;
    max-height: 30px;
}
.search-item-list-table{
    display: none;
}

.new-circle-2,
.discount-circle-2 {
    display: block;
    font: 700 11px "Gudea", sans-serif;
    color: #fff;
    padding: 13.5px 0;
    position: absolute;
    top: -8px;
    text-transform: uppercase;
    z-index: 800;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 500px;
}

.discount-circle-2 {
    right: -8px;
}

.new-circle-2 {
    left: -8px;
}

/* =============================================
-----------------  List View -----------------
==============================================*/
.list-search .col-search-item{
    padding-right: 20px;
    padding-left: 5px;
}

.list-search .search-item-link-image,
.list-search .search-item-meta,
.list-search .search-item-actions
{
    display: none;
}

.list-search .search-item-list-table{
    display: inline;
    width: 100%;
}
.list-search .search-item-img-container{
    width:  180px;
}

.list-search .search-item-td-meta{
    vertical-align: top;
    padding: 0px 10px;
    min-width: 471px;
}

.list-search .search-item-td-price{
    vertical-align: top;
    padding: 0px 0px 0px 10px;
    
}

.list-search .search-item-name{
    font-size: 20px;
    display: block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-search .search-item-price{
    text-align: center;
    min-height: 100px;
    margin-top: 20px;
}

.list-search .original-price{
    display: block;
    font-size:24px;
    margin-right: 0px;
}

.list-search .new-price{
    display: block;
    font-size:30px;
}

.list-search .new-price.with-discount-list{
    display: block;
    font-size:27px;
}

.list-search .btn-search-add-cart{
    font-size:15px;
    border-radius: 10px;
    padding: 8px 12px;
}

.search-item-description{
    display: block;
    margin-top: 13px;
    font-size: 11px;
    min-height: 65px;
}

.divider-gray{
    border-top: solid #e2e2e2 1px;
    height: 2px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.search-item-seller-img-list{
    display: inline-block;
}

.search-item-seller-name{
    display: block;
    margin-top: -23px;
    margin-left: 38px;
}

.search-item-shipping-text{
    display: inline-block;
    margin-top: 8px;
}

.search-item-shipping-data{
    color: #00a388;
    font-weight: bold;
    text-transform: uppercase;
}

/* =============================================
-----------------  Left Panels -----------------
==============================================*/
.panel-left-wing{
    border: solid #e2e2e2 1px;
    box-shadow: none !important;
}

.panel-left-wing .panel-category-heading{
    background: #ff893a !Important;
    background-color: #ff893a !Important;
}

.panel-left-wing .panel-body{
    border: solid #e2e2e2 1px !important;
    border-radius: 0px 0px 4px 4px;
    box-shadow: none !important;
}

.list-filter-search > li{
    border-top: solid #e2e2e2 1px;
    min-height: 10px;
    padding: 15px 15px;
}

.list-filter-search > li:first-child{
    border-top: 0px;
}

.p-filter-name{
    font-size: 14px;
}

.input-filter-price{
    width: 100%;
    margin-left: 5px;
    margin-right: 0px;
    margin-bottom: 10px;
}

.btn-filter{
    margin-left: 5px;
}

.checkbox input[type="checkbox"]{
    margin: 1px 0 0 -18px;
}

/* =============================================
-----------------  Pagination -----------------
==============================================*/
.pagination-search-container{
    display: block;
    height: 40px;
    background: #000;
    position: fixed;
    bottom: 0;
}

#sticky-pagination{
    position: fixed;
    bottom: 0px;
    width: 66%;
    z-index: 999;
    margin-left: -15px;
}

#sticky-pagination .pagination{
    margin: 10px 0px !important;
}

.no-search-resul-title{
    font-weight: 100;
    border-bottom: solid #4370cc 2px;
    padding-bottom: 15px;
}

.list-search-tips{
    list-style-type: disc;
    margin-top: 20px;
    margin-left: 10px;
    margin-left: 20px;
}

.list-search-tips > li{
    margin-bottom: 10px;
    font-size: 15px;
}

ul.list-category-search{
    margin-top: 20px;
}

ul.list-category-search .search-category-link{
    display: block;
    border-bottom: solid #e2e2e2 2px;
    padding-bottom: 13px;
    margin-bottom: 9px;
    color: #565656;
}

ul.list-category-search li:last-child > .search-category-link{
     border-bottom: solid #fff 2px;
}

.search-category-icon{
    width: 30px;
    height: 30px;
    background-size: 100% !important;
    display: inline-block;
    margin-bottom: -10px;
    margin-right: 6px;
}

.search-category-name{
    font-size: 12px;
    display: inline-block;
}


/* =============================================
-----------------  pagination overwrite --------------
==============================================*/
.scrollSpyPage{
    background: #fff;
}

.scrollSpyPage > ul {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.scrollSpyPage > ul > li {
  display: inline;
}

.scrollSpyPage > ul > li > a,
.scrollSpyPage > ul > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #565656;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.scrollSpyPage > ul > li:first-child > a,
.scrollSpyPage > ul > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.scrollSpyPage > ul > li:last-child > a,
.scrollSpyPage > ul > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.scrollSpyPage > ul > li > a:hover,
.scrollSpyPage > ul > li > span:hover,
.scrollSpyPage > ul > li > a:focus,
.scrollSpyPage > ul > li > span:focus {
  color: #2a6496;
  background-color: #eee;
  border-color: #ddd;
}

.scrollSpyPage > ul > .active > a,
.scrollSpyPage > ul > .active > span,
.scrollSpyPage > ul > .active > a:hover,
.scrollSpyPage > ul > .active > span:hover,
.scrollSpyPage > ul > .active > a:focus,
.scrollSpyPage > ul > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca;
}

.scrollSpyPage > ul > .disabled > span,
.scrollSpyPage > ul > .disabled > span:hover,
.scrollSpyPage > ul > .disabled > span:focus,
.scrollSpyPage > ul > .disabled > a,
.scrollSpyPage > ul > .disabled > a:hover,
.scrollSpyPage > ul > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

.scrollSpyPage > ul-lg > li > a,
.scrollSpyPage > ul-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}

.scrollSpyPage > ul-lg > li:first-child > a,
.scrollSpyPage > ul-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.scrollSpyPage > ul-lg > li:last-child > a,
.scrollSpyPage > ul-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.scrollSpyPage > ul-sm > li > a,
.scrollSpyPage > ul-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}

.scrollSpyPage > ul-sm > li:first-child > a,
.scrollSpyPage > ul-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.scrollSpyPage > ul-sm > li:last-child > a,
.scrollSpyPage > ul-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/**Custom Style pagination**/
.scrollSpyPage > ul > li > a > span,
.scrollSpyPage > ul > li > span{
    color: #565656;
    
}
.scrollSpyPage > ul > .active > a,
.scrollSpyPage > ul > .active > span{
    background-color: #ff893b !important;
    border: solid #ff893b 1px !important;
    color: #ffffff !important;
}

.scrollSpyPage > ul > .active > a > span{
    color: #ffffff !important;
}

/* =============================================
-----------------  slider gallery --------------
==============================================*/
.search-slider .left-shade,
.search-slider .right-shade {
    background-color: rgba(255,255,255,0.4);
    position: absolute;
    z-index: 99;
}

.search-slider .right-shade {
    right: 0;
}

.search-slider {
    overflow: hidden;
}

.search-slider .bx-wrapper {
    position: relative;
}

.search-slider .bx-viewport {
    height: auto !important;
    overflow: visible !important;
}

.search-slider .bx-wrapper .bx-pager {
    display: none;
}

.search-slider .bx-controls {
    position: absolute;
    top: 0;
    width: 100%;
}

.search-slider .bx-controls-direction {
    left: inherit;
    margin: auto;
    position: relative;
    top: 0px;
    width: 100%;
}

.search-slider .bx-controls-direction .bx-prev,
.search-slider .bx-controls-direction .bx-next {
    border: 3px solid #fff;
    border-radius: 90px;
    margin-top: 0;
}

.search-slider .bx-controls-direction .bx-prev:before,
.search-slider .bx-controls-direction .bx-next:before {
    color: #fff;
    font-family: "FontAwesome";
    font-size: 26px;
    line-height: 27px;
    position: absolute;
    text-indent: 0;
}

.search-slider .bx-controls-direction .bx-prev {
    right: 15px;
}

.search-slider .bx-controls-direction .bx-prev:before {
    content: "\f104";
    left: 0;
    right: 4px;
}

.search-slider .bx-controls-direction .bx-next:before {
    content: "\f105";
    left: 4px;
    right: 0;
}

.search-parallax-container {
    position: relative;
}

#parallax-2 {
    padding-top: 50px;
    position: relative;
    z-index: 99;
}

#parallax-3 {
    background-image: url(../images/slide3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.search-slider .slider1 {
    min-width: 2000%;
}

.search-slider .slider1 .slide {
    text-align: center;
}

.search-slider .slider1 .slide img {
    max-width: 375px;
    width: 100%;
}

@media (min-width: 768px) {
    .search-slider .slider1 .slide {
        width: 355px !important;
    }
}

@media (min-width: 992px) {
    .search-slider .slider1 .slide {
        width: 308.3333px !important;
    }
}

@media (min-width: 1200px) {
    .search-slider .slider1 .slide {
        width: 375px !important;
    }
}

@media (max-width: 395px) {
    .search-slider .container {
        padding: 0;
    }

    .search-slider .slider1 .slide {
        margin-right: 0 !important;
    }
}