html, body{
    font-size: 12px;
}
/* =============================================
-----------------  Breadcrumb -----------------
==============================================*/
.breadcrumbs-bg {
    background-color: #e2e2e2;
}

.default-breadcrumbs-container {
    font-size: 12px;
    padding: 12px 0;
}

.default-breadcrumbs-container a {
    color: #7c807e;
}

.default-breadcrumbs-container a:hover {
    text-decoration: underline;
}

.default-breadcrumbs-container ul li {
    float: left;
    padding-right: 6px;
}

.default-breadcrumbs-container ul li:last-child {
    font-weight: 900;
}

.bc-arrow {
    background: url(../images/sprites/breadcrumbs-arrow.png) no-repeat left center;
    padding-left: 11px;
}
/* =============================================
-----------------  Banners -----------------
==============================================*/
.mobile-banner{
    display: none;
    margin-bottom: 10px;
}
.banner-template-1{
    width: 100%;
    height: 300px;
}

.banner-template-1 .banner-content{
    display: table-cell;
    height: 300px;
    vertical-align: middle;
}

.banner-template-1 .banner-lg-text{
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
    color: #f7f7f7;
    display: block;
    text-shadow: 0px 2px 24px rgba(124,124,124 , 1);
}

.divider-small{
    width: 40px;
    height: 4px;
    border-top: solid #fff 4px;
    margin-top: 5px;
}

.social-media-container{
    margin-top: 20px;
}

.social-icon{
    border: solid #fff 2px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.social-fb:hover{
    border-color: #3162a2;
    background: #3162a2;
}

.social-twitter:hover{
    border-color: #2eb1eb;
    background: #2eb1eb;
}

.social-google-plus:hover{
    border-color: #f25c58;
    background: #f25c58;
}

.social-icon-separator{
    width: 10px;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}

/* =============================================
-----------------  Tabs Search -----------------
==============================================*/
.tab-head-wrapper{
    margin-bottom: 10px;
}
.tab-head-container{
    width: 100%;
    border-bottom: solid #e2e2e2 1px;
    margin-left: 0px;
}
.tab-head-container li{
    margin-right: 29px;
    padding: 0px;
}

.tab-head-container a{
    color: #565656;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
}

.tab-head-container a:hover{
    color: #ff893b;
}


.tab-head-container a.active{
    color: #ff893b;
    font-size: 13px;
    border: solid #e2e2e2 1px;
    border-bottom: solid #fff 1px;
    padding: 9px 15px;
    margin-bottom: -1px;
    background: #fff;
    border-radius: 4px 4px 0px 0px;
    font-weight: bold;
}

.tab-container{
    display: none;
    margin-top: 20px;
}

.tab-title-count{
    font-size: 11px;
    display: inline-block;
    background: #818181;
    padding: 3px 10px;
    color: #fff;
    border-radius: 4px;
    margin-left: 7px;
    transition: all 0.3s ease;
}

.tab-head-container a:hover .tab-title-count{
    background: #ff893b;
}

.tab-head-container a.active .tab-title-count{
    background: #ff893b;
}

/* =============================================
-----------------  Search results -----------------
==============================================*/
.bg-search-section{
    background: #fff;
    padding-bottom: 10px;
    padding-top: 40px;
    text-align: left;
}

.bg-search-section-main{
    background: #fff;
    padding-bottom: 10px;
    padding-top: 40px;
}

.search-left-wing{
    display: block;
}

.search-header{
    display: block;
    border-bottom: solid #4370cc 2px;
}

.search-header h3{
    text-transform: uppercase;
}

.category-count-item{
    color: #6d6d6d;
    font-weight: 100;
}

.search-header strong{
    display: inline-block;
    font-size: 20px;
}

.icon-view{
    font-size: 18px !important;
}

.div-product-view-option{
    margin-left: 0px;
    margin-top: 15px;
}

.form-select-default{
    margin-top: -3px;
    margin-right: 0px;
}

.col-search-item{
    padding-right: 15px;
    padding-left: 0px;
}
.search-results-container{
    min-height: 400px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 65px;
}

.search-item-container{
    min-height: 100px;
    width: 100%;
    border: solid #e2e2e2 1px;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 15px;
    transition: all 0.3s ease; 
    position: relative;
}

.search-item-no-results-container{
    width: 100%;
    border: solid #e2e2e2 1px;
    border-radius: 4px;
    padding: 30px 10px;
    margin-bottom: 15px;
    margin-left: -10px;
    margin-top: 20px;
    background: #e2e2e2;
    transition: all 0.3s ease; 
    position: relative;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    color: #B0B0B0;
}

.search-tips-container{
    min-height: 100px;
    width: 100%;
    border: solid #e2e2e2 1px;
    border-radius: 4px;
    padding: 20px 20px;
    margin-bottom: 15px;
    margin-left: -10px;
    transition: all 0.3s ease; 
    position: relative;
}

.search-tips-container .nav-searchbar-inner{
    padding: 5px 15px;
}

.search-results-container .col-md-3{
    padding-right: 8px !important;
    padding-left: 8px !important;
}

.group-container.row{
    margin-right: -5px;
}

.search-item-img-container{
    width: 100%;
    height: 208px;
    position: relative;
    overflow: hidden;
}

.search-item-image-primary{
    max-width: 100%;
    max-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    z-index: 2;
    transition: all 0.3s ease;
}

.search-item-img-container:hover .search-item-has-secondary{
    opacity: 0;
}

.search-item-image-secondary{
    max-width: 100%;
    max-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    z-index: 1;
    opacity: 0;
    transition: all 0.2s ease;
}

.search-item-img-container:hover .search-item-image-secondary{
    opacity: 1;
}

.search-item-img-container-hover{
    width: 100%;
    height: 180px;
    position:absolute;
    opacity:0;
    transition: all 0.3s ease;
}

.loader {
    position: fixed;
    margin: 0 auto;
    z-index: 099999999999999;
    top: 50 px;
    cursor: wait;
    width: 100%;
    height: 100%;
    display: block;
    background: #fff;
    top: 0;
    text-align: center;
}

.loader img{
    margin-top: 15%;
    width: 110px;
    width: 110px;
}

.loader span {
    font-size: 14px;
    color: #ff893a;
    font-weight: bold;
}

.search-item-img-container:hover .search-item-img-container-hover{
    opacity: 1;
}

.search-item-name{
    display: inline-block;
    max-width: 100%;
    color: #565656;
    font-weight: bold;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    height: 27px;
}

.search-item-price{
    font-weight: bold;
    font-size: 15px;
    min-height: 37px;
}

.search-item-price.with-discount{
    font-size: 13px;
}

.search-item-price .original-price{
    display: inline-block;
    margin-right: 10px;
}

.search-item-price.with-discount .original-price{
    margin-right: 4px;
}

.search-item-price .new-price{
    display: inline-block;
    color: #e82c0c;
}

.search-item-actions{
    margin-top: 2px;
}

.btn-search-add-cart{
    border: 2px solid #565656;
    background-color: #fff;
    color: #565656;
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 6px;
    font-size: 10px;
}

.btn-search-add-cart:hover{
    background: #565656;
    color: #fff;
}

.btn-search-add-cart span{
    margin-right: 3px;
}

.search-item-seller-cont a {
    width: 30px;
    height: 30px;
    display: table-cell;
    text-align: center;
    vertical-align: middle !important;
    border: solid #e2e2e2 1px;
}
.search-item-seller-img{
    max-width: 30px;
    height: auto;
    max-height: 30px;
}
.search-item-list-table{
    display: none;
}

.new-circle-2,
.discount-circle-2 {
    display: block;
    font: 700 11px "Gudea", sans-serif;
    color: #fff;
    padding: 13.5px 0;
    position: absolute;
    top: 8px;
    text-transform: uppercase;
    z-index: 800;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 500px;
}

.discount-circle-2 {
    right: 5px;
}

.new-circle-2 {
    left: 5px;
}
/* =============================================
-------------  Seller Search View -------------
==============================================*/

.group-seller.row{
    margin-left: -15px;
    margin-right: 10px;
    margin-top: 20px;
}

.seller-panel-column{
    padding: 0px 5px;
}

.seller-item-container {
    min-height: 60px;
    width: 100%;
    border: solid #e2e2e2 1px;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 15px;
    transition: all 0.3s ease;
    position: relative;
}

.search-seller-list-container{
    margin-top: 15px;
}

.search-seller-img-container{
    border: solid #e2e2e2 1px;
    position: relative;
    overflow: hidden;
    height: 69px;
    width: 69px;
    display: inline-block;
    border-radius: 4px;
}

.search-seller-img-container img{
    max-width: 100%;
    max-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}

.search-seller-info{
    display: inline-block;
}

.search-seller-info .link{
    font-size: 15px;
    font-weight: bold;
    color: #565656;
    display: inline-block;
    margin-bottom: 5px;
}

.search-seller-item-img-container{
    border: solid #e2e2e2 1px;
    position: relative;
    overflow: hidden;
    height: 31px;
    width: 31px;
    display: inline-block;
    margin-right: 0px;
}

.search-seller-item-img-container img{
    max-width: 100%;
    max-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}

.search-seller-products-container{
    margin-bottom: 0px;
}
/* =============================================
-----------------  List View -----------------
==============================================*/
.list-search .col-search-item{
    padding-right: 20px;
    padding-left: 5px;
}

.list-search .search-item-link-image,
.list-search .search-item-meta,
.list-search .search-item-actions
{
    display: none;
}

.list-search .search-item-list-table{
    display: inline;
    width: 100%;
}
.list-search .search-item-img-container{
    width:  180px;
}

.list-search .search-item-td-meta{
    vertical-align: top;
    padding: 0px 10px;
    /*min-width: 471px;
    max-width: 471px;*/
}

.list-search .search-item-td-price{
    vertical-align: top;
    padding: 0px 0px 0px 10px;
    
}

.list-search .search-item-name{
    font-size: 20px;
    display: block;
    /*max-width: 100%;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-search .search-item-price{
    text-align: center;
    min-height: 100px;
    margin-top: 20px;
}

.list-search .original-price{
    display: block;
    font-size:24px;
    margin-right: 0px;
}

.list-search .new-price{
    display: block;
    font-size:30px;
}

.list-search .new-price.with-discount-list{
    display: block;
    font-size:27px;
}

.list-search .btn-search-add-cart{
    font-size:15px;
    border-radius: 10px;
    padding: 8px 12px;
}

.search-item-description{
    display: block;
    margin-top: 13px;
    font-size: 11px;
    min-height: 65px;
    word-break: break-word;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
    overflow-wrap: break-word;

}

.divider-gray{
    border-top: solid #e2e2e2 1px;
    height: 2px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.search-item-seller-img-list{
    display: inline-block;
}

.search-item-seller-name{
    display: block;
    margin-top: -23px;
    margin-left: 38px;
    word-break: break-all;
}

.search-item-shipping-text{
    display: none;
    margin-top: 8px;
    height: 20px;
}

.search-item-shipping-data{
    color: #00a388;
    font-weight: bold;
    text-transform: uppercase;
}

.list-search .search-price-list-mobile{
    display: none;
}
/* =============================================
-----------------  Left Panels -----------------
==============================================*/
.panel-left-wing{
    border: solid #e2e2e2 1px;
    box-shadow: none !important;
}

.panel-left-wing .panel-category-heading{
    background: #ff893a !Important;
    background-color: #ff893a !Important;
}

.panel-left-wing .panel-body{
    border: solid #e2e2e2 1px !important;
    border-radius: 0px 0px 4px 4px;
    box-shadow: none !important;
}

.list-filter-search > li{
    border-top: solid #e2e2e2 1px;
    min-height: 10px;
    padding: 15px 15px;
}

.list-filter-search > li:first-child{
    border-top: 0px;
}

.p-filter-name{
    font-size: 12px;
}

.input-filter-price{
    width: 100%;
    margin-left: 5px;
    margin-right: 0px;
    margin-bottom: 10px;
}

.btn-filter{
    margin-left: 5px;
}

.checkbox input[type="checkbox"]{
    margin: 1px 0 0 -18px;
}

/* =============================================
-----------------  Pagination -----------------
==============================================*/
.pagination-search-container{
    display: block;
    height: 40px;
    background: #000;
    position: fixed;
    bottom: 0;
}

#sticky-pagination{
    position: fixed;
    bottom: 0px;
    width: 66%;
    z-index: 999;
    margin-left: -15px;
}

#sticky-pagination .pagination{
    margin: 10px 0px !important;
}

.no-search-resul-title{
    font-weight: 100;
    border-bottom: solid #4370cc 2px;
    padding-bottom: 15px;
}

.list-search-tips{
    list-style-type: disc;
    margin-top: 20px;
    margin-left: 10px;
    margin-left: 20px;
}

.search-meta-hand{
    width: 441px;
}

.list-search-tips > li{
    margin-bottom: 10px;
    font-size: 15px;
}

ul.list-category-search{
    margin-top: 20px;
}

ul.list-category-search .search-category-link{
    display: block;
    border-bottom: solid #e2e2e2 2px;
    padding-bottom: 13px;
    margin-bottom: 9px;
    color: #565656;
}

ul.list-category-search li:last-child > .search-category-link{
     border-bottom: solid #fff 2px;
}

.search-category-icon{
    width: 30px;
    height: 30px;
    background-size: 100% !important;
    display: inline-block;
    margin-bottom: -10px;
    margin-right: 6px;
}

.search-category-name{
    font-size: 12px;
    display: inline-block;
}


/* =============================================
-----------------  pagination overwrite --------------
==============================================*/
.scrollSpyPage{
    background: #fff;
}

.scrollSpyPage > ul {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.scrollSpyPage > ul > li {
  display: inline;
}

.scrollSpyPage > ul > li > a,
.scrollSpyPage > ul > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #565656;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.scrollSpyPage > ul > li:first-child > a,
.scrollSpyPage > ul > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.scrollSpyPage > ul > li:last-child > a,
.scrollSpyPage > ul > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.scrollSpyPage > ul > li > a:hover,
.scrollSpyPage > ul > li > span:hover,
.scrollSpyPage > ul > li > a:focus,
.scrollSpyPage > ul > li > span:focus {
  color: #2a6496;
  background-color: #eee;
  border-color: #ddd;
}

.scrollSpyPage > ul > .active > a,
.scrollSpyPage > ul > .active > span,
.scrollSpyPage > ul > .active > a:hover,
.scrollSpyPage > ul > .active > span:hover,
.scrollSpyPage > ul > .active > a:focus,
.scrollSpyPage > ul > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca;
}

.scrollSpyPage > ul > .disabled > span,
.scrollSpyPage > ul > .disabled > span:hover,
.scrollSpyPage > ul > .disabled > span:focus,
.scrollSpyPage > ul > .disabled > a,
.scrollSpyPage > ul > .disabled > a:hover,
.scrollSpyPage > ul > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

.scrollSpyPage > ul-lg > li > a,
.scrollSpyPage > ul-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}

.scrollSpyPage > ul-lg > li:first-child > a,
.scrollSpyPage > ul-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.scrollSpyPage > ul-lg > li:last-child > a,
.scrollSpyPage > ul-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.scrollSpyPage > ul-sm > li > a,
.scrollSpyPage > ul-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}

.scrollSpyPage > ul-sm > li:first-child > a,
.scrollSpyPage > ul-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.scrollSpyPage > ul-sm > li:last-child > a,
.scrollSpyPage > ul-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/**Custom Style pagination**/
.scrollSpyPage > ul > li > a > span,
.scrollSpyPage > ul > li > span{
    color: #565656;
    
}
.scrollSpyPage > ul > .active > a,
.scrollSpyPage > ul > .active > span{
    background-color: #ff893b !important;
    border: solid #ff893b 1px !important;
    color: #ffffff !important;
}

.scrollSpyPage > ul > .active > a > span{
    color: #ffffff !important;
}

/* =============================================
-----------------  Loading bar -----------------
==============================================*/

#loading-box {
    padding: 6px;
    background-color: #ff893a;
    font-size: 10px;
    border-radius: 0px;
    text-align: center;
    color: #fff;
}

.loading-bar-container{
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom:100px;
}

.loading-label{
    text-align: center;
    display: block;
    font-weight: bold;
    color: #565656;
    font-size: 13px;
    margin-bottom: 10px;
}

.outer-progress-box{
    display: inline-block;
    width: 310px;
    padding: 0px;
    border-radius: 0px;
    background: #e2e2e2;
    position: relative;
}
/* =============================================
-----------------  slider gallery --------------
==============================================*/
.search-slider .left-shade,
.search-slider .right-shade {
    background-color: rgba(255,255,255,0.4);
    position: absolute;
    z-index: 99;
}

.search-slider .right-shade {
    right: 0;
}

.search-slider {
    overflow: hidden;
    margin-top: -10px;
}

.search-slider .bx-wrapper {
    position: relative;
}

.search-slider .bx-viewport {
    height: auto !important;
    overflow: visible !important;
}

.banner-template-2 .bx-viewport{
    height: 308px !important;
}

.search-slider .bx-wrapper .bx-pager {
    display: none;
}

.search-slider .bx-controls {
    position: absolute;
    top: 0;
    width: 100%;
}

.search-slider .bx-controls-direction {
    left: inherit;
    margin: auto;
    position: relative;
    top: 40px;
    width: 100%;
}

.search-slider .bx-controls-direction .bx-prev,
.search-slider .bx-controls-direction .bx-next,
.banner-template-2 .bx-controls-direction .bx-prev,
.banner-template-2 .bx-controls-direction .bx-next {
    border: 3px solid #fff;
    border-radius: 90px;
    margin-top: 0;
    top: 56px;
    text-align: center;
}

.top-slider-img{
    display: inline-block !important;
}

.search-slider .bx-controls-direction .bx-prev:before,
.search-slider .bx-controls-direction .bx-next:before,
.banner-template-2 .bx-controls-direction .bx-next:before,
.banner-template-2 .bx-controls-direction .bx-prev:before {
    color: #fff;
    font-family: "FontAwesome";
    font-size: 26px;
    line-height: 27px;
    position: absolute;
    text-indent: 0;
}

.search-slider .bx-controls-direction .bx-prev {
    right: 15px;
}

.search-slider .bx-controls-direction .bx-prev:before,
.banner-template-2 .bx-controls-direction .bx-prev:before {
    content: "\f104";
    left: 0;
    right: 4px;
}

.search-slider .bx-controls-direction .bx-next:before,
.banner-template-2 .bx-controls-direction .bx-next:before {
    content: "\f105";
    left: 4px;
    right: 0;
}

.search-parallax-container {
    height: 523px;
    overflow: hidden;
    position: relative;
    background: #fff;
}

#parallax-2 {
    position: relative;
    z-index: 99;
}

#parallax-3 {
}

.search-slider .slider1 {
    min-width: 2000%;
    margin-top: -71px;
}

.search-slider .slider1 .slide {
    text-align: center;
    height: 300px;
}

.search-slider .slider1 .slide img {
    max-width: 375px;
    width: 100%;
    height: 300px;
}

.me1{
   
}

.top-slider li{
    display: block;
    width: 100%;
    height: 500px;
    margin: 0px;
    height: 408px;
    margin-top:-100px;
    
}

.banner-template-2{
    position: relative;
}

.banner-template-2 .bx-pager{
    width: 100%;
    left: 0 !important;
    top: -30px !important;
}

.banner-template-2 .bx-controls-direction,
.banner-template-2 .bx-controls-direction .bx-prev,
.banner-template-2 .bx-controls-direction .bx-next{
    top: -88px !important;
}

/* =============================================
-----------------  Overwrites for panel --------------
==============================================*/
.panel-cat,
.panel-group-cat{
    border: 0px !important;
    border-color: #fff !important;
    box-shadow: none !important;
}

.panel-cat-head{
    border-width: 1px 0px 0px 0px !important;
    border-bottom: 0px !important;
    border-top: 1px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    background: #fff !important;
    background-color: #fff !important;
    border-color: #e2e2e2 !important;
    border-top: solid #e2e2e2 1px !important;
    padding: 0px !important
}

.panel-cat-head a{
    padding: 17px 20px;
    display:block;
    
}

.panel-cat-head a{
    background: #f1f1f1 !important;
    background-color: #f1f1f1 !important;
    border-bottom: solid #e2e2e2 1px !important;
    border-top: solid #e2e2e2 2px !important;
    color: #565656;
}

.panel-cat-head a:hover{
    color: #565656;
}

.panel-cat-head a > .panel-stat:before{
    content: "\f068";
}

.panel-cat-head a.collapsed > .panel-stat:before{
    content: "\f067";
}

.panel-cat-head a.collapsed{
    background: #fff !important;
    background-color: #fff !important;
    border-bottom: 0px !Important;
    border-top: 0px !important;
    color: #999;
}

.panel-cat-sub{
    background: #fff !important;
    background-color: #fff !important;
    border-bottom: 0px !important;
    border-top: 1px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    font-size: 16px;
    padding-left: 55px;
}

.panel-cat-sub a{
    color: #565656;
    font-size: 13px;
    display: inline-block;
    padding: 10px;
}

.panel-cat-sub a:hover{
    color: #ff893a;

}

.panel-stat{
    margin-top: 7px; 
}

/* =============================================
-----------------  Tooltip --------------
==============================================*/
.tooltip,
.tooltip-inner{
    width: 100% !important;
    max-width: 100% !important;
}

.tooltip-inner{
    padding: 10px !important;
    word-break: break-all;
}

/* =============================================
-----------------  Sticky Mobile Filter --------------
==============================================*/
.mobile-left-wing{
    border-top: solid #ff893a 2px;
}

.filter-modal-container {
    max-height: 381px !important;
}

#simplemodal-container h1{
    margin-top: 20px;
    margin-bottom: 20px;
}

.category-modal{
    display: none;
}

/* =============================================
-----------------  responsive view --------------
==============================================*/


@media (min-width: 768px) {
    .search-slider .slider1 .slide {
        width: 355px !important;
    }
}

@media (min-width: 992px) {
    .search-slider .slider1 .slide {
        width: 308.3333px !important;
    }
}

@media (min-width: 1200px) {
    .search-slider .slider1 .slide {
        width: 375px !important;
    }
}

@media (max-width: 395px) {
    .search-slider .container {
        padding: 0;
    }

    .search-slider .slider1 .slide {
        margin-right: 0 !important;
    }
} 

@media (max-width: 768px) {
    .search-left-wing{
        display: none;
    }

    #sticky-pagination{
        width: 100%;
    }

    .col-search-item:nth-child(odd){
        padding-right: 5px;
        padding-left: 15px;
    }

    .col-search-item:nth-child(even){
        padding-right: 15px;
        padding-left: 5px;
    }

    .search-results-container{
        margin-right: 0px;
        margin-left: 0px;
    }

    .top-slider-img{
        display: none !important;
    }
}
@media (max-width: 1025px) {
    .search-item-price{
        height: 35px;
    }

    .search-item-actions .search-item-seller-cont{
        display: none;
    }

    .search-item-actions .btn-search-add-cart{
        width: 100%;
    }

    #sticky-pagination{
        width: 71%;
    }
}
@media (max-width: 768px) {
    .search-item-name{
        font-size: 13px;
    }

    .search-item-seller-cont{
        display: none;
    }

    .btn-search-add-cart{
        width: 100%;
    }

    .search-item-img-container,
    .search-item-img-container-hover{
        height: 100px;
    }

    .search-item-price{
        min-height: 36px;
        font-size: 13px;
    }

    .search-item-container{
        padding: 5px;
    }

    .new-circle-2,
    .discount-circle-2{
        width: 30px;
        height: 30px;
        top: 3px;
        padding-top: 10px;
    }

    .new-circle-2{
        left: 3;
    }

    .discount-circle-2{
        right: 3px;
    }

    #sticky-pagination{
        display: none;
    }

    .list-search .search-item-td-price{
        display: none;
    }

    .list-search .search-item-img-container,
    .list-search .search-item-img-container-hover{
        width: 90px;
    }

    .list-search .search-item-td-image{
        vertical-align: top;
    }

    .list-search .search-item-name{
        margin-top: 0px;
        font-size: 14px;
    }

    .list-search .search-item-description{
        margin-top: 0px;
        font-size: 10px;
        min-height: 12px;
        word-break: break-word;
    }

    .list-search .search-item-td-meta{
        min-width: 0px !important;
        max-width: 320px !important;
        padding-right: 1px;
    }

    .list-search .search-seller-meta{
        display: none;
    }

    .list-search .search-item-seller-img-list,
    .list-search .search-item-seller-name{
        display: none;
    }

    .list-search .search-item-shipping-text{
        display: inline-block;
        float: left !important;
        margin-top: 0px;
    }

    .divider-gray{
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .list-search .search-price-list-mobile{
        display: block;
    }

    .col-xs-6.search-item-price{
        padding: 0px !important;
        margin-left: -6px;
    }

    .col-xs-6.search-list-cart-button{
        padding: 0px !important;
    }

    .list-search .search-item-price{
        margin-top: 0px;
        min-height: 0px;
    }

    .list-search .original-price,
    .list-search .new-price,
    .list-search .new-price.with-discount-list{
        font-size: 13px;
        text-align: left;
        margin-left: 7px;
    }

    .list-search .btn-search-add-cart {
        font-size: 9px;
        border-radius: 4px;
        padding: 9px 2px;
        width: 123px;
        float: right;
    }

    .list-search .col-search-item{
        padding-left: 15px;
        padding-right: 15px;
    }

    .list-category{
        height: 293px;
    }

    .list-filter-search{
        height: 293px;
        overflow-y: scroll;
    }

    .banner-template-2{
        display: none;
    }

    .mobile-banner{
        display: block;
    }

    .search-parallax-container-mobile{
        height: auto !important;
    }

    .bg-search-section{
        padding-top: 0px;
    }
} 

@media (max-width: 500px) {
    .search-header h3{
        font-size: 15px;
    }

    .list-search .btn-search-add-cart{
        width: 100%;
        float: none;
    }
}

@media (min-width: 1400px) {
    .top-slider-img{
        display: none !important;
    }
}
