.cd_timer_container{;
    margin-top: 15px !important; 
}
.dsc_tmr{
    bottom: 74px;
    left: 211px;
    position: relative;
    width: 287px;
}
.genericWithCountdown_dsc_tmr{
    bottom: 47px;
    left: 242px;
    position: relative;
    width: 287px;
}
.genericWithCountdown_dsc_prp_txt3 {
    display: block;
    font-size: 22px;
    left: 30px;
    position: relative;
    top: 11px;
}
.genericWithCountdown_prod_alert_box{
    background-color: #e42626;
    border: 1px solid #c52020;
    border-radius: 3px;
    color: #fff;
    margin-bottom: -1px;
    padding: 8px 12px;
}
.right_header_discount{
    border : 1px #dd0000 solid;
    float: left;
    height: 53px;
    margin-bottom: 10px;
    margin-left: 9px;
    min-height: 53px;
    padding: 10px;
    width: 549px;
}
.dsc_header_txt{
    color: #f70000;
    font-weight: 600 !important;
    font-size: 22px;
}
.dsc_prp_txt{
    display: block;
    font-size: 23px;
}
.dsc_prp_txt2{
    font-size: 10px;
}

.cd_timer_container div > span:first-child {
    font-size: 19px !important;
    margin-bottom: -4px;
}
.cd_timer_container {
    background: url("../../assets/images/img_bg_countdown_timer2.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    color: #FFFFFF;
    height: 76px;
    margin: 175px auto 0;
    width: 302px;
}

.cd_timer_container.float{
    margin-left: 35px !important;
}

.cd_timer_container div {
    float: left;
    margin-top: 14px;
    text-align: center;
    width: 55px;
}
.cnt_lgnd{
    font-size: 8px;
}
.discount_perc{
    display: inline;
    background-color: #dd0000;
    bottom: 155px;
    color: #FFFFFF;
    float: right;
    font-size: 25px;
    height: 74px;
    left: 10px;
    position: relative;
    width: 70px;
}

.discount_perc p{
    line-height: 29px !important;
    padding: 7px 7px 7px 3px;
    text-align: center;
}
.dsc_prp_txt3{
    display: block;
    font-size: 22px;
 
}

.btn-meet-up{
    background-color:  blue;
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;
    width: 120px;
}

.btn-meet-up:hover{
    background-color: #5C5CFF;
    color: #FFFFFF;

}

.product-page-section nav {
    display: none;
    position: absolute;
    z-index: 9999;
    background-color: #fff;
}
.product-page-section.slide_arrows {
    max-width: none !important;
}

.product-page-section  #simplemodal-container {
    height: 390px !important;
}
.product-page-section .bread_crumbs {
    margin-left: 195px;
    margin-top: 10px;
}

