#main_search_container {
    padding-bottom: 45px;
    padding-top: 45px;
}

.btn {
    border: none;
}

.scratch-win-form span,
.scratch-win-form input,
.scratch-win-form button,
.scratch-win-error h2,
.scratch-win-error p {
    display: block;
    float: none !important;
    width: 40%;
    margin: 0 auto !important;
    position: relative;
    margin-top: 1% !important;
}

.head-cngrts {
    font-size: 22px;
    text-align: center;
    padding-bottom: 10px;
}

.margin-top-10{
    margin: 5% auto 0 !important;
}
#scratch-win-claim h2{
    padding: 15px 0;
    text-align: center;
}
.scratch-win-error p{
    text-align: center;
    width: 100%;
}
.scratch-win-error h2{
    width: 8%;
}
.scratch-win-error{
    display: none;
}
.scratch-win-form span{
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px !important;
    text-align: center;
}
.scratch-win-form{
    width: 100%;
}
.promo-wrapper{
    margin: 0 auto;
    max-width: 980px;
    position: relative;
    width: 100%;
}
.easy-treats.banner{
    margin:100%;
}
.bottom-border{
    border-bottom: 1px solid #D9D9D9;
    font-size: 12px;
    margin-top: 5px;
    padding: 20px;
    text-align: center;
}
.scratch-win-form .instructions h3 {
    margin: 2% auto;
}

.scratch-win-form .instructions p{
    margin: 0 auto;
}
.scratch-win-form .instructions ol > li {
    padding: 1% 0;
}

.claim-bg{
    background-color: #f5f5f5 !important;
    padding: 15px;
    margin: 0 auto !important;
    max-width: 850px;
    width: 100%;
    -webkit-print-color-adjust:exact;
}

#prod_image {
    text-align: center;
}

#prod_image > img{
    max-width: 263px;
    width: 100%;
}

.claim-details {
    text-align: center;
}

.claim-details p{
    font-size: 12px;
}

#scratch-win-claim-link,
.promo-print {
    background-color: #3dc6b2;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 10px 30px;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:    all 0.3s ease-in-out;
    -o-transition:      all 0.3s ease-in-out;
     transition:        all 0.3s ease-in-out;
}

#scratch-win-claim-link:hover,
.promo-print:hover,
#scratch-win-claim-link:focus,
.promo-print:focus {
    background-color: #02846f;
    color: #fff;
    text-decoration: none;
}

.scratchAndWinBanner {
    background:#fff url(../images/Scratch_and_win_baner.jpg) no-repeat center center;
    height: 180px;
    margin-top: 2%;
    position: relative;
    width: 100%;
}
#promo-prizes-tbl > th , td {
    border: 1px solid #e2e2e2;
    margin-left: 5%;
    padding: 8px;
    text-align: center;
    width: 45%;
}
#promo-prizes-tbl th {
    background-color: #f4f4f4;
    border: 1px solid #e2e2e2;
    padding: 8px;
    text-align: center;
}
#promo-prizes-tbl th.tbl-red{
    background-color: #565656;
    color: #fff;
}
.error-claim{
    width: 57% !important;
    left: 20% !important;
    margin: 2% auto;
}

.promo-gallery {
    margin: 0 auto;
    max-width: 850px;
}

.promo-gallery-row {
    text-align: center;
}

.promo-gallery-data {
    border: 1px solid #e7e7e7;
    display: inline-block;
    height: auto;
    margin-left: 5px;
    margin-top: 1.3%;
    min-width: 270px;
    width: 32%;
}

.promo-gallery-data p,.promo-gallery-data span{
    font-weight: bold;
    height: 48px;
    margin-bottom: 0px;
    padding: 0 10px;
}
.promo-gallery-data span{
    color: #f90000;
    font-size: 16px;
}
.promo-gallery-data a{
    border: 2px solid #8b8b8b;
    border-radius: 6px;
    color: black;
    display: block;
    font-size: 11px;
    margin: 5% 25%;
    padding: 4%;
    text-decoration: none;
    text-indent: 4px;
    width: 50%;
}

.img-main-container {
    display: table;
    text-align: center;
    width: 100%;
}

.img-container{
    display: table-cell;
    height: 250px;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}

.promo-img {
    max-height: 200px;
    max-width: 240px;
}

.promo-gallery-data a:hover{
    color:#f90000;
    text-decoration: none;
 }

.shop-now-img {
    background: url("../images/global_sprite.png") repeat scroll -47px -258px rgba(0, 0, 0, 0) !important;
    display: inline-block;
    height: 20px;
    width: 24px;
}

.promo-gallery-header{
    background: url("../images/promo/header.png") repeat scroll rgba(0, 0, 0, 0);
    padding: 6%;
}
.promo-gallery-header-container{
    margin-left: 10%;
    width: 74%;
}
.left {
    margin-left: 1.4%;
}
#div-promo-modal{
    display: none;
    text-align:center;
}
#div-promo-modal h1 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 40px;
    text-align: center;
}
.div-promo-modal-container {
    border-bottom: 1px solid #cecece;
    height: 55px;
    margin-bottom: 5px;
    margin-top: 50px;
}
.div-promo-modal-container input{
    width: 60%;
    margin: 0px auto;
    display:inline;
}
#div-promo-modal span {
    background-color: #fff;
    color: #565656;
    display: inline-block;
    margin-right: 14px;
    padding: 6px 12px;
    width: 136px;
}
#div-promo-modal button {
    background-color: #00a388;
    border-bottom: 2px solid #007c67;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    height: auto;
    line-height: 23px;
    margin: 0;
    width: 136px;
}

.header-galore33{
    background-color: #0078d5 !important;
    margin-top: 75px;
    padding: 7px;
    -webkit-print-color-adjust:exact;
}

.header-galore33 a{
    color: #fff !important;
    font-weight: bold;
    padding: 0 10px;
    text-decoration: none;
}

.header-galore33 a:hover{
    color: #ffffff;
    text-decoration: none;
}
.btn.btn-default-1 {
    border: 2px solid #565656;
    background-color: #fff;
    color: #565656;
}
.btn.btn-default-1:hover {
    background-color: #585a59;
    color: #fff;
}

.prod-description{
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.label-fullname{
    font-size: 14px;
    font-weight: bold;
    margin-right: 15px;
}

@media (min-width: 991px) {
    .head-cngrts {
        font-size: 24px;
    }
}


@media print {
    .scratch-win-form span,
    .scratch-win-form input,
    .scratch-win-form button,
    .scratch-win-error h2,
    .scratch-win-error p {
        display: block;
        float: none !important;
        width: 40%;
        margin: 0 auto !important;
        position: relative;
        margin-top: 1% !important;
    }

    .margin-top-10 {
        margin: 5% auto 0 !important;
    }

    #scratch-win-claim h2 {
        padding: 25px 0;
    }

    .scratch-win-form span {
        width: 15%;
    }

    .scratch-win-form {
        width: 100%;
    }

    .promo-wrapper {
        margin: 0 auto;
        max-width: 980px;
        position: relative;
        width: 100%;
    }

    .bottom-border {
        border-bottom: 1px solid #D9D9D9;
        font-size: 12px;
        margin-top: 5px;
        padding: 20px;
        text-align: center;
    }

    .scratch-win-form .instructions h3 {
        margin: 2% auto;
    }

    .scratch-win-form .instructions ol > li {
        padding: 1% 0;
    }

    #prod_image > img{
        max-width: 200px;
        width: 100%;
    }

    .clear {
        clear: both;
    }

    #prod_image{
        float: left;
        padding: 0 15px;
        width: 25%;
    }

    .claim-bg {
        background-color: #f5f5f5 !important;
        padding: 15px;
        width: 820px;
        -webkit-print-color-adjust:exact;
    }

    .claim-details {
        float: left;
        padding: 0 15px;
        width: 55% !important;
    }

    .claim-details p {
        font-size: 12px;
    }

    #promo-prizes-tbl > th , td {
        border: 1px solid;
        margin-left: 5%;
        text-align: center;
        width: 45%;
    }

    #promo-prizes-tbl th {
        border: 1px solid;
        padding-left: 2%;
        text-align: center;
    }

    .tbl-red {
        background-color: rgba(170, 0, 0, 0.71);
    }

    .error-claim {
        width: 57% !important;
        left: 20% !important;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .promo-gallery-row {
        text-align: center;
    }

    .promo-gallery-data {
        border: 1px solid #e7e7e7;
        display: inline-block;
        height: auto;
        margin-top: 1.3%;
        min-width: auto;
        width: 210px !important;
    }

    .promo-gallery-data p,.promo-gallery-data span {
        font-weight: bold;
        height: 48px;
        margin-bottom: 0px;
    }

    .promo-gallery-data span {
        color: #f90000;
        font-size: 16px;
    }

    .promo-gallery-data a {
        border: 2px solid #8b8b8b;
        border-radius: 6px;
        color: black;
        display: block;
        font-size: 11px;
        margin: 5% 25%;
        padding: 4%;
        text-decoration: none;
        text-indent: 4px;
        width: 80%;
    }

    .promo-gallery-data a:hover {
        color:#f90000;
        text-decoration: none;
     }

    .prod-description{
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

/** fixes **/   
    #header {
        border-top:5px solid #4e83ef !important;
        height: 5px !important;
        margin-bottom: 20px !important;
        width: 100% !important;
        -webkit-print-color-adjust: exact;
    }

    #header-top, 
    .header-inner-right,
    .persistent-header-wrapper,
    .footer-primary,
    .footer-bottom-content,
    .logo > span,
    .logo > a[href]:after,
    #scrollUp {
        display: none;
    }

    .logo > a[href]:after {
        display: none;
    }

    .logo > a {
        display: block !important;
         margin-top: 10px !important;
    }

    #main_search_container {
        margin-top: 0px !important;
        padding: 0 !important;
    }

    .res-copyright {
        border-top: 3px solid #ff893b !important;
        font-size: 14px;
        margin-top: 30px;
        padding-top: 10px;
        text-align: center;
    }

    footer,
    header .res_wrapper,
    #search-container,
    a[rel*="publisher"],
    .prevent[href]:after,
    .promo-print,
    .header-galore33 a[href]:after,
    .notification_container {
        display: none !important;
    }
    
    .scratch-congrats {
        background-color: #F5F5F5 !important;
        margin: 0 auto;
        width: 850px;
    }

    .promo-img {
        max-width: 150px !important;
        width: 100%;
    }

    .promo-gallery-data p, .promo-gallery-data span {
        font-size: 8px;
        height: auto;
    }

    .promo-gallery-data span {
        color: #f90000;
    }
    
    .img-container {
        display: table-cell !important;
        height: 200px !important;
        text-align: center;
        vertical-align: middle !important;
        width: 289px !important;
    }

    .promo-gallery-data a {
        margin: 8px auto !important;
        text-align: center !important;
    }

    .promo-gallery-data a[href]:after {
        display: none;
    }

    .header-galore33 {
        margin-top: 10px !important;
        overflow: hidden;
        position: relative;
    }

    .header-galore33 a {
        color: white !important;
    }
}
