
/****************** Global Upload product style ****************/
/**************************************************************/
a:focus {
    outline: none !important;
}
/*** error product ***/
.alert_content {
    border:1px solid #d63a02;
    padding:10px;
    margin-top: 60px;
}

.alert_content div {
    margin-bottom: 20px;
}

.alert_content div h2 {
    color: #d63a02;
    font-weight: normal;
}

.alert_content div img,
.alert_content div h2 {
    display: inline-block;
    vertical-align: middle;
}

.alert_content ul {
    margin-left: 70px;
}

.alert_content ul li {
    padding:5px 0;
}


.seller_product_content {
    display: inline-block;
    width: 100%;
}

.seller_product_content .orange_btn3:focus {
    color: #fff;
    text-decoration: none;
}

.required {
    color: #FF3600;
    font-size: 11px;
    padding:0 3px;
}

/****************** Upload product step 1 ****************/
/*********************************************************/

.inner_seller_product_content h2 {
    font-weight: normal;
}



/***** Draft Content ******/

.div_item {
    line-height: 25px;
    border-bottom: 1px solid #cecece;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.draft_category {
    float: left;
    margin-right: 20px;
    max-width: 800px;
    min-width: 500px;
    width: auto;
}

.draft_down {
    display: inline-block;
    float: right;
}

.draft_title a {
    color: #f18200;
    font-style: 14px;
    font-weight: bold;
}

.draft_title a:hover {
    border-bottom: 1px dotted #f18200;
}

.draft_del {
    background-position: -167px -262px;
    height: 12px;
    width: 10px;
}

/**** Carousel styles ****/
.carousel_container {
    float: none;
    width: 700px;
    margin-left: 10px;
}

.loading_img { /** loading gif **/
    overflow-y: hidden !important;
    padding-top: 135px;
    height: auto !important;
}

/*.add_product_category > div {
    float: left;
}*/

.main_product_category {
    width: 200px;
    border: 1px solid #cecece;
    height: 300px;
    padding:5px;
    overflow-y: scroll;
}

.main_product_category ul li a {
    padding: 5px 2px;
    display: block;
    border-bottom: 1px dotted #cecece;
}

.main_product_category li.active a {
    color: #a31b01 !important;  
}

.main_product_category a.active,
.main_product_category a.active:hover {
    color: #fff;
    background-color: #f18200;
}

.main_product_category a:hover {
    color: #fff;
    background-color: #424242;
}

.main_product_category li.active:after {
    left: 158px !important;
    top: -20px !important;
}

.main_product_category a.active:after,
.main_product_category a:hover:after {
    color: #FFFFFF;
    content: "►";
    display: block;
    height: 0;
    left: 167px;
    margin: 0;
    padding: 0;
    position: relative;
    top: -15px;
    width: 0;
}

.product_sub_category > div {
    float: left;
}

.othercategory a {
    color: #0191C8 !important;
}

.othercategory a:hover {
    background-color: #fff !important;
    color: #0191C8 !important;
}

.select2 {
    display: block;
    border-bottom: 1px dotted #d9d9d9;
    margin-right: 8px;
    padding:8px 5px;
    width: 166px;    
/*        margin-bottom: 10px;*/
}

.add_cat {
    background-position: -336px -311px;
    width: 17px;
    height: 17px;
    padding-left: 10px;
}

.product_sub_category > div a.active,
.product_sub_category > div a.active:hover,
.product_sub_category > div a:hover {
    background-color: #f18200;
    color: #fff;
}

.product_sub_category > div a:hover {
    background-color: #424242;
    color: #fff;
}

.product_sub_category > div a.active:after,
.product_sub_category > div a:hover:after {
    color: #fff;
    content: "►";
    display: block;
    height: 0;
    left: 157px;
    margin: 0 8px 0 0;
    padding:0;
    position: relative;
    top: -16px;
    width: 0px;
}

.main_product_category input[type="text"],
.product_sub_category input[type="text"] {
    color: #797979;
    border:1px solid #cecece;
    padding: 5px 5px 5px 27px;
    width: 140px;
    height: 20px;
    margin-left: 5px;
    margin-bottom: 8px;
    background:url("../images/img_search2.png") no-repeat scroll 5px 6px rgba(0, 0, 0, 0);
}

.main_product_category input[type="text"]:focus,
.product_sub_category input[type="text"]:focus {
    padding: 5px 5px 5px 27px;
    border:1px solid #ff4400;
}


/****************** Upload product step 2 ****************/
/*********************************************************/
.step4 {
    border-top: 1px solid #cecece;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
    margin-top: 20px;
    padding: 5px 5px 0px 5px;
    width: 980px;
}

.notification {
    background-color: #fff2d4;
    padding:10px;
}

.notification strong {
    color: #FF3600;
    font-size: 14px;
    font-weight: bold;
}

.notification img {
    vertical-align: middle;
    margin-right: 10px;
}

/*.form_input input[placeholder] {
    font-size: 11px;
}*/

.form_input textarea {
    height: 60px;
}

/*.form_input input[type='text']:focus,
.form_input textarea:focus               {
    border: 1px solid #ff4400;
}*/


.step4 tr td {
    padding-left: 10px;
    padding-top:10px;
    padding-bottom:10px;
}

.step4_2 tbody tr td > span {
    display: inline-block;
    padding-bottom: 5px;
    vertical-align: middle;
    width: 190px;
}
.product_upload_success {
    margin: 50px;
}

.product_upload_success strong {
    font-size: 18px;
}

.product_upload_success span {
    color: #ff4400;
}

.product_upload_success a:hover {
    padding:5px 0;
    border-bottom: 1px dotted #0072FF;
    text-decoration: none;
}

.product_upload_success img {
    vertical-align: middle;
    margin-right: 15px;
}

.step4 input {
    vertical-align: middle;
    margin-right: 5px;  
}

.add_brand {
    cursor: pointer;
    padding:10px 0;
    text-decoration: underline;
}

.brand_sch_drop_content li {
    list-style: none;
}

.step4_2 tr td {
    padding-left: 10px;
    padding-top:10px;
    padding-bottom:10px;
}

#main1 td + td {
    border-bottom: 1px dotted #cecece;
    margin-bottom: 3px;
}

.step4_2 tr[id*="main"] td {
    padding-top: 10px;
}

#main1 a {
    color: #0191C8;
}

#main1 a:hover {
    text-decoration: underline;
}

.lnkClearFirst:hover,
.removeOptionGroup:hover {
    border-bottom: 1px dotted #f18200;
}

.edit_img_container {
    padding-left: 5px;
}

.prod_upload_img_container { 
    border:1px solid #7E7E7E;   
    display: inline-block;
    text-align: center;
    padding:5px;
    position: relative;
}

.edit_img_container div.active_img {
    border:1px solid #f18200;
}

.edit_img_container div.active_img .edit_img_remove {
    background-color: #f18200;
}

.edit_img_remove {
    background-color: #7E7E7E;
    color: #FFFFFF;
    height: 15px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 15px;
}

.thumb {
    height: 75px;
    margin: 10px 5px 0 0;
}

.prod_upload_img_container img {
    display: block;
    height: 80px;
    margin: 0px auto 10px;
    width: 80px;
}

.prod_upload_img_container input[type="checkbox"] {
    vertical-align: top;
    padding: 0;
    margin: 0px 5px 0px 0px;
}

.add_more_link_value{
    color: #0191C8;
}

.option_image_span {
    display: table-cell; 
    vertical-align: middle; 
    height: 50px; 
    width: 50px; 
    background-color:white; 
    border:1px solid #B3B3B3;
}


.option_image {
    display:block;
    margin: 0 auto;

    height: auto;
    width: auto;
    max-height: 50px;
    max-width: 50px; 

}


.add_photo {
    background-position: -633px -307px;
    width: 60px;
    height: 30px;
    margin-right: 10px;
}

.files {
  position: absolute;
  left: -9999px;
  z-index: -1900;
}

.label_bttm_txt {
    font-size: 0.75em;
    display: inline-block;
    margin-top: 10px;
}

.labelfiles{
   background-color: #F18200;
   border: 1px solid #F18200;
   border-radius: 3px;
   color: #FFFFFF;
   cursor: pointer;
   font-weight: bold;
   font-size: 0.75em;
   display: inline-block;
   line-height: 30px;
   text-align: center;
   text-transform: uppercase;
   transition: all 0.3s ease-in-out 0s;
/*   width: 170px;*/
   padding: 5px 8px;
}

.labelfiles:hover{
   background-color: #FF4400;
   border: 1px solid #FF4400;
}

/**** more product details ****/
.active-product-details .vmd_img {
    background-position: -111px -316px;
}

.vmd_img {
    background-position: -141px -316px;
    height: 16px;
    width: 25px;
}

.view_more_product_details {
    border-bottom: 1px dotted #FFFFFF;
    cursor: pointer;
    display: inline-block;
}

.view_more_product_details:hover {
    text-decoration: none;
    border-bottom: 1px dotted #0191C8;
}

.more_product_details_container,
.prod-details-add-more-link {
    display: none;
}

/**** Quantity table ****/

.qtyTextClass {
    width: 50px;
}

.qty_title input {
    margin-top: 8px;
}

.quantity_attrs_content select {
    margin-top: 8px;
    width: 190px;
}

.quantity_attrs_content div {
    float: left;
    margin-right: 10px;
}

.quantity_attr_done {
    padding: 11px 30px;
    vertical-align: bottom;
}

.qty_tooltip span {
    width: 570px !important;
}

a.qty_tooltip {
    display: inline-block;
    margin-top: 9px;
    padding: 0;
    vertical-align: middle;
}

.removeSelected {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 75px;
}

.quantityText {
    text-align: center;
    width: 50px;
}

.inner_quantity_list {
    border-bottom: 1px solid #CECECE;
/*    height: 45px;
    line-height: 45px;*/
    display: table;
    padding: 15px 0;
}

.inner_quantity_list:nth-child(odd) {
    background-color: #F8F7F7;
}

.input_qty {
    display: table-cell;
    padding: 0 15px;
    vertical-align: middle;
}



.form_input .proceed_form {
    border: 1px solid #f18200;
    background-color: #f18200;
    color: #fff;
    cursor: pointer;
    width: 200px;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:    all 0.3s ease-in-out;
    -o-transition:      all 0.3s ease-in-out;
     transition:        all 0.3s ease-in-out;   
}

.form_input .proceed_form:hover {
    border: 1px solid #ff4400;
    background-color: #ff4400;
}

a.tooltips span {
    text-align: left;
}

a:hover.tooltips span {
  visibility: visible;
  opacity: 1;
  left: 100%;
  top: 50%;
  margin-top: -21px;
  margin-left: 15px;
  z-index: 999;
}

.tooltips > img {
    vertical-align: middle;
}

.twolines_tooltip {
    top: -9px !important;
}

.lines_tooltip {
/*    top: -24px !important;*/
    top: 0px !important;
}

/***** Admin upload step 2 ****/
.pad-right {
    padding-right: 10px;
}

.step3_title {
    background-color: #e5e5e5;
    border-top: 1px solid #CECECE;
    border-left: 1px solid #CECECE;
    border-right: 1px solid #CECECE;
    padding-left:10px;
    padding-right: 10px;
}

.upload_step2_title h3 {
    display: inline-block;
    margin-right: 10px;
}

.step2_data_row select {
    padding: 5px;
    vertical-align: middle;
}

.step2_data_row input {
    margin-right: 10px;
}

.step2_data_row div {
    display: inline-block;
    margin-bottom: 10px;
}

.step2_data_row div:first-child {
    width: 100px;
}

.add_more_value {
    cursor: pointer;
    margin-left: 15px;
}

.b_buttom {
    border-bottom: 1px solid #cecece;
    padding-bottom: 10px;
}

.value_container {
    display: block;
}

/****************** Upload product step 3 ****************/
/*********************************************************/
/*************  Shipping Product Upload Step 3 ****************/
.prod_comb_list_con {
    overflow-y: scroll;
    height: 335px;
    padding-top: 10px;
}

#product_combination_list{
    list-style: none;
    position: relative;
}

.product_combination_locked{
	border: 1px solid #f18200;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 10px;
    height: 150px;
    line-height: 35px;
    margin: 0 0 10px 5px;
    padding: 0 3px 0 25px;
    width: 180px;
}

.product_combination_locked:before {
    background: url('../images/global_sprite.png') -588px -308px no-repeat;
    left: 4px;
    content: "";
    display: inline-block;
    height: 25px;
    position: absolute;
    top:0;
    width: 25px;
}

.product_combination {
    border: 1px solid #DBD8D7;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 10px;
    height: 150px;
    line-height: 35px;
    margin: 0 0 10px 5px;
/*    max-height: 193px;
    min-height: 25px;*/
/*    overflow-y: scroll;*/
    padding: 0 3px 0 25px;
    width: 180px;
}

.product_combination:hover {
    border: 1px solid #f18200; 
}

.product_combination p {
    width: 161px;
}

.product_combination.active {
    border: 1px solid #f18200;
}

.product_combination.active {
    position: relative;
}

.product_combination.active:before {
    background: url('../images/global_sprite.png') -591px -308px no-repeat;
    left: 0;
    content: "";
    display: inline-block;
    height: 25px;
    position: absolute;
    top:0;
    width: 25px;
}

.prod_att_pad p {
    display: list-item;
    font-size: 10px;
    margin-left: 15px;
    word-wrap: break-word;
}

.prod_att_pad span {
    border-bottom: 1px dotted #D9D9D9;
    display: inline-block;
    height: 7px;
    width: 140px;
}

.prod_att_pad span:last-child {
    border-bottom:none;
}

.shipping_border {
    margin-top: 10px;
}

.shipping_container input[type="button"] {
    border:1px solid #f18200;
    cursor: pointer;
}

.tablehide, .cloningfield, .buttonhide{
    display:none;
}

.shiplocprice_summary td{
    border: none !important;
/*  padding-right: 3px;
    padding-left: 3px;*/
}

/*#shipping_summary,
#shipping_summary td{
    border: 1px solid black;
    padding: 3px;
}
*/
.button{
    cursor: pointer;
}

#btnShippingDetailsSubmit{
    border: medium none;
    cursor: pointer;
    display: block;
    margin: 10px auto 0;
    padding: 10px 15px;
    text-transform: uppercase;
    width: 120px;
}

.delete_locrow{
    color: #FF3600;
    display: block;
    font-size: 12px;
    text-align: center;
}
.delete_locrow:hover{
    color: #FF4400;
}

.product_option{
	border: 1px solid #DBD8D7;
    cursor: pointer;
    float: left;
    font-size: 10px;
    height: 36px;
   	line-height: 35px;
    margin:0px 0px 5px 3px;
    text-align: center;
    min-width: 36px;
    padding:0 3px;
}

.product_option.active{
	background-color: #ff4400;
	color: #fff;
}

#product_option_list{
	list-style: none;
	margin-right: 10px;
}

.shipping_wrapper {
/*    border:1px solid #cecece;*/
    display: inline-block;
    margin-top: 30px;
    padding-bottom: 30px;
}

.shipping_title {
    background-color: #E5E5E5;
    padding:10px;
}

.shipping_container {
/*    float: left;*/
/*    padding: 8px;*/
/*    width: 100%;*/
}

.rate_calculator_con {
/*    border-top: 1px solid #CECECE;
    margin-top: 40px;*/
    padding: 10px;
    text-align: left;
}

.rate_calculator_con h3 {
    padding:8px 0;
}
.shipping_courier_container {
    display: inline-block;
/*    padding-left: 5px;*/
   /* margin-top: 10px;*/
    width: 465px;
}

.shipping_courier_container a {
    display: inline-block;
    margin-right: 10px;
}

.rate_calculator_con a {
    display: inline-block;   
}

.rate_calculator_con a span {
    border:1px solid #d6d6d6;
    display: table-cell;
    background-color: #f0efef;
    font-size: 11px;
    height: 70px;
    padding:8px;
    text-align: center;
    vertical-align: middle;
    width: 70px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:    all 0.3s ease-in-out;
    -o-transition:      all 0.3s ease-in-out;
     transition:        all 0.3s ease-in-out;
}

.rate_calculator_con a span:hover {
    border:1px solid #f18200;
    background-color: #f18200;
    color: #fff;
}

.rate_calculator_con img {
    border: 1px solid #DBD8D7;
    display: block;
    margin: 8px auto;
/*    
    vertical-align: middle;*/
    width: 45px;
}

.shipping_container table tr:first-child td {
    height: 30px;
}

.shipping_container input[type="text"] {
    padding:9px 2px;
    width: 115px;
}

.shiplocprice_summary input[type="text"] {
    padding:9px 2px;
    width: 55px;
}

.shipping_container select,
.shiplocprice_summary select {
    border: 1px solid #CECECE;
    padding: 8px 2px;
    vertical-align: middle;
    width: 150px;
}

.shipping_table2 {
/*    border: 1px solid #CECECE;*/
    display: inline-block;
    font-size: 12px;
    height: 195px;
    overflow-y: scroll;
}

.shipping_table2 thead tr td,
.shipping_table3 thead tr td {
    font-weight: bold;
}

.shipping_table2 tbody {
    display: table-cell;
/*    height: 194px;*/
}

.shipping_table2 tr:nth-child(odd) td {
    background-color: #F8F7F7;
} 

.shipping_table2 tr td {
    padding: 10px 2px;
}

.newlocrow td {
    border-bottom: 1px solid #DBD8D7;
}

.shipping_table2 tr td.add_loc_con {
    background-color: #fff;
}

.tablehide {
    margin-top:30px;
}

tr.tr_shipping_summary:nth-child(odd) td {
    background-color: #fff;
}

.shipping_list_btns {
    padding-top: 25px !important;
}

tr.tr_shipping_summary:nth-child(even) td {
    background-color: #F8F7F7;
}

/*.shipping_table3 {
    border:1px solid #cecece;
}*/

.shipping_table3 tr[data-groupkey],
.edit_summaryrow,
.delete_summaryrow,
.accept_summaryrow  {
    font-size: 12px;
}

.shipping_table3 tbody tr td {
    border-bottom: 1px solid #E9E7E7;
    padding: 10px 0px;
}

.shipping_table3 thead tr td span:first-child {
    width: 85px;
}

.shipping_table3 thead tr td span {
    display: inline-block;
    width: 60px;
}

.shiplocprice_summary tbody tr td {
    height: 36px;
    padding: 0px;
}

.shiploc {
    border:1px solid #B3B3B3;
    padding:8px 2px;
    width: 150px;
}

.shipprice {
    border:1px solid #B3B3B3;
    padding:8px 2px;
    width: 120px;
}

#add_shipping_details {
    margin: 10px;
}

.price_table_bottom {
    border-top: 1px dotted #cecece;
}

.tr_shipping_summary img {
    vertical-align: middle;
}

.shipping_summary_container {
    border: 1px solid #CECECE;
/*    float: left;*/
/*    margin-bottom: 10px;
    margin-top: 8px;*/
    padding: 8px;
/*    margin:8px;*/
/*    width: 100%;*/
}

.shipping_prod_attr_comb {
    margin-bottom: 10px;
}

.shipping_list_items_con {
    background-color: #F8F7F7;
    height: 528px;
    overflow-y:scroll;
}

.shipping_list_items_con.prod_att_comb_no_select {
    height: 807px;
}

.shipping_list_items_con.prod_att_comb_no_select .shipping_table3 .prod_att_pad p {
    float: left;
    width: 55px;
}

.shipping_summary_container h2 {
    border-bottom: 1px solid #fff;
    font-weight: 300;
    padding: 5px;
}

.shipping_summary_container table thead {
    background-color: #EBE9E9;
/*    font-size: 14px;*/
}

.shipping_summary_container table thead tr td {
    font-weight: 300;
    padding:10px 5px;
}

/*.shipping_summary_container table tr td.prod_att_pad {
    padding-right: 20px;
}
*/
.edit_del {
    margin-right: 10px;
}

.tr_shipping_summary td:last-child {
    text-align: center;
}

#div_locationwarning {
    border: 1px solid #ff0000;
    margin: 5px auto;
    padding: 8px;
    width: 440px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

#spanerror{
    font-weight: bold;
    margin-left: 10px;
}

.set_price_error1 {
    display: inline-block;
    height: 30px !important;
    width: 463px;
}

.set_price_error2 {
    display: inline-block;
    height: 60px !important;
    width: 463px;
}

li.brand_result:hover{
    color: #F18200;
    cursor: pointer;
}

/****	Shipping Preference	****/

.radio_container {
	padding: 5px;
}

.radio_container p{
	margin: 3px;
	
}

.delete_ship_preference{
	color:red;
	cursor:pointer;
	position:absolute;
	right:60px;
	display:none;
}

.ship_pref_option:hover{
	background-color: #F8F7F7;
}

.ship_pref_option input[type="radio"]{
	float:left;
	margin-top:6px;
	margin-left:5px;
}

.ship_pref_option label{
	margin-left: 5px;
}


#slider_val{
    color: #f00;
    margin-left: 3px;
    text-indent: 5px;
    width: 110px;
}
#discountedP{
    background-color: #FFFFFF;
    border: 1px solid #cecece;
    min-width: 120px;
    width: 75px;
}


.loadingfiles{
   background: url("../images/loading/preloader-whiteBG-small.gif") no-repeat scroll 0 0 #FCFEFC;
   height: 36%;
   left: 32px;
   opacity: 1;
   position: absolute;
   top: 34px;
   width: 45%;
   z-index: 100;

}

.loading_opacity{
    background: #FCFEFC;
    opacity: 0.3;
}   

/**** New upload step3  7-4-2014 ****/
.step3_header_title {
    padding-bottom: 20px;
}

.step3_header_title h2 {
    font-weight: normal;
}


.step3_content_con div {
    margin-bottom: 10px;
}

.step3_content_con label {
    display: inline-block;
    margin-left: 1em;
	margin-right: 1em;
	width: 115px;
}

.step3_shipping_options h3 {
    padding: 8px 0;
}

#finish_step3 {
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding:8px 24px;
}

.del_pop{
	display:none;
	position:relative;
}


/***	NEW SELL STEP 3	****/

.add_bgs3{
	display: inline-block;
	background: url(../images/btn_sprite.png) no-repeat 2.1px 0px;
	width: 18px;
	height: 15px;
}

.del_bgs3{
	display: inline-block;
	background: url(../images/btn_sprite.png) no-repeat -33px 0px;
	width: 18px;
	height: 15px;
}

.preference_btn_css{
	float: right;
}

.advbtn_attr_css{
	cursor:pointer;
}

.gbtn1{
	display:inline-block;
	background-color: #e5e5e5;
	border-bottom: 2px solid #B9B9B9;
	border-right: 2px solid #B9B9B9;
	width: 150px;
	height: 30px;
	line-height: 30px;
	margin-left: 2em;
	vertical-align:middle;
	text-align:center;
	cursor:pointer
}

.gbtn1.active{
	background-color: #5C5C5C;
	color: white;
	border:1px solid #B1B1B1;
}

.wbtn{
	display: inline-block;
	min-width: 80px;
	padding: 5px 10px;
	border-radius:3px;
	border: 1px solid #ADADAD;
	background-color: #FFFFFF;
	cursor: pointer;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}

.wbtn *{
	vertical-align:middle;
}

.sh1 div{
	display: inline-block;
	width: 20%;
}

.sh3 {
	border: 1px solid #D1D1D1;
	padding: 10px;
}

.sh2 div{
	display:inline-block;
	margin-left: 3em;
	margin-bottom: 0px;
}

.sh2 div label{
	width: auto;
	vertical-align: middle;
	margin:0px;
}

.sh2 *{
	display: inline-block;
	vertical-align:middle;
}

.sg_css{
	border: 1px solid #D5D5D5;
	padding: 5px;
}

.sg_css .dg_css{
	background-color: #F3F3F3;
	padding: 10px;
	border: 1px solid #D5D5D5;
}


/* Drop Down List Box (chosen plugin) */
.si_css .chosen-container{
	margin-top: 5px;
}

/* Remove Row Button */

.si_css .del_shipping_input *{
	vertical-align: middle;
}

.si_css label{
	width: auto;
	text-align: center;
}

.sa_css h4{
	margin-bottom: 5px;
}

.sa_css .attr_cont_css *{
	vertical-align:middle;
}

.prefsel_css{
	height:20px;
}

.prefsel_css > *{
	float:right;
	line-height:20px;
	vertical-align:middle;
	margin:0px;
}


/*****	STEP 4 DESIGN	*******/
.step4_section{
    border: 1px solid #CECECE;
    margin-bottom: 1em;
}


.step4_header{
    background-color: #E5E5E5;
}


.step4-cod{
    text-align:center;
}

/**** Iframe for progress upload ****/

.loader-iframe{
    display: none;
    width: 100%;
}

#progress_completed{
    position: relative;
    background: url('/assets/images/orange_loader.gif');
    width: 150px;
    min-height: 34px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#progress_completed span{
   line-height: 34px; 
}

#crop-image-main {
    padding: 40px 0px;
}

#crop-image-main > div {
    margin: 0 auto;
}

#crop-image-main > div > img {
    margin: 0 auto;
}

#imageTag {
    margin: 0 auto;
}

@media (min-width: 320px) {
    #imageTag, .imageContainer {
        height: auto !important; 
        width: auto !important;
        max-width: 200px !important;
        max-height: 200px !important;
    }
} 

@media (min-width: 767px) {
    #imageTag, .imageContainer {
        height: auto !important; 
        width: auto !important;
        max-width: 310px !important;
        max-height: 310px !important;
    } 
}

@media (min-width: 991px) {
    #imageTag, .imageContainer {
        height: auto !important; 
        width: auto !important;
        max-width: 370px !important;
        max-height: 370px !important;
    }
}

@media (min-width: 1200px) {
    #imageTag, .imageContainer {
        height: auto !important; 
        width: auto !important;
        max-width: 400px !important;
        max-height: 400px !important;
    }
}

.cropper-container{
    left: 0 !important;
    top: 0 !important; 
    margin: 0 auto;
    border: 1px dashed;
}

.irs-line-mid, .irs-line-left, .irs-line-right, .irs-diapason, .irs-slider {
    background: url("../images/sprite-skin-flat.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}
