.step4_section {
    border-radius: 4px;
}

.pd-lr-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.base-price {
    text-decoration: line-through;
}

.thumb-list-container {
    height: 492px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.jcarousel-control-prev, .jcarousel-control-next {
    top: 0;
}

.jcarousel-control-next {
    margin-left: 0;
}

.thumbnails-img-container {
    display: block;
    margin-left: 0;
    margin-right: 0;
}

.slideshow a {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.prod-gallery-container {
    border: 1px solid #e0e0e0;
    position: relative;
    height: 542px;
}

.prod_con_gal {
    position: relative;
    width: 100%;
    height: 542px;
}

.prod_con_gal img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-height: 542px;
    max-width: 365px;
    width: auto;
    height: auto;
}

#mobile-product-gallery {
    border:1px solid #e2e2e2;
    text-align: center;
    position: relative;
    width: 100%;
}

#mobile-product-gallery div img {
    width: auto;
    height: auto;
    max-height: 542px;
}

#mobile-product-gallery .owl-controls {
    border: none;
    position: absolute;
    bottom: 0;
    top: 0;
}

#mobile-product-gallery .owl-controls .owl-prev {
    left: 10px;
}

#mobile-product-gallery .owl-controls .owl-prev,
#mobile-product-gallery .owl-controls .owl-next {
    display: inline-block;
    position: absolute;
}

.prod-availability-container {
    height: auto;
}

.prod-availability-container span {
    display: block;
}

.prod-detail-main {
    padding: 10px 0;
}

.prod-gallery-container {
    margin-left: -15px;
    margin-right: -15px;
}

.step4_header {
    padding: 0 15px;
}

.step4_header h5 {
    margin: 0;
    padding: 10px 0;
}

.div-detail-container {
    margin-bottom: 25px;
}

.prod-payment-img-container img {
    margin-left: 3%;
}


@media (min-width: 991px) and (max-width: 1200px) {
    .slideshow a {
        width: 90px;
    }

    .slideshow img {
        max-width: 88px;
    }

    .quantity-select {
        display: block !important;
    }

    .thumbnails-img-container .center {
        width: 90px;
    }

    .thumbnails-img-container .center #prev {
        background-position: 0px -418px;
        width: 45px;
    }

    .thumbnails-img-container .center #next {
        background-position: -42px -418px;
        width: 34px;
    }

}

@media screen and (max-width: 1200px) {
    .prod-availability-container.prod-border-right {
        border: none;
    }
}