/web/robots.txt
/vendor
/web/assets/product/*
/web/assets/images/reports/*
!/web/assets/product/unavailable
!/web/assets/product/product_description
!/web/assets/product/default
!/web/assets/user/default
/web/assets/product/product_description/*
/web/assets/images/ads/
/web/assets/images/mainslide/
/web/assets/images/homeslider/
!/web/assets/product/product_description/README.md


/application/src/EasyShop/Doctrine/Proxies/*
/web/*.xml.gz
/web/filelist.txt
/web/sitemap_index.xml

/web/assets/temp_product
/application/resources/local/*
!application/resources/local/README.md
/web/assets/user/*
!/web/assets/user/default


/config.php
/application/config/param/controllers.php
.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

/bower_components/
/node_modules/
/web/assets/js/min


/sphinx/logs/*
!/sphinx/logs/*.md
/sphinx/data/*
!/sphinx/data/products/*.md
/sphinx/etc/*
!/sphinx/etc/*.md
!/sphinx/etc/wordforms.txt


