/vendor
/web/assets/product/*
/web/assets/temp_product
/application/resources/local/*
/web/assets/user/*

config.php
.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
