/web/robots.txt
/vendor
/web/assets/product/*
/web/assets/images/reports/*
!/web/assets/product/unavailable
!/web/assets/product/product_description
!/web/assets/product/default
!/web/assets/user/default
/web/assets/product/product_description/*

/application/src/EasyShop/Doctrine/Proxies/*
/web/*.xml.gz
/web/filelist.txt
/web/sitemap_index.xml

/web/assets/temp_product
/application/resources/local/*
/web/assets/user/*
!/web/assets/user/default

/config.php
.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
