body {    
    font-size: 70px;
    color: #494949;
    font-family: century gothic;
}

.header_bg{
    height: 624px;
    line-height: 70px;
    width: 100%;
    color: #FFFFFF;
    background: #013a87 url('/assets/images/landingpage/img_header_bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin:0;
}
.header_bg span{
    color: #ffc600;
}.header .spn18{
    color: #FFFFFF;
}

.content1 {
    margin-top: 50px;
    text-align: center;
}

.footer {
   background: #ececec;    
}

.content2 {
   padding: 50px 0;
}

.content1_con {
    margin-bottom: 50px;
}

#register_form1 p.border1 {
    border-bottom: 1px dotted #cecece;
    display: block;
    float: none;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding:0 !important;
    width: 95%;
}

#username_status {
    display: inline-block;
    padding-bottom: 10px;
    padding-left: 10px;
    position: absolute;
}

/*#username_status {
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: left;
    width: 275px;
}*/

.username_availability {
    font-size: 12px;
    vertical-align: middle;
}

input.error + span.error {
    display: inline-block !important;
}

.error.red {
    position: absolute;
    background-color: #FFEFEF;
    border: 1px solid #FF0000;
    color: #FF0000;
    /*display: block;*/
    font-size: 12px;
    /*margin: 10px auto;*/
    margin:0 0 0 10px;
    padding: 8px 3px;
    width: 255px;

  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.pass-container {
    border-bottom: 1px dotted #CECECE;
    font-size: 12px;
    margin: 0 auto 10px;
    padding-bottom: 5px;
}

.pass-bar {
    height: 10px;
    margin-top: 10px;
}

#cpassword_x,
#cpassword_check {
    padding: 12px;
    position: absolute !important;
}

#email_status {
    display: inline-block;
    height: 36px;
    padding: 0px 0 0 10px;
    position: absolute;
}

/*#email_status {
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: left;
    width: 275px;
}
*/
#register_form1 fieldset input[name="username"],
#register_form1 fieldset input[name="email"] {
    padding-right: 30px;
    width: 236px !important;
}

.email_availability {
    font-size: 12px;
    vertical-align: middle;
}

.img_loader_small2 {
    padding: 5px 0 0 10px;
    position: absolute;
}

.img_loader_small {
    margin-left: -42px;
    padding: 5px 0 0 10px;
    position: absolute;
}

.offset3 label {
    line-height: 0;
    margin-bottom: 0;
}

.header_sub {
    font-size: 0.27em;
}

.spn18{
    font-size: 18px;
    line-height: 18px;
    
}

.input-append input[name="subscribe_btn"] {
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;

    padding:10px 19px;
    width: 120px !important;
}

.btn-large {
    padding: 9px 19px;
}
.spn48{
    display: inline-block;
    font-size: 48px;
    line-height: 48px;
    padding-bottom: 30px;
}

    .content1_con p.border1 {
        width: 95%;
    }

.help-block ,.spnmsg{
    font-size: 12px;
    line-height: 12px;
}

.help-block {
    line-height: 24px;
}

.spnmsg {
    text-align: center;
}

#register_result {
    padding: 20px 0;
    text-align: center;
}

#result_desc {
    font-size: 14px;
    line-height: 0;
}

.ui-widget-header {
    color: #fff;
    background-color: #82c120 !important;
}

.ui-dialog .ui-dialog-title {
    color: #fff;
    font-size: 12px;
    padding:10px;
}

.ui-dialog .ui-dialog-titlebar-close:after {
    content: "X";
    font-size: 12px;
    left: 5px;
    position: absolute;
    top: -2px;
}

.ui-dialog .ui-dialog-titlebar {
    padding:0 !important;
}

.ui-dialog .ui-dialog-buttonpane {
    padding: 10px 0px !important;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none !important;
    text-align: center;
}

.ui-dialog-buttonset > button {
    font-size: 14px !important;
    text-align: center;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  width: 100px;
  padding:5px;
  margin:0 !important;

    -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.ui-dialog-buttonset > button:hover {
    background-color: #F89406;
    color: #FFFFFF;
}

.username_container {
    width: 400px;
    margin:0 auto;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    #username_status {
        margin-left: 140px;
        margin-top: -50px;
    }
    ::i-block-chrome,#username_status {
        margin-left: auto;
        margin-top: auto;
    } 

    #email_status {
        margin-left: 140px;
        margin-top: -50px;     
    }
    ::i-block-chrome,#email_status {
        margin-left: auto;
        margin-top: auto;
    } 
}

/**********************************************************************************/
/********************************* Media Queries **********************************/
/**********************************************************************************/
 @media (min-width:979px) {
 .container .span6:not(:first-child) {
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .span4 img {
    max-width: 224px;
    width: 100%;
}

.row-fluid .span6:first-child {
    border-right: 1px solid #DDDDDD;
    margin-bottom: 50px;
}
.footer{
   background: #ececec;
    width: 100%;
}
.footer .help-block ,.spnmsg{
    line-height: 20px;
}
.footer img{
    margin-bottom: 20px;
}
}

@media (max-width: 837px) {
    input.error + span.error {
    display: block !important;
    margin: 0 auto;
    position: relative;
    }
    #username_status {
    display: block;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
    margin-left: auto;
    margin-top: auto;
    }

    #email_status {
    display: block;
    height: 36px;
    padding: 0px 0 0 10px;
    position: relative;
    margin-left: auto;
    margin-top: auto;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
  .row-fluid .span6:first-child {
    border-right: 1px solid #DDDDDD;
    margin-bottom: 50px;
  }

  .footer {
    padding-bottom: 50px;
  }

}

@media (max-width: 767px) {
    .span4,.row-fluid .span4 {
        width: auto;
    }
    .spn18 {
        display: inline-block;
        padding:10px 0;
    }

    .help-block {
        margin-bottom: 30px;
    }
}



@media (max-width: 480px) {
    .subscribe_input {
        width: 200px;
    }

    .span4 img {
        max-width: 180px;
        width: 100%;
    }

    #username_status {
        display: block;
        padding-bottom: 10px;
        padding-left: 10px;
        position: relative;
        margin-left: auto;
        margin-top: auto;
    }

    #email_status {
        display: block;
        height: 36px;
        padding: 0px 0 0 10px;
        position: relative;
        margin-left: auto;
        margin-top: auto;
    }

    input.error + span.error {
        display: block !important;
        margin: 0 auto;
        position: relative;
    }

}