/* Container */
#simplemodal-container {
	/*height:290px !important;*/
	height: 450px !important;
	width:800px !important; 
	background-color:#fff;
}

#simplemodal-container a.modalCloseImg {
	top: 3px;
	right: 5px;
}

div.inner_seller_product_content > h2{
	display: inline;
}

#tutShippingLoc > img{
	vertical-align: middle;
	padding-bottom: 9px;
	padding-left: 3px;
}

.tutorial_modal > .paging > h2 {
	background-color: #F48000;
	color: #fff;
	padding: 5px;
}

.tutorial_modal > .paging{
	height: 410px;
}

.pagination {
	margin: 0px;
}