/* Container */
#simplemodal-container {
    height: 80% !important;
    width: 990px !important;
	background-color:#fff;
	padding: 10px;
	left: 12.6% !important;
	max-height: inherit !important;
	top: 8% !important;
}

#simplemodal-container .modalCloseImg {
    float: left;
    right: 17px !important;
    top: 13px !important;
}
.p_title{
    background-color: #FFA500;
    height: 37px;
    width: 100%;
}
.p_title h2{
	color: #FFFFFF;
	padding: 6px;
}
.p_content{
    padding: 15px;
}
.p_content div{
    border: 1px solid #CECECE;
    height: 300px;
    margin: 3px 0 5px;
    overflow-y: scroll;
    width: 100%;
}
.p_content img{
    max-width: 100%;
}
.h_strong{
	font-weight: bold;
}
.pagination {
    bottom: 10px;
    /*margin: 15px !important;*/
    position: absolute;
    right: 22px;
}
.p_cent {
    right: 360px;
}
div.inner_seller_product_content > h2{
	display: inline;
}

#tutShippingLoc > img{
	vertical-align: middle;
	padding-bottom: 9px;
	padding-left: 3px;
}

.tutorial_modal > .paging > h2 {
	background-color: #F48000;
	color: #fff;
	padding: 5px;
}


