/******* font face *********/
/*@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);*/
/*@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,600);*/
/*@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);*/
@import url(https://fonts.googleapis.com/css?family=Muli:400,300);
/********************************/

body {    
    font-size: 70px;
    color: #494949;
    /*font-family: 'Didact Gothic', sans-serif;*/
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Muli', 'sans-serif';
}

.header_bg{
    height: 100%;
    line-height: 70px;
    width: 100%;
    color: #FFFFFF;
    background: #013a87 url('/assets/images/landingpage/img_header_bg.jpg') no-repeat center top fixed;
    margin:0;
}

.login_btn.show {
    display: block;
}

.login_btn {
    position: fixed;
    text-align: center;
    line-height: 16px;
    font-size: 18px;
    display: none;
    width: 100%;
    background-color: #002f70;
      -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
      -webkit-transition: all 0.1s linear;
     -moz-transition: all 0.1s linear;
       -o-transition: all 0.1s linear;
          transition: all 0.1s linear;
}

.login_btn a {
    color: #fff;
    display: inline-block;
    padding:10px;
    width: 100px;
}

.login_btn a:hover {
    text-decoration: none;    
}

.login_btn:hover {
    background-color: #00439f;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);

}

#himg {
    background: url("/assets/images/landingpage/img_logo_shadow.png") top center no-repeat;
    height: 160px;
    margin: 0 auto;
    width: 100%;
}

.lnk_logo {
    padding-left: 230px;
    float: left;    
}

.header .spn18{
    color: #FFFFFF;
}

.txt_header {
    font-weight: 300;
}

.himg2 {
  background: url("/assets/images/landingpage/img_model.png") no-repeat scroll right bottom / 42% auto rgba(0, 0, 0, 0);  
  width: 70%;
  margin:0 auto;
  min-height: 400px;
}

.txt_header2 {
    font-size: 34px;
    font-weight: 300;
    text-transform: uppercase;
}

.txt_header2 span {
    font-size: 54px;
}

.lnk_homepage {
    color: #494949;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: center;
    width: 180px;

    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #faa732;
    *background-color: #f89406;
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
   filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.lnk_homepage img {
    margin-right: 10px;
}

.lnk_homepage:hover {
    text-decoration: none;
}

.lnk_homepage:hover,
.lnk_homepage:focus,
.lnk_homepage:active,
.lnk_homepage.active,
.lnk_homepage.disabled,
.lnk_homepage[disabled] {
    color: #fff;
    background-color: #ff7200;
    *background-color: #ff7200;
    background-image: -moz-linear-gradient(top, #ff7200, #ff7200);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff7200), to(#ff7200));
    background-image: -webkit-linear-gradient(top, #ff7200, #ff7200);
    background-image: -o-linear-gradient(top, #ff7200, #ff7200);
    background-image: linear-gradient(to bottom, #ff7200, #ff7200);
    background-repeat: repeat-x;
    border-color: #ff7200 #ff7200 #ff7200;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7200', endColorstr='#ff7200', GradientType=0);
   filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.lnk_homepage:active,
.lnk_homepage.active {
  background-color: #ff7200 \9;
}

.c_ylw {
    color: #fff600;   
}

.margin_top1 {
    margin-top: 100px;
}

.margin_top2 {
    margin-top: 30px;
}

.padding_left1 {
    padding-left: 100px;
}

.img_scroll {
    /*margin-left: 94px;*/
}
#gotoHome{
    border-radius: 15px;
    min-width: 15%;
}
.content1 {
    margin-top: 50px;
    text-align: center;
}

.footer {
   background: #ececec;    
}

.content2 {
   padding: 50px 0;
}

.content1_con {
    margin-bottom: 50px;
}

#register_form1 p.border1 {
    border-bottom: 1px dotted #cecece;
    display: block;
    float: none;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding:0 !important;
    width: 95%;
}

#username_status {
    display: inline-block;
    padding-bottom: 10px;
    padding-left: 10px;
    position: absolute;
}

/*#username_status {
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: left;
    width: 275px;
}*/

.username_availability, .email_availability, .mobile_availability {
    font-size: 12px;
    vertical-align: middle;
}

input.error + span.error {
    display: inline-block !important;
}

.error.red {
    position: absolute;
    background-color: #FFEFEF;
    border: 1px solid #FF0000;
    color: #FF0000;
    /*display: block;*/
    font-size: 12px;
    /*margin: 10px auto;*/
    margin:0 0 0 10px;
    padding: 8px 3px;
    width: 255px;

  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.pass-container {
    border-bottom: 1px dotted #CECECE;
    font-size: 12px;
    margin: 0 auto 10px;
    padding-bottom: 5px;
}

.pass-bar {
    height: 10px;
    margin-top: 10px;
}

#cpassword_x,
#cpassword_check {
    padding: 12px;
    position: absolute !important;
}

#email_status {
    display: inline-block;
    height: 36px;
    padding: 0px 0 0 10px;
    position: absolute;
}

/*#email_status {
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: left;
    width: 275px;
}
*/
/*#register_form1 fieldset input[name="username"],
#register_form1 fieldset input[name="email"] {
    padding-right: 30px;
    width: 236px !important;
}*/

#mobile_status {
    display: inline-block;
    padding-bottom: 10px;
    padding-left: 10px;
    position: absolute;
}



.img_loader_small2 {
    padding: 5px 0 0 10px;
    position: absolute;
}

.img_loader_small {
    margin-left: -42px;
    padding: 5px 0 0 10px;
    position: absolute;
}

.offset3 label {
    line-height: 0;
    margin-bottom: 0;
}

.header_sub {
    font-size: 0.24em;
    line-height: 40px;
}

.header_sub span {
    display: block;
    font-size: 1.34em;
}

.hs_top {
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: 35px;
/*    margin-left:auto;
    margin-right: auto;*/
    width: 48%;
}
.spn18{
    display: block;
    font-size: 18px;
    line-height: 18px;
    padding: 8px 0;
}

.input-append input[name="subscribe_btn"] {
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;

    padding:10px 19px;
    width: 120px !important;
}

.btn-large {
    padding: 9px 19px;
}
.spn48{
    display: inline-block;
    font-size: 48px;
    line-height: 48px;
    padding-bottom: 30px;
}

.content1_con p.border1 {
        width: 95%;
}

.help-block.spnmsg.text-center {
    text-align: center;
}

.help-block ,.spnmsg{
    font-size: 12px;
    line-height: 12px;
    font-weight: 300;
}

/*.content2_sub {
    font-size: 0.24em;
}*/

.cotent2_title {
    text-align: center;
}

.help-block {
    line-height: 24px;
}

#register_result {
    padding: 20px 0;
    text-align: center;
}

#register_result a {
    font-size: 12px;
    display: block;
    margin-top: 50px;
    color: #0191C8;
}

#result_desc {
    font-size: 14px;
    line-height: 0;
}

.ui-widget-header {
    color: #fff;
 /*   background-color: #82c120 !important;*/
}

.ui-dialog .ui-dialog-title {
    color: #fff;
    font-size: 12px;
    padding:10px;
}

.ui-dialog .ui-dialog-titlebar-close:after {
    content: "X";
    font-size: 12px;
    left: 5px;
    position: absolute;
    top: -2px;
}

.ui-dialog .ui-dialog-titlebar {
    padding:0 !important;
}

.ui-dialog .ui-dialog-buttonpane {
    padding: 10px 0px !important;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none !important;
    text-align: center;
}

.ui-dialog-buttonset > button {
    font-size: 14px !important;
    text-align: center;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  width: 100px;
  padding:5px;
  margin:0 !important;

    -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.ui-dialog-buttonset > button:hover {
    background-color: #F89406;
    color: #FFFFFF;
}

.username_container {
    width: 400px;
    margin:0 auto;
}

.terms_con {
    font-size: 12px;
    margin-top: 20px;
}

.terms_and_conditions {
    color: #0191C8;
    cursor:pointer;
}



.t_and_c {
    font-size: 13px !important;
}

.t_and_c h3 {
    font-size: 16px;
}

.dialog {
    display: none;
}

.p_success {
    font-size: 18px;
    font-weight: 300;
    line-height: 45px;
    width: 68%;
    margin:0 auto;
}

.txt_success2 {
    margin-top: 100px;
}

.txt_success3 {
    font-size: 36px;
    margin-top: 50px;
}

.txt_success {
    margin-top: 40px;
    font-size: 24px;
}

.img_social_media a {
    opacity: .6;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:    all 0.3s ease-in-out;
    -o-transition:      all 0.3s ease-in-out;
     transition:        all 0.3s ease-in-out;   
}

.img_social_media a:hover {
    opacity: 1;
}

.img_sc_1 {
    margin-right: 40px;
}
.img_sc_1 {
    margin-left: 20px;
}

.img_social_media img {
    width: 72px;
}

.orange {
    color: #f2ec04;
}

.footer2 span {
    text-align: center;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /*#username_status {
		margin-left: 140px;
        margin-top: -50px;
    }*/
    ::i-block-chrome,#username_status {
        margin-left: auto;
        margin-top: auto;
    } 

    /*#email_status {
        margin-left: 140px;
        margin-top: -50px;     
    }*/
    ::i-block-chrome,#email_status {
        margin-left: auto;
        margin-top: auto;
    } 
	
	::i-block-chrome,#mobile_status {
        margin-left: auto;
        margin-top: auto;
    } 
}

/**********************************************************************************/
/********************************* Media Queries **********************************/
/**********************************************************************************/

 @media (width:980px) {
    
    .himg2 {
        width: 95% ;
    }
    
 }
 @media (max-width:800px) {
    
    .himg2 {
        background: none;
        text-align: center;
    }
    .txt_header2{
        padding-left: 0px;
    }
    .hs_top{
        width:100%;
    }
 }
 
 @media (max-width:360px) {    

 }
 @media (max-width:2000px) {    
    .himg2 {
    min-height: 419px;
    }
 }
/* kurtpogi*/

 @media (min-width:979px) {
 .container .span6:not(:first-child) {
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .span4 img {
    max-width: 224px;
    width: 100%;
}

.row-fluid .span6:first-child {
    border-right: 1px solid #DDDDDD;
    margin-bottom: 50px;
}
.footer{
   background: #ececec;
    width: 100%;
}
.footer .help-block ,.spnmsg{
    line-height: 24px;
    text-align: justify;
}

.footer img{
    margin-bottom: 20px;
}


}

@media (max-width: 837px) {
    input.error + span.error {
    display: block !important;
    margin: 0 auto;
    position: relative;
    }
    /*#username_status {
    display: block;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
    margin-left: auto;
    margin-top: auto;
    }

    #email_status {
    display: block;
    height: 36px;
    padding: 0px 0 0 10px;
    position: relative;
    margin-left: auto;
    margin-top: auto;
    }*/
}

@media (min-width: 768px) and (max-width: 979px) {
  .row-fluid .span6:first-child {
    border-right: 1px solid #DDDDDD;
    margin-bottom: 50px;
  }

  .footer {
    padding-bottom: 50px;
  }

  .content2_sub {
    text-align: justify;
    }

}

@media (max-width: 767px) {
    .span4,.row-fluid .span4 {
        width: auto;
    }
    .spn18 {
        display: inline-block;
        padding:10px 0;
    }

    .help-block {
        margin-bottom: 30px;
    }
    .t_and_c h3 {
        font-size: 16px;
    }
      .content2_sub {
        padding:0px 10px;
    }
}



@media (max-width: 480px) {   
    #register_form1 fieldset input,
    .subscribe_input {
        width: 65% !important;
    }

    h4 {
        font-size: 15.5px;
    }
    .txt_header {
        font-size: 0.54em;
    }
    p.txt_success {
        font-size: 0.20em;
    }

    .hs_top {
        font-size: 0.27em;
    }
    .subscribe_input {
        width: 200px;
    }

    .span4 img {
        max-width: 180px;
        width: 100%;
    }
/*
    #username_status {
        display: block;
        padding-bottom: 10px;
        padding-left: 10px;
        position: relative;
        margin-left: auto;
        margin-top: auto;
    }

    #email_status {
        display: block;
        height: 36px;
        padding: 0px 0 0 10px;
        position: relative;
        margin-left: auto;
        margin-top: auto;
    }*/

    input.error + span.error {
        display: block !important;
        margin: 0 auto;
        position: relative;
    }

    .subscribe_input {
           -webkit-border-radius: 6px !important;
     -moz-border-radius: 6px !important;
          border-radius: 6px !important;   
    }

    .subscribe_btn {
        display: block !important;
        margin: 10px auto !important;
      -webkit-border-radius: 6px !important;
     -moz-border-radius: 6px !important;
          border-radius: 6px !important;
    }

    .sub_loading_img {
        margin-left: 55px;
        margin-top: -48px;
        padding: 5px 0 0 10px;
        position: absolute;
    }

    .t_and_c h3 {
        font-size: 11px;
    }

    .t_and_c p {
        font-size: 10px;
    }

    .img_social_media img {
        width: 52px;
    }

    .content_header {
        font-size: 0.54em;
    }
}