/*! responsive-nav.js 1.0.32 by @viljamis */

.nav-collapse ul {
    display: block;
    float: right;
    list-style: none outside none;
    margin: 0;
    text-align: right;

}

.nav-collapse li {
/*  width: 100%;*/
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.discount_tag {
  display: none;
}

.ribbon_tag {
    display: block;
    float: right;
    max-width: 280px;
    width: 100%;
}

img.img_main_product {
  display: block;
  max-width: 481px;
  width: 100%;
}

.img_cd_others {
   display: block;
  max-width: 1123px;
  width: 100%; 
}

.img_cd_others2 {
   display: inline-block;
  max-width: 330px;
  width: 46%; 
  min-width: 175px;
}

.img_cd_others3 {
   display: inline-block;
  max-width: 474px;
  width: 53%;
  min-width: 175px;
}

.cd_others2_con {
    background-color: #fff;
    margin: 0 auto;
    width: 76%;
    max-width: 76% !important;
    float: none !important;
    text-align: center;
}

.cd_others_txt {
    float: none !important;
    margin-top: -50px;
    text-align: center;
}

.cd_others_image {
  float: none !important;
}

.cd_others_txt p {
  font-size: 34px;
}

.product_content2 {
  display: none;
}

.product_content1_sub {
  font-size: 1.2em;
}

.txt_reg {
  text-transform: uppercase;
}

.mgrn_top4 {
  margin-top: 20px;
}

@media screen and (min-width: 60em) {

  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }

}

@media screen and (max-width: 79.99em) {
  .product_content div:first-child h1 span {
    display: block;
  }
  .product_content h1:nth-child(3):before {
        border-bottom: 2px solid red;
        position: absolute;
        content: "";
        width: 206px;
        height: 31px;
    }
      .slide-6 .product_content div:first-child h1:first-child {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 59.99em) {
  
    .nav_container {
          background-color: #FFFFFF;
          position: absolute;
          right: 0;
          width: 260px;
    }

    nav {
      background-color: #FFFFFF;
      margin-top: 64px;
    }

    .nav-collapse ul {
       float: left;
    }
    .nav-collapse li {
       float: none;
    }
    .nav-collapse li.btn_login {
      border-bottom: rgb(235, 235, 228);
      height: auto;
      padding-left: 10px;
      width: 17em;
    }
    .nav-collapse a {
      float: none;
    }

    .header .btn_login {
      margin:0;
      padding-top: 30px;
    }

    .nav-collapse li.btn_register {
      border-bottom: 1px solid rgb(235, 235, 228);
      padding-left: 10px;
      text-align: left;
      width: 17em;
    }

    .btn_login input {
      display: block;
      width: 20em;
      border: 1px solid #f14f00;
      margin-bottom: 20px;
    }

    .header .btn_login input[type="submit"] {
      border: 1px solid #494949;
      background-color: #494949;
      width: 17em;
    }
    .header .btn_login input[type="submit"]:hover {
       border: 1px solid #2e2d2d;
      background-color: #2e2d2d;
      width: 17em;
    }

    .header .btn_register span {
      display: inline-block;
      height: 2.5em;
     line-height: 2.5em;
     padding: 0;
     width: 15em;
    }

    .nav-collapse li.grid-1 {
      display: none;
    }

    .nav-collapse li.shop_con {
      display: block;
      text-align: center;
    }
    
    .nav-collapse li.shop_con a {
        font-weight: bold;
        border-bottom: 1px solid #EDEDED;
        color: #494949;
        display: block;
        margin: 0;
        padding: 10px;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out ;
        -o-transition: all 0.3s ease-out ;
        transition: all 0.3s ease-out ;
    }

    .nav-collapse li.shop_con a:hover {
      background-color:  #cecccc;
    }

    .product_content div:first-child {
      max-width: 55%;
      width: auto;
    }

    .product_content div:first-child h1 {
      font-size: 4.5em;
      font-weight: 300;
      line-height: 0.75em;
    }

    .product_content div:first-child h1 span:first-child {
      display: block;
    }
    .product_content div:first-child h1 span {
    font-size: 0.5em;
  }
  .product_content div:first-child {
    padding-right: 0px;
  }
}

@media only screen and (max-width : 780px) {
  .product_content div:first-child {
    padding-right: 0px;
  }
  .product_content div:first-child h1 {
    font-size: 3.8em;
  }
    .slide-5 .product_content div:first-child h1:first-child {
    font-size: 3.6em;
}

  .product_content h1:nth-child(3):before {
    border-bottom: 2px solid #FF0000;
    content: "";
    height: 21px;
    position: absolute;
    width: 165px;
  }

  .slide-4 .product_content div:first-child h1 {
    font-size: 3em;
  }

  .product_content1_sub {
    font-size: 1em;
  }

  .mgrn_top4 {
    margin-top: 20px;
  }

  .fs2 {
    font-size: 2em;
  }
  .cd_others2_con {
    text-align: center;
  }

}

@media only screen and (max-width : 620px) {
  .product_content1_sub {
    font-size: 0.850em;
  }
}

@media only screen and (max-width : 460px) {
  
  .btn_login input {
    width: 17em;
  }
  .header .btn_login input[type="submit"],
  .header .btn_login input[type="submit"]:hover,
   #register_container input,
  .grid-6 h4 {
    width: 80%;
  }

  /*.header .btn_register span {
    width: 12.5em;
  }*/
  .container-16 .grid-6 {
    width: 93%;
  }
   .grid-6 {
    margin-right: 15px;
  } 
    .terms_con {
    width: 21em;
  }
  /**** product content *****/
  .product_content {
    padding: 0 5px; 
  }

  .product_content div:first-child h1 {
    font-size: 2.5em;
  }

  .product_content h1:nth-child(3):before {
    border-bottom: 2px solid #FF0000;
    content: "";
    height: 14px;
    position: absolute;
    width: 110px;
  }

  .discount_tag {
    background-color: #ae0100;
    color: #fff;
    font-size: 0.750em;
    display: inline-block;
  }

  .discount_tag p span {
    font-size: 1.7em;
    font-weight: bold;
  }

  img.ribbon_tag {
    display: none;
  }

  .product_content1_sub {
    display: none;
  }

  .product_content2 {
    display: block;
    font-size: 0.750em;
  }

  .product_content2 p {
    text-align: justify;
  }

  .fs2 {
    font-size: 2em;
  }

  .mgrn_top4 {
    margin-top: 12px;
  }

  .slide-1 .product_content > div {
    float: none;
  }

  .slide-1 .product_content div:first-child {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  .product_content h1:nth-child(3):before {
    left: 35%;
  }

  .img_product_content {
    max-width: 100%;
  }

  .img.img_main_product {
    max-width: 190px;
  }

  .slide-5 .product_content div:first-child h1:first-child {
    font-size: 2.5em;
  }
  .slide-6 .product_content div:first-child h1:first-child {
    font-size: 1.8em;
  }

  /**** register section ***/
  .reg2_username,
  .reg2_password,
  .reg2_confirmpassword,
  .reg2_email,
  .mobile,
  .reg2_tc,
  .reg2_btn_submit {
  display: block;
  width: 97%;
  }

  .reg2_username input {
   max-width: 85%;
   width: 100%;
  }

  .reg2_tc .terms_con {
    width: auto;
  }
  .cd_others_txt {
    margin-top: 0;
  }
}

@media only screen and (max-width : 320px) {
  .btn_login input {
    width: 17em;
  }
  .header .btn_login input[type="submit"],
  .header .btn_login input[type="submit"]:hover,
  .nav-collapse li.shop_con,
  #register_container input,
  .grid-6 h4 {
    width: 14.5em;
  }

  .header .btn_register span {
    width: 12.5em;
  }

  .container-16 .grid-6 {
    width: 93%;
  }

  .grid-6 {
    margin-right: 15px;
  }

  .terms_con {
    width: 21em;
  }
  .product_content h1:nth-child(3):before {
    left: 27%;
  }

  .reg2_username, .reg2_password, .reg2_confirmpassword, .reg2_email, .mobile, .reg2_tc, .reg2_btn_submit {
  width: 77%;
  }

  .reg2_username input {
    width: 85%;
  }

  .pass-container {
    width: 88% !important;
  }

  .div.pass-bar {
    width: 90%;
  }

  #userpage {
    width: 76% !important;
  }


  .cd_others_txt p {
  font-size: 16px;
}
}


/* iPads (portrait and landscape) ----------- */
@media (min-width: 768px) and (max-width : 1024px) {
/* Styles */
  .header {
    width: auto;
    max-width: 100%;
    margin:0 auto;
  }

}

@media (min-width: 1024px) and (max-width : 1100px) {
  .header .btn_login {
    margin-left: 3em;
  }
}

@media only screen and (max-width : 644px) {
/*  .footer_payment{
    display:none;*/
    .cd_others2_con {
      text-align: center;
    }

  }

  
  @media only screen and (max-width : 960px) {
  #userpage{
    width: 91%;
  }
    
  .nav-collapse {
  display:none;
  border: 1px solid rgb(235, 235, 228);
  -webkit-box-shadow: 0 0 10px #000;
 -moz-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
}}
  
  



